<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Lighting-Studio/ci/1161/N/4294551176" property="item" typeof="WebPage">
                        <span property="name">
                            Lighting &amp; Studio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Light-Modifiers/ci/19911/N/4062040414" property="item" typeof="WebPage">
                        <span property="name">
                            Light Modifiers
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Light Modifiers</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Lighting Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/rob-k.png" alt="Rob K., B&amp;H Lighting Expert" title="Rob K., B&amp;H Lighting Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/gary-l_bw.png" alt="Gary L., B&amp;H Lighting Expert" title="Gary L., B&amp;H Lighting Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/hector_c.png" alt="Hector C., B&amp;H Lighting Expert" title="Hector C., B&amp;H Lighting Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Lighting-&amp;-Studio/-/ci/1161"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/softboxes-accessories/ci/31158/N/3662541014" id="Softboxes   Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/138243.jpg" alt="Softboxes &amp; Accessories">

                                        <div class="clp-categoryName">Softboxes &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/umbrellas-accessories/ci/28874/N/3662541035" id="Umbrellas   Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/42526.jpg" alt="Umbrellas &amp; Accessories">

                                        <div class="clp-categoryName">Umbrellas &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/reflectors-accessories/ci/31160/N/3662540999" id="Reflectors   Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/884995.jpg" alt="Reflectors &amp; Accessories">

                                        <div class="clp-categoryName">Reflectors &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/barndoors-snoots-grids/ci/31159/N/3662541005" id="Barndoors  Snoots   Grids" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/750820.jpg" alt="Barndoors, Snoots &amp; Grids">

                                        <div class="clp-categoryName">Barndoors, Snoots &amp; Grids</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/gels-diffusion/ci/28875/N/3662541031" id="Gels   Diffusion" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1100309.jpg" alt="Gels &amp; Diffusion">

                                        <div class="clp-categoryName">Gels &amp; Diffusion</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/lenses-gobos/ci/31162/N/3662540996" id="Lenses   Gobos" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/125760.jpg" alt="Lenses &amp; Gobos">

                                        <div class="clp-categoryName">Lenses &amp; Gobos</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/butterflies-panel-reflectors/ci/28878/N/3662541022" id="Butterflies   Reflectors" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1175590.jpg" alt="Butterflies &amp; Reflectors">

                                        <div class="clp-categoryName">Butterflies &amp; Reflectors</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/flags-dots-cucoloris/ci/28876/N/3662541026" id="Cucoloris  Flags   Scrims" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/32842.jpg" alt="Cucoloris, Flags &amp; Scrims">

                                        <div class="clp-categoryName">Cucoloris, Flags &amp; Scrims</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Filter-Diffuser-Holders/ci/5706/N/3662540991" id="Light Control   Accessory Kits" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1297248.jpg" alt="Light Control &amp; Accessory Kits">

                                        <div class="clp-categoryName">Light Control &amp; Accessory Kits</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;19911&quot;}" data-count="3" data-slot="1155">
                            <div> <a class="pla2-item clearfix" title="Westcott Switch Beauty Dish (24&quot;)" href="https://ad.tagdelivery.com/click?id=61be4d0d-a2c6-4c69-860d-ed9b27f82d17&amp;x=RVTrGOcygpzHrha2n_z8nJZocV6PHwo7S-EZCfl5jda1X-bt0fSqDRslZW86JRtrxsDfDxW-6BogKs54SQp0v20mzxPin8Zedxe40LzId1ie_5qzRz2prH93cwaffRXSGYd9DUbWt90bFqmsErHPCyMUksLc1V7NQkKPSBX7UxtvYX-uiyD9ruMgt4-Izql-Fb4sFGD7aEigGaaTmK_y8u3hAAwS2wR3uEsVh_utHQahmZa7onkMXGUIp4SCduTbIoGL5YtfvEi4hhiYAU8NnA%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1409639-REG/westcott_2520_beautydish_switch.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="https://static.bhphoto.com/images/images150x150/1528343599000_1409639.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">Westcott Switch Beauty Dish (24")</div>
                                        <div class="pla2-price-row"> <span class="pla2-final-price c7">$289.90</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=61be4d0d-a2c6-4c69-860d-ed9b27f82d17&amp;x=RVTrGOcygpzHrha2n_z8nJZocV6PHwo7S-EZCfl5jda1X-bt0fSqDRslZW86JRtrxsDfDxW-6BogKs54SQp0v20mzxPin8Zedxe40LzId1ie_5qzRz2prH93cwaffRXSGYd9DUbWt90bFqmsErHPCyMUksLc1V7NQkKPSBX7UxtvYX-uiyD9ruMgt4-Izql-Fb4sFGD7aEigGaaTmK_y8u3hAAwS2wR3uEsVh_utHQahmZa7onkMXGUIp4SCduTbIoGL5YtfvEi4hhiYAU8NnA%3D%3D" src="https://ad.tagdelivery.com/impression?id=61be4d0d-a2c6-4c69-860d-ed9b27f82d17&amp;x=RVTrGOcygpzHrha2n_z8nJZocV6PHwo7S-EZCfl5jda1X-bt0fSqDRslZW86JRtrxsDfDxW-6BogKs54SQp0v20mzxPin8Zedxe40LzId1ie_5qzRz2prH93cwaffRXSGYd9DUbWt90bFqmsErHPCyMUksLc1V7NQkKPSBX7UxtvYX-uiyD9ruMgt4-Izql-Fb4sFGD7aEigGaaTmK_y8u3hAAwS2wR3uEsVh_utHQahmZa7onkMXGUIp4SCduTbIoGL5YtfvEi4hhiYAU8NnA%3D%3D"> </div>
                            <div> <a class="pla2-item clearfix" title="Westcott Rapid Box Switch Octa-M Softbox 36&quot;" href="https://ad.tagdelivery.com/click?id=977ccfc4-91f7-44a5-ab44-3d408ca4532f&amp;x=9YQSv1HRrcYNVBB2jOelEPo-2lpMAQ4yphd__QX8nWskHOSniizzGi1F3d2wqZgPVNFSY92M5a4wzi1wLdPuzjD52wzoAtT5PDqCUlBaV0Aq-3xNQ-qemVxXihkcN4srQvChD56hu4A1Kaca6MulIa1gcBJ_5p-npx3UkFdhbLgYL8BVZvRrsMz6lzZUhc5rMGrwfMzynFm4GUqOitwJDXb0Owwx34UIRuVX5Ah89uQLBq202tIhWtLkz5MZmD49YqcLbzEo1RZegh7a6DECNg%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1409641-REG/westcott_2522_rapid_box_switch_octa_m.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="https://static.bhphoto.com/images/images150x150/1528343599000_1409641.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">Westcott Rapid Box Switch Octa-M Softbox 36"</div>
                                        <div class="pla2-price-row"> <span class="pla2-final-price c7">$244.90</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=977ccfc4-91f7-44a5-ab44-3d408ca4532f&amp;x=9YQSv1HRrcYNVBB2jOelEPo-2lpMAQ4yphd__QX8nWskHOSniizzGi1F3d2wqZgPVNFSY92M5a4wzi1wLdPuzjD52wzoAtT5PDqCUlBaV0Aq-3xNQ-qemVxXihkcN4srQvChD56hu4A1Kaca6MulIa1gcBJ_5p-npx3UkFdhbLgYL8BVZvRrsMz6lzZUhc5rMGrwfMzynFm4GUqOitwJDXb0Owwx34UIRuVX5Ah89uQLBq202tIhWtLkz5MZmD49YqcLbzEo1RZegh7a6DECNg%3D%3D" src="https://ad.tagdelivery.com/impression?id=977ccfc4-91f7-44a5-ab44-3d408ca4532f&amp;x=9YQSv1HRrcYNVBB2jOelEPo-2lpMAQ4yphd__QX8nWskHOSniizzGi1F3d2wqZgPVNFSY92M5a4wzi1wLdPuzjD52wzoAtT5PDqCUlBaV0Aq-3xNQ-qemVxXihkcN4srQvChD56hu4A1Kaca6MulIa1gcBJ_5p-npx3UkFdhbLgYL8BVZvRrsMz6lzZUhc5rMGrwfMzynFm4GUqOitwJDXb0Owwx34UIRuVX5Ah89uQLBq202tIhWtLkz5MZmD49YqcLbzEo1RZegh7a6DECNg%3D%3D"> </div>
                            <div> <a class="pla2-item clearfix" title="Westcott Rapid Box Switch Octa-L Softbox 48&quot;" href="https://ad.tagdelivery.com/click?id=9094ccc0-bf3f-4d5e-87d3-d45ea583e65a&amp;x=JBDFW5_3VVPVdps8_5543_6YL4VW4_MXj0halRqFai2n2_FwcQRmni3gE_z_sbPFWFT1sYsWoaaldELwJypG5FdiLFLtT9n3h1C12NTCt2diqXcDSjfd4gBflJo5wIQuqZpJDgrPUyXhsyPry9Qe69rAhDVpeilEAK8Ea7gpfYEQWNfUmFUD6uH4_q-Eg-RNyba9pTi7YOltHDlgKxVNZEgJDSGOAXTZ1flvMzqS3pmO3605oPuMwYx6G3qpkPQKq2mCXJwEhYifF41kJQxnJg%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1409642-REG/westcott_2523_rapid_box_switch_octa_l.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="https://static.bhphoto.com/images/images150x150/1528343599000_1409642.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">Westcott Rapid Box Switch Octa-L Softbox 48"</div>
                                        <div class="pla2-price-row"> <span class="pla2-final-price c7">$289.90</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=9094ccc0-bf3f-4d5e-87d3-d45ea583e65a&amp;x=JBDFW5_3VVPVdps8_5543_6YL4VW4_MXj0halRqFai2n2_FwcQRmni3gE_z_sbPFWFT1sYsWoaaldELwJypG5FdiLFLtT9n3h1C12NTCt2diqXcDSjfd4gBflJo5wIQuqZpJDgrPUyXhsyPry9Qe69rAhDVpeilEAK8Ea7gpfYEQWNfUmFUD6uH4_q-Eg-RNyba9pTi7YOltHDlgKxVNZEgJDSGOAXTZ1flvMzqS3pmO3605oPuMwYx6G3qpkPQKq2mCXJwEhYifF41kJQxnJg%3D%3D" src="https://ad.tagdelivery.com/impression?id=9094ccc0-bf3f-4d5e-87d3-d45ea583e65a&amp;x=JBDFW5_3VVPVdps8_5543_6YL4VW4_MXj0halRqFai2n2_FwcQRmni3gE_z_sbPFWFT1sYsWoaaldELwJypG5FdiLFLtT9n3h1C12NTCt2diqXcDSjfd4gBflJo5wIQuqZpJDgrPUyXhsyPry9Qe69rAhDVpeilEAK8Ea7gpfYEQWNfUmFUD6uH4_q-Eg-RNyba9pTi7YOltHDlgKxVNZEgJDSGOAXTZ1flvMzqS3pmO3605oPuMwYx6G3qpkPQKq2mCXJwEhYifF41kJQxnJg%3D%3D"> </div>
                        </div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;19911&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar"></div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/photography/news/craft-your-lighting-with-flashgels-color-correction-sets" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/27105-covershot2.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/27105-covershot2.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Craft Your Lighting with Flashgels Color Correction Sets</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/photography/tips-and-solutions/8-invaluable-tools-for-outdoor-photographers-on-a-sunny-day" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/26080-cs.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/26080-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>8 Invaluable Tools for Outdoor Photographers on a Sunny Day</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/news/lastolite-ezybox-pro-strip-softbox-announcement" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lastolite-ezybox-pro-strip-softbox-10x59_0.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lastolite-ezybox-pro-strip-softbox-10x59_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Lastolite Ezybox Pro Strip Softbox Announcement</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/hands-on-review/things-we-love-reflectors" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-top_reflector.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-top_reflector.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>Things We Love: Reflectors</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/video/hands-review/quick-look-light-motion-stella-led-lights" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/covershot6_6.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/covershot6_6.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>Quick Look: Light &amp; Motion Stella LED Lights</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>About Light Modifiers</h2>
                <p>Light modifiers are devices that can improve the lighting in photos. Whether a scene has ambient or artificial light, you can use a light modifier to achieve a particular mood. With modifiers, you're able to highlight something important in a scene, soften harshness, or flatter a subject. Modifiers can be freestanding, handheld, or designed to fit over a camera lens. Some are collapsible and portable, while others require space and careful handling.</p>
                <br>
                <h3>Types of Light Modifiers</h3>
                <h3></h3>
                <h4><b>Light Shapers</b></h4>
                <p>Light shapers are devices that bend light into particular forms. They fit over studio lights to allow for more control over the size and direction of light. Barndoors create an effect like light coming through a partially open doorway. Snoots and grids are used to keep light focused in a more specific direction. Light shapers are useful for highlighting small areas such as hair or one part of a large scene. Keep in mind that some light shapers are heavy, and may be a little more challenging to use.</p>
                <h3></h3>
                <h4><b>Bouncers, Reflectors, and Absorbers</b></h4>
                <p>When you need to minimize shadows, turn to <a href="https://www.bhphotovideo.com/c/buy/Background-Panels/ci/12974/N/3662541021">reflector boards</a> and reflecting umbrella lights. These accessories bounce light off surfaces, softening, diffusing, or redirecting it. Use absorbers when reflection isn't necessary or wanted. Absorbers are black reflectors that deepen dark areas of the composition by filtering reflections. Use these modifiers when the light of your flash would be too harsh for your subject.</p>
                <h3></h3>
                <h4><b>Diffusers and Filters</b></h4>
                <p>Diffusers soften light by scattering it over an area larger than the source light. They can be <a href="https://www.bhphotovideo.com/c/buy/Standard-Softboxes/ci/1337/N/3662541013">softboxes</a>, translucent panels, <a href="https://www.bhphotovideo.com/c/buy/umbrella-diffusers/ci/31190/N/3661268320">umbrella diffusers</a>, or filters, which are all units that fit over the larger light. You can also get this effect using diffuser lenses on your camera. Diffusion is hard to manage, so use these modifiers for tight pictures, such as portraits, where you have more control of the size of your composition.</p>
                <h3></h3>
                <h4><b>Studio Lighting Kits</b></h4>
                <p>Whether you're a professional or a hobbyist, studio lighting kits can be quite helpful for your shoots. Kits often include the two major types of lighting: studio flash kits and kits with strobe lighting. The kits come with a lighting source and accessories. Kits can include light modifying devices such as <a href="https://www.bhphotovideo.com/c/buy/Projection-Attachments-Lenses/ci/1676/N/3662540994">lighting projection lenses</a>, reflectors, or studio umbrella lights. There are kits in a range of prices and complexity to accommodate all experience levels.</p>
                <h3></h3>
                <p>Light modifiers are critical when achieving the perfect photograph. Regardless of your level of expertise, you can learn and explore more with B&amp;H Photo and Video's extensive inventory and customer support.</p>
            </div>
        </div>


    </div>
</div>