<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Professional-Audio/ci/12154/N/4294550705" property="item" typeof="WebPage">
                        <span property="name">
                            Pro Audio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Microphones/ci/14929/N/3681064906" property="item" typeof="WebPage">
                        <span property="name">
                            Microphones
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Microphones</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Pro Audio Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/merry-a_bw.png" alt="Merry A., B&amp;H Pro Audio Expert" title="Merry A., B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/deesh_p.png" alt="Deesh P., B&amp;H Pro Audio Expert" title="Deesh P., B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/dan-a_bw.png" alt="Daniel A., B&amp;H Pro Audio Expert" title="Daniel A., B&amp;H Pro Audio Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Pro-Audio/-/ci/12154"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Recording-Microphones/ci/14700/N/3681064905" id="Recording Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/564554.jpg" alt="Recording Microphones">

                                        <div class="clp-categoryName">Recording Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Stage-Microphones/ci/14932/N/3681064890" id="Live Sound Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1263885.jpg" alt="Live Sound Microphones">

                                        <div class="clp-categoryName">Live Sound Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/ENG-EFP-Microphones/ci/14931/N/3681064895" id="Location Sound Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1424788.jpg" alt="Location Sound Microphones">

                                        <div class="clp-categoryName">Location Sound Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/location-sound-wireless-microphones/ci/30373/N/3681064882" id="Location Sound Wireless Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1221503.jpg" alt="Location Sound Wireless Microphones">

                                        <div class="clp-categoryName">Location Sound Wireless Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/live-sound-wireless-microphones/ci/30374/N/3681064877" id="Live Sound Wireless Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/969663.jpg" alt="Live Sound Wireless Microphones">

                                        <div class="clp-categoryName">Live Sound Wireless Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/USB-Microphones/ci/14713/N/3681064896" id="USB Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/836611.jpg" alt="USB Microphones">

                                        <div class="clp-categoryName">USB Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/microphones/ci/22909/N/3681064883" id="Mobile Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1186598.jpg" alt="Mobile Microphones">

                                        <div class="clp-categoryName">Mobile Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/dslr-microphones/ci/18781/N/3673094733" id="DSLR Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1152351.jpg" alt="DSLR Microphones">

                                        <div class="clp-categoryName">DSLR Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Paging-Security/ci/14250/N/3673094734" id="Paging   Security Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/534321.jpg" alt="Paging &amp; Security Microphones">

                                        <div class="clp-categoryName">Paging &amp; Security Microphones</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Microphone Accessories"></a>
                            <h2 class="clp-sectionTitle">Microphone Accessories</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/location-sound-microphone-accessories/ci/30381/N/3681064872" id="Location Sound Microphone Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="https://static.bhphoto.com/images/images150x150/1056426.jpg" data-src="https://static.bhphoto.com/images/images150x150/1056426.jpg" alt="Location Sound Microphone Accessories">


                                        <div class="clp-categoryName">Location Sound Microphone Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/wireless-microphone-accessories/ci/30382/N/3681064862" id="Wireless Microphone Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="https://static.bhphoto.com/images/images150x150/227124.jpg" data-src="https://static.bhphoto.com/images/images150x150/227124.jpg" alt="Wireless Microphone Accessories">


                                        <div class="clp-categoryName">Wireless Microphone Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/general-microphone-accessories/ci/30383/N/3681064854" id="General Microphone Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="https://static.bhphoto.com/images/images150x150/1023331.jpg" data-src="https://static.bhphoto.com/images/images150x150/1023331.jpg" alt="General Microphone Accessories">


                                        <div class="clp-categoryName">General Microphone Accessories</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;14929&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;14929&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=6b90e415-0855-4ed0-b90e-77cdfde7bb59&amp;x=pyEiEf_6E0UWGs3dQ6zOG-mgCb60-2plic8cfffhBXmSdeVKeUShCKktGB6g8Su2R-b2MPk3ihg4U4WE8UzfhtDBoQIBLwA-MFlqRmbjxczKIY4ANR0-_nZycllf64WGmyPzHMSu_He-8vxd9wbuV9u73RviyjTjMqBR9VFq2pmAuXi6RCm4mS212FX1rIYugiiqdMBw-bqaybNHh-tIR4uGwo-3BQ9BxkOOpj__6Jz_dOybjVV-U79zVPy3eAZYedp6S8Js1rHgrWk_lUK3gw%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/buy/fujifilm-cameras/ci/43930" class="overlay-on-hover" style="text-align: center" data-campaign-id="43806"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/64c818ba80cfa6f59d31de19e00cf932" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=6b90e415-0855-4ed0-b90e-77cdfde7bb59&amp;x=pyEiEf_6E0UWGs3dQ6zOG-mgCb60-2plic8cfffhBXmSdeVKeUShCKktGB6g8Su2R-b2MPk3ihg4U4WE8UzfhtDBoQIBLwA-MFlqRmbjxczKIY4ANR0-_nZycllf64WGmyPzHMSu_He-8vxd9wbuV9u73RviyjTjMqBR9VFq2pmAuXi6RCm4mS212FX1rIYugiiqdMBw-bqaybNHh-tIR4uGwo-3BQ9BxkOOpj__6Jz_dOybjVV-U79zVPy3eAZYedp6S8Js1rHgrWk_lUK3gw%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=ef4e85ca-5fb4-4c7b-b6cb-ac40c60e9f42&amp;x=Ye0gdbjYi-rE0-v-LTpt6env7KCGkZ0A-7P4ErvdjrkyMuBjvcdThWEOfpKSCp0pBSqUu6cFpnfVnzk9x7e655-58xJawi0E1rv7Z7jwnTXKh2hjQ3XDzBrpKUaAgNvaZNKWjkNp_SItrHCm_pNVLnxuLQkOxZ4Y1Fd1XsBacKlioDK2wrn6PHXWAKBbCth7WzJW0F7tc2v-MuYkSlFI9E78F-qkdbhx4ZQJ07w1LJ_-AnSJq54UZx3Vr_Buc1KKw0Sj8fABehdJE5Ux4ydQjA%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/967366-REG/zoom_h6_handy_audio_recorder.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="42517"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/ae5d5dfebc6142afd47bedecc5c90fb5" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=ef4e85ca-5fb4-4c7b-b6cb-ac40c60e9f42&amp;x=Ye0gdbjYi-rE0-v-LTpt6env7KCGkZ0A-7P4ErvdjrkyMuBjvcdThWEOfpKSCp0pBSqUu6cFpnfVnzk9x7e655-58xJawi0E1rv7Z7jwnTXKh2hjQ3XDzBrpKUaAgNvaZNKWjkNp_SItrHCm_pNVLnxuLQkOxZ4Y1Fd1XsBacKlioDK2wrn6PHXWAKBbCth7WzJW0F7tc2v-MuYkSlFI9E78F-qkdbhx4ZQJ07w1LJ_-AnSJq54UZx3Vr_Buc1KKw0Sj8fABehdJE5Ux4ydQjA%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/tips-and-solutions/when-to-use-a-parabolic-microphone-instead-of-a-shotgun-microphone" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/27215-cs.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/27215-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>When to Use a Parabolic Microphone Instead of a Shotgun Microphone</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/special-recording-performance-and-monitoring-bundles-from-shure" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-shure-special-recording-performance-and-monitoring-bundles.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-shure-special-recording-performance-and-monitoring-bundles.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Special Recording, Performance, and Monitoring Bundles from Shure </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/rode-announces-the-podmic-dynamic-podcasting-microphone" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs_rode-podmic.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs_rode-podmic.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>RØDE Announces the PodMic Dynamic Podcasting Microphone </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/buying-guide/wireless-microphones-for-every-occasion" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/23565-covershot1-shutterstock_1026451534.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/23565-covershot1-shutterstock_1026451534.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Wireless Microphones for Every Occasion</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/tips-and-solutions/what-the-heck-about-all-those-mic-specs" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/22715-cs.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/22715-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>What the Heck About All Those Mic Specs?</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/lectrosonics-announces-future-proof-900-mhz-digital-hybrid-wireless-mic-systems" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lectrosonics-announces-900-mhz-wireless-mic-systems_941-groups.gif" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lectrosonics-announces-900-mhz-wireless-mic-systems_941-groups.gif">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Lectrosonics Announces Future-Proof 900 MHz Digital Hybrid Wireless Mic Systems</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Microphones</h2>
                <p>Microphones are critical to making live sound and recording projects successful. They can be used for presentations, musical performances, interviews, vlogging, and many other applications. Determining which microphone is right for you depends on sensitivity, frequency response, directionality, and the ability to exclude unwanted sound and noise.</p>
                <br>
                <h3>Different Types of Microphones</h3>
                <p><br><br><strong>Dynamic</strong><br>A dynamic microphone is a great all-around solution for many recording and live sound applications. It's robust with a diaphragm connected to a coil inside a magnet. This vibrates to create an electrical current that captures loud sounds without distortion.</p>
                <p><strong>Condenser</strong><br>Very popular for studio recording, a condenser mic has a vibrating capacitor, causing variation to an electrical current from a battery or power source. This type has a good frequency response and is sensitive to fine details.</p>
                <p><strong>Ribbon</strong><br>Ribbon mics are versatile solutions for recording as well as live sound performances. One of these uses a small metal ribbon held in a magnetic field. As the ribbon vibrates, it generates a voltage. This model is very sensitive and produces good, clean sound.</p>
                <p><strong>USB</strong><br>USB microphones are convenient plug-and-play solutions for recording a variety of things, including musical vocals, podcasts, radio, and Skype. Although a&nbsp;<a href="https://www.bhphotovideo.com/c/buy/USB-Microphones/ci/14713/N/3992462114">USB microphone</a> has a conventional design, it's different in that it converts an analog signal into a digital sound signal that computers recognize.</p>
                <p><strong>Wireless</strong><br>In short, wireless microphones are convenient, easily transportable, and don't require cumbersome cables. This makes them easy to pass around, and allows performers to move freely about the stage.</p><br>
                <h3>Understanding Polar Patterns</h3>
                <p>Each mic&nbsp;has a unique polar pattern reflecting its sensitivity to sound from different directions. The most common polar patterns are:</p>
                <ul>
                    <li>Omnidirectional: Intended for studio work, this type detects sound equally from all directions</li>
                    <li>Cardioid: Heart-shaped sensitivity pattern that's ideal for performing artists, with maximum sensitivity in the direction of the&nbsp;microphone, and less behind</li>
                    <li>Bidirectional: Often used in interviews, they're equally sensitive in front and behind</li>
                    <li>Unidirectional: Good for recording distant sound and very sensitive along its axis. Also called shotgun pattern</li>
                </ul>
                <br>
                <h3>Choosing Live&nbsp;Microphones</h3>
                <p>A recording microphone for studio work needs to be sensitive and have excellent frequency response. To isolate individual performers, it's common to use directional <a href="https://www.bhphotovideo.com/c/browse/Recording-Microphones/ci/14700/N/3631351264">studio recording microphones</a>. While a dynamic model is good for strong, loud sounds, a condenser mic&nbsp;has better high-frequency performance. The size of the condenser diaphragm affects its response to high frequencies, and smaller is better. Ribbon mics are generally more durable than dynamic ones, and also have better high-frequency response than condensers.</p>
                <br>
                <h3>Using Microphones for Video Recording</h3>
                <p>The quality of sound has a major impact on any production, so it's important to capture clear sound while minimizing other unwanted noise. Several types of <a href="https://www.bhphotovideo.com/c/buy/location-sound-wireless-microphones/ci/30373/N/3681064882">location sound wireless microphones</a> are available, ranging from the directional shotgun model to a stereo microphone that adds depth by identifying sound direction. A DSLR version is usually omnidirectional, and you can obtain clearer sound and reduce interference by using directional <a href="https://www.bhphotovideo.com/c/buy/dslr-microphones/ci/18781/N/4077634560">DSLR microphones</a>.
                </p>
            </div>
        </div>


    </div>
</div>
