<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/A-V-Presentation/ci/3644/N/4294546288" property="item" typeof="WebPage">
                        <span property="name">
                            Audio Visual Presentation
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Projector-Screens-by-Brand/ci/9829/N/4034387537" property="item" typeof="WebPage">
                        <span property="name">
                            Projection Screens
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle clp-smallerText">Multimedia Projector Screens</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Audio Visual Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/wellington-f_bw.png" alt="Wellington F., B&amp;H A/V Expert" title="Wellington F., B&amp;H A/V Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/bryan-y_bw.png" alt="Bryan Y., B&amp;H A/V Expert" title="Bryan Y., B&amp;H A/V Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/leticia_m_bw.png" alt="Leticia M., B&amp;H A/V Expert" title="Leticia M., B&amp;H A/V Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Audio-Visual-Presentation/-/ci/3644"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div class="clp-subCatPage" data-selenium="subCategories">
                        <ul class="clp-sectionContainer">

                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/buy/projection-screens-new/ci/25431/N/3803239175" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/25431.jpg" alt="Projection Screens   (by Type)">
                                    </div>

                                    <h2 class="clp-sectionTitle">Projection Screens (by Type)</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/electric-wall-ceiling-screens-wide-formats/ci/25432/N/3803239174">Electric Screens (Wide Formats)</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/electric-wall-ceiling-screens-4-3-square/ci/25433/N/3803239173">Electric Screens (Square &amp; 4:3 Formats)</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/manual-wall-celing-screens/ci/25434/N/3803239172">Manual Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/fixed-frame-screens/ci/25435/N/3803239171">Fixed Frame Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/masking-electric-screens/ci/25437/N/3803239169">Masking Electric Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/video-conference-screens/ci/25436/N/3803239170">Video Conference Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/folding-screens/ci/25438/N/3803239168">Folding Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/floor-screens/ci/25439/N/3803239167">Floor Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/tripod-screens/ci/25440/N/3803239166">Tripod Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/tabletop-screens/ci/25441/N/3803239165">Tabletop Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/rear-projection-components/ci/25442/N/3803239164">Rear Projection Components</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/lace-grommet-cut-to-size-screens/ci/25443/N/3803239163">Lace/Grommet &amp; Cut to Size Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/replacement-surfaces/ci/25444/N/3803239162">Replacement Surfaces</a></li>

                                </ul>
                            </li>
                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/browse/Other-Brand-Screens/ci/20445/N/4034387527" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/20445.jpg" alt="Projection Screens   (by Brand)">
                                    </div>

                                    <h2 class="clp-sectionTitle">Projection Screens (by Brand)</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/browse/Square-Format-Screens/ci/4562/N/4034387521">Dalite Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/browse/Video-Format-HDTV-Screens/ci/4572/N/4034387511">Draper Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Projector-Screens/ci/15470/N/4034387525">Elite Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/grandview-screens/ci/30026/N/3701879025">GrandView Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/recordex-usa-screens/ci/24478/N/3943751116">Recordex USA Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/stewart-screens/ci/24479/N/3943751115">Stewart Filmscreens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Econo-Pro/ci/10054/N/4034387526">Vutec Screens</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Projector-Screens/ci/17051/N/4034387524">The Screen Works</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Other-Brands/ci/4599/N/4034387523">Other Brands</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Goo-Systems/ci/8564/N/4034387522">Goo Systems</a></li>

                                </ul>
                            </li>
                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/buy/Screen-Accessories/ci/18105/N/4034387536" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/18105.jpg" alt="Projection Screen Accessories">
                                    </div>

                                    <h2 class="clp-sectionTitle">Projection Screen Accessories</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Drapery/ci/18106/N/4034387535">Drapery</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Drapery-Hardware/ci/18118/N/4034387534">Drapery Hardware</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Brackets-Trim-Kits/ci/18121/N/4034387533">Mounting Hardware</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Screen-Frames-Hardware/ci/18180/N/4034387529">Screen Frames</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Masking-Panels-Strips/ci/18181/N/4034387528">Masking Panels &amp; Strips</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Remotes-Controllers/ci/18128/N/4034387532">Remotes &amp; Controllers</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Cases-Bags/ci/18144/N/4034387531">Projector Screen Bags &amp; Cases</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/A-V-Screen-Accessories/ci/18162/N/4034387530">Other Accessories</a></li>

                                </ul>
                            </li>


                        </ul>
                    </div>



                    <!--moreIn mainBodySection -->





                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/home-entertainment/buying-guide/projection-screens" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="/images/explora_sidebar_placeholder.jpg" data-src="/images/explora_sidebar_placeholder.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Projection Screens Buying Guide</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;9829&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;9829&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=97162245-0187-4ba5-a0ef-dfd3e2beaad8&amp;x=MewWAWJnT7qvtuGmgEQmPnIUMsd4JwNdp8G-7qu3exnFPR1waA001j5WMK_zWTr4hYRTiQX-jBUYKtDg7qbFFTsVVxO5jR8BSScBjT65YWXfJpee4ydytA0lSFgpitBku7CYs4SABiT9rd3NmIv1udCitogTvd6twRiRMx4AvobO91QUso0D-yDS6JgSjKoPOd2-_YECswTNdDwMIbFBx6zH-U8BAF2ZRpcWVQqnz7RSWyK0xEKD7ZC_3-W731v0vgfkFcYMFU1cnSeA1LdQow%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1467999-REG/benq_tk800m_sport_home_entertainment.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="44023"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/4c1091161eb075fb566d6df89c24ab5f" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=97162245-0187-4ba5-a0ef-dfd3e2beaad8&amp;x=MewWAWJnT7qvtuGmgEQmPnIUMsd4JwNdp8G-7qu3exnFPR1waA001j5WMK_zWTr4hYRTiQX-jBUYKtDg7qbFFTsVVxO5jR8BSScBjT65YWXfJpee4ydytA0lSFgpitBku7CYs4SABiT9rd3NmIv1udCitogTvd6twRiRMx4AvobO91QUso0D-yDS6JgSjKoPOd2-_YECswTNdDwMIbFBx6zH-U8BAF2ZRpcWVQqnz7RSWyK0xEKD7ZC_3-W731v0vgfkFcYMFU1cnSeA1LdQow%3D%3D"></div>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Choosing Multimedia Projector Screens</h2>
                <p>Multimedia projector screens provide a better alternative to simply beaming your video against a wall. They're designed to reflect light, so colors pop off the screen and videos look more vibrant. Whether you need a projector screen for your home theater or&nbsp;<a href="https://www.bhphotovideo.com/c/buy/Screen-Frames-Hardware/ci/18180/N/4034387529">frames for projection screens</a>, you can make the most of your purchase by learning more about the different options and accessories.</p>
                <br>
                <h3>Should I Choose a Gray or a White Screen?</h3>
                <p>White&nbsp;HD projector screens&nbsp;are a popular option because they're bright and more effective at handling darker tones. They're extremely useful in fully darkened rooms. Gray movie projector screens offer sharper contrasts, and can create deeper blacks and richer tones in darker colors. If you're using a projector in a room that isn't entirely dark, a gray screen might be a better choice.</p>
                <br>
                <h3>Projector Screen Types</h3>
                <p>Projector screens fall into three basic groups: fixed, portable, and retractable. You install a fixed screen in a dedicated space on the wall using the right&nbsp;<a href="https://www.bhphotovideo.com/c/buy/Brackets-Trim-Kits/ci/18121/N/4034387533">mounting hardware for projection screens</a>. Ideal for man caves and theaters, they make an optimal choice if you want a permanent display. For a convenient, on-the-go display solution, consider a portable projector screen. Some models feature built-in stands while others might have tripod legs. Portable projector screens are a good fit for presentations. Retractable screens are a popular choice because they offer some flexibility. You can pull them down when you need them and put them away when they're not in use. Retractable home projector screens may be manual, or equipped with an electric motor.</p>
                <br>
                <h3>Choosing the Right Projector Screen Size</h3>
                <p>For the best results, choose a screen height that's at least a quarter of the distance to the farthest chair. Therefore, if the farthest seat is 30 feet from the screen, the projector screen size should be at least 7.5 feet high. The width of the it depends on the aspect ratio of the projector you intend to use. Some of the standard formats available include 4:3 projectors and 1:1 square format projectors (often used for presentations). 2.35:1 CinemaScope projectors are common choices with movie projector screens in cinemas, while 16:9 and 16:10 projectors deliver an HDTV or widescreen experience.</p>
                <br>
                <h3>Projector Screen Fabric</h3>
                <p>When choosing screen fabric, the two most important things to consider are the viewing angle and the gain. The viewing angle affects how the screen appears at an angle, while the gain determines how well the screen reflects light. For instance, if the material has a screen gain of 1.0, it means that it reflects projected light with the same degree of brightness. A higher value means that fabric increases the brightness of the image, while a lower gain value means that the image&nbsp;loses some brightness.</p>
                <br>
                <p>Choose the right imaging solution for your needs. B&amp;H Photo and Video offers a wide selection of projectors and screens, including remotes and <a href="https://www.bhphotovideo.com/c/buy/Masking-Panels-Strips/ci/18181/N/4034387528">masking panels and strips for projection screens</a>.</p>
            </div>
        </div>


    </div>
</div>