<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/A-V-Presentation/ci/3644/N/4294546288" property="item" typeof="WebPage">
                        <span property="name">
                            Audio Visual Presentation
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Interactive-Presentation-Equipment/ci/17760/N/4205668463" property="item" typeof="WebPage">
                        <span property="name">
                            Whiteboards, Easels &amp; Displays
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Whiteboards &amp; Easels</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Audio Visual Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/jed_g_bw.png" alt="Jed G., B&amp;H A/V Expert" title="Jed G., B&amp;H A/V Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/wellington-f_bw.png" alt="Wellington F., B&amp;H A/V Expert" title="Wellington F., B&amp;H A/V Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/bryan-y_bw.png" alt="Bryan Y., B&amp;H A/V Expert" title="Bryan Y., B&amp;H A/V Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Audio-Visual-Presentation/-/ci/3644"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix  clp-noSidebar">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Digital-Whiteboards-Wall-Displays/ci/3718/N/4205668458" id="Digital Whiteboards" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1148680.jpg" alt="Digital Whiteboards">

                                        <div class="clp-categoryName">Digital Whiteboards</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/whiteboard-projection-screens/ci/27851/N/3792816170" id="Whiteboard Projection Screens" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1021705.jpg" alt="Whiteboard Projection Screens">

                                        <div class="clp-categoryName">Whiteboard Projection Screens</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/marker-boards/ci/27850/N/3792816171" id="Marker Boards" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/335015.jpg" alt="Marker Boards">

                                        <div class="clp-categoryName">Marker Boards</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Easels-Marker-Boards/ci/2395/N/4205668459" id="Easels   Display Boards" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/197064.jpg" alt="Easels &amp; Display Boards">

                                        <div class="clp-categoryName">Easels &amp; Display Boards</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/electronic-paper-displays/ci/37018/N/3497028643" id="Electronic Paper Displays" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1440846.jpg" alt="Electronic Paper Displays">

                                        <div class="clp-categoryName">Electronic Paper Displays</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Whiteboard-Wall-Display-Accessories/ci/12460/N/4205668462" id="Whiteboard   Easel Display Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/317297.jpg" alt="Whiteboard &amp; Easel Display Accessories">

                                        <div class="clp-categoryName">Whiteboard &amp; Easel Display Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Wireless-Presenters-Laser-Pointers/ci/1573/N/4205668461" id="Wireless Laser Presenters" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/644449.jpg" alt="Wireless/Laser Presenters">

                                        <div class="clp-categoryName">Wireless/Laser Presenters</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Learning About Whiteboards and Easels</h2>
                <p>In either classrooms or professional settings, whiteboards and easels can be essential in the way that you provide information. An easel is an effective way to show your boss and coworkers the results of a recent project. Presenting lectures or complicated math problems to your students is easier with a whiteboard display large enough for everyone to see. With the advancement of technology, electronic whiteboards are an option to take the place of traditional ones. The type of display you need depends on the environment and crowd of people that you're trying to reach.</p>
                <br>
                <h3>Standard and Electronic Whiteboards</h3>
                <p>Standard whiteboards, also known as marker boards, are the most common type of boards you see in classrooms. With chalkboards being obsolete, marker boards are the new standard when it comes to relaying information to students. You can use standard whiteboards with wet or dry-erase markers, and they often come with trays to keep your markers and whiteboard erasers close at hand. They are available in large display models that you mount on walls or they're standalone, and depending on the brand, they can be double-sided models or magnetic models.&nbsp;</p>
                <p><br>Electronic boards are interactive whiteboards, where you can display content for your class or present at your job. Some <a href="https://www.bhphotovideo.com/c/buy/Digital-Whiteboards-Wall-Displays/ci/3718/N/4205668458">digital whiteboards</a> come equipped with the following optional features:</p>
                <ul>
                    <li>Handwriting recognition technology: Translates your handwriting into an easier-to-read font</li>
                    <li>Connections ports: Connect to devices such as laptops, USB devices, cameras, and printers</li>
                    <li>Save options: Save what's on your board into picture formats, including JPEG and PNG</li>
                    <li>Multi-touch: Allows more than one user to write at a time</li>
                    <li>Built-in speakers: Used to accompany video outputs</li>
                </ul>
                <p>If you need smaller interactive tools, <a href="https://www.bhphotovideo.com/c/buy/electronic-paper-displays/ci/37018/N/3497028643">electronic paper displays</a>&nbsp;offer many of the same features, and are useful for one-on-one and for smaller presentations.</p>
                <h3>Easels</h3>
                <p>Easels are another type of projection board. Use them&nbsp;with dry-erase markers, and you can mount them to walls or set them on easel stands. Easels are portable,&nbsp;lightweight, and easy to move around a room if they aren't mounted. The height is adjustable for optimal viewing, and some are magnetic and come with clamps to hold up charts or papers needed for presentations.</p>
                <br>
                <p>Find the display boards that you need for work or school by shopping at B&amp;H Photo and Video.</p>
            </div>
        </div>


    </div>
</div>