<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Lighting-Studio/ci/1161/N/4294551176" property="item" typeof="WebPage">
                        <span property="name">
                            Lighting &amp; Studio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/strobe-lighting/ci/22522/N/3988592069" property="item" typeof="WebPage">
                        <span property="name">
                            Strobe Lighting
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Strobe (Flash) Lighting</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Lighting Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/gary-l_bw.png" alt="Gary L., B&amp;H Lighting Expert" title="Gary L., B&amp;H Lighting Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/carlos-d.png" alt="Carlos D., B&amp;H Photo Expert" title="Carlos D., B&amp;H Photo Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/rob-k.png" alt="Rob K., B&amp;H Lighting Expert" title="Rob K., B&amp;H Lighting Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Lighting-&amp;-Studio/-/ci/1161"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Monolights/ci/1225" id="Monolights" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1383479.jpg" alt="Monolights">

                                        <div class="clp-categoryName">Monolights</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Battery-Powered-Strobe-Lighting/ci/1384/N/3988592062" id="Battery Powered Strobes" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1119632.jpg" alt="Battery Powered Strobes">

                                        <div class="clp-categoryName">Battery Powered Strobes</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/AC-Power-Supply-Head-Strobes/ci/1168/N/3988592068" id="Power Packs" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/750806.jpg" alt="Power Packs">

                                        <div class="clp-categoryName">Power Packs</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Slave-Strobes-AC-DC/ci/1239" id="Slave Strobes" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/121845.jpg" alt="Slave Strobes">

                                        <div class="clp-categoryName">Slave Strobes</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;22522&quot;}" data-count="3" data-slot="1155">
                            <div> <a class="pla2-item clearfix" title="Canon Speedlite 600EX II-RT Wireless Two Flash Portrait Kit" href="https://ad.tagdelivery.com/click?id=37b4990c-a6a7-4fed-9a78-b5bb991f8157&amp;x=wiVRPJRi5YryF4mTzUtetwgT3rfPI_2VNnsKFOe8klyuRaUeDWMO4xIffFiXaw1bQmuCsP2Pd6Jm5W_TBPcgbe662guwrlz3w12ryrS0uBvgH_CMgRpsL1oEX3bJFSbz0lCJhNbXAhJotC5aX5PkwwqbGhP_KYlG2ioCLHVC7OjhZJ5R6T2Qsm3MPUHq2V8pyaCByHTfAvwxUyI_y0FEJ6xXquXOhCxaxMTmI-M69Ne-RfPCqJ_aOuIDUVjdWrrFRJyYOcWxjL-T3Vm4hysaeQ%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1304469-REG/canon_speedlite_600ex_ii_rt_two.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="https://static.bhphoto.com/images/images150x150/1554131455000_1304469.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">Canon Speedlite 600EX II-RT Wireless Two Flash Portrait Kit</div>
                                        <div class="pla2-price-row"> <span class="pla2-original-price show-for-high-res-only">$1,589.50</span> <span class="pla2-final-price c7">$1,389.50</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=37b4990c-a6a7-4fed-9a78-b5bb991f8157&amp;x=wiVRPJRi5YryF4mTzUtetwgT3rfPI_2VNnsKFOe8klyuRaUeDWMO4xIffFiXaw1bQmuCsP2Pd6Jm5W_TBPcgbe662guwrlz3w12ryrS0uBvgH_CMgRpsL1oEX3bJFSbz0lCJhNbXAhJotC5aX5PkwwqbGhP_KYlG2ioCLHVC7OjhZJ5R6T2Qsm3MPUHq2V8pyaCByHTfAvwxUyI_y0FEJ6xXquXOhCxaxMTmI-M69Ne-RfPCqJ_aOuIDUVjdWrrFRJyYOcWxjL-T3Vm4hysaeQ%3D%3D" src="https://ad.tagdelivery.com/impression?id=37b4990c-a6a7-4fed-9a78-b5bb991f8157&amp;x=wiVRPJRi5YryF4mTzUtetwgT3rfPI_2VNnsKFOe8klyuRaUeDWMO4xIffFiXaw1bQmuCsP2Pd6Jm5W_TBPcgbe662guwrlz3w12ryrS0uBvgH_CMgRpsL1oEX3bJFSbz0lCJhNbXAhJotC5aX5PkwwqbGhP_KYlG2ioCLHVC7OjhZJ5R6T2Qsm3MPUHq2V8pyaCByHTfAvwxUyI_y0FEJ6xXquXOhCxaxMTmI-M69Ne-RfPCqJ_aOuIDUVjdWrrFRJyYOcWxjL-T3Vm4hysaeQ%3D%3D"> </div>
                            <div> <a class="pla2-item clearfix" title="Canon Speedlite 600EX II-RT Wireless Two Flash Location Kit" href="https://ad.tagdelivery.com/click?id=6d46033c-979e-4a71-ae54-066f26bd68d5&amp;x=4VbCEEcs8jDSKYdByBeTTnhlEl3lQol3jdZ11Sc_LD10MOXpAgll_LPuKIIkz0q56C-SnTH4rDJ3VP7Uw-HxUQCchxtgrr4Sf2kyi9rxve3xzIXgdQwSlyjm_IwN4uEQMzwODwQNrMgidsGpmMj-deze9LPJNP422oLXBTlyRW__jb0W1sTWy_hcLZh34rgW6AghSZiuQmCP1uwPYW3SBDDt-3ZCPYGg883bStFKskQ-2ezhU--38fMttXK_mPgk28AaumVK_gNWJ8PFmlnIAQ%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1304473-REG/canon_speedlite_600ex_ii_rt_two.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="https://static.bhphoto.com/images/images150x150/1552505760000_1304473.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">Canon Speedlite 600EX II-RT Wireless Two Flash Location Kit</div>
                                        <div class="pla2-price-row"> <span class="pla2-original-price show-for-high-res-only">$1,629.95</span> <span class="pla2-final-price c7">$1,429.95</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=6d46033c-979e-4a71-ae54-066f26bd68d5&amp;x=4VbCEEcs8jDSKYdByBeTTnhlEl3lQol3jdZ11Sc_LD10MOXpAgll_LPuKIIkz0q56C-SnTH4rDJ3VP7Uw-HxUQCchxtgrr4Sf2kyi9rxve3xzIXgdQwSlyjm_IwN4uEQMzwODwQNrMgidsGpmMj-deze9LPJNP422oLXBTlyRW__jb0W1sTWy_hcLZh34rgW6AghSZiuQmCP1uwPYW3SBDDt-3ZCPYGg883bStFKskQ-2ezhU--38fMttXK_mPgk28AaumVK_gNWJ8PFmlnIAQ%3D%3D" src="https://ad.tagdelivery.com/impression?id=6d46033c-979e-4a71-ae54-066f26bd68d5&amp;x=4VbCEEcs8jDSKYdByBeTTnhlEl3lQol3jdZ11Sc_LD10MOXpAgll_LPuKIIkz0q56C-SnTH4rDJ3VP7Uw-HxUQCchxtgrr4Sf2kyi9rxve3xzIXgdQwSlyjm_IwN4uEQMzwODwQNrMgidsGpmMj-deze9LPJNP422oLXBTlyRW__jb0W1sTWy_hcLZh34rgW6AghSZiuQmCP1uwPYW3SBDDt-3ZCPYGg883bStFKskQ-2ezhU--38fMttXK_mPgk28AaumVK_gNWJ8PFmlnIAQ%3D%3D"> </div>
                        </div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;22522&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar"></div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/buying-guide/14-recommended-lighting-kits-for-photography" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/25975-cs.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/25975-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>14 Recommended Lighting Kits for Photography </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/buying-guide/everyday-carry-essentials-lightweight-lights" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lightweight-lights-for-your-everyday-bag-photography.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lightweight-lights-for-your-everyday-bag-photography.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Everyday Carry Essentials: Lightweight Lights </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/news/wppi-2019-a-quick-look-at-the-new-profoto-b10" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/25808-cs.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/25808-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>WPPI 2019: A Quick Look at the New Profoto B10</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/news/profoto-unleashes-the-power-of-small-with-the-b10-off-camera-flash" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs_profoto-b10-and-accessories.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs_profoto-b10-and-accessories.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Profoto Unleashes the Power of Small with the B10 Off-Camera Flash</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/news/elinchrom-combines-power-and-portability-in-elb-500-ttl-flash" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-elinchrom-ttl-500-flash-and-accessories_0.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-elinchrom-ttl-500-flash-and-accessories_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Elinchrom Combines Power and Portability in ELB 500 TTL Flash</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/features/things-we-love-light-my-life-profoto-b1" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/19058-cs.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/19058-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Features</h6>
                                    <div class="ellipsizer">
                                        <p>Things We Love: Light of My Life—Profoto B1</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <p></p>
                <h2>Take Better Pictures with Strobe Lights</h2>
                <p>Strobe lights are the studio equivalent of a camera flash, except that they're more powerful. Various alternatives exist including mains and battery-powered strobes for use singly or in groups. A range of&nbsp;accessories is available to facilitate strobe lighting control as well as to create different moods, colors, and patterns.<br>
                    &nbsp;</p>
                <h3>What Are Strobe Lights?</h3>
                <p>Strobes produce a bright light in a similar way to on-camera flash. They differ in that they're brighter, they produce extremely short bursts of light, and they recharge quickly. Strobes, usually referred to as monolights, are available in powers ranging from 100 watts up to 1,000 watts. The power determines the distance over which you can use the unit, although many models have an adjustable output to reduce light intensity for close-ups.</p>
                <p>Light sources include LED, halogen, and xenon flash lamps. You may trigger strobes by cable or by using a remote trigger. Many models have TTL exposure capabilities.<br>
                    &nbsp;</p>
                <h3>Differences Between Strobe Lights and Continuous Lighting</h3>
                <p>While strobe lights produce a short, yet powerful, burst of illumination, <a href="https://www.bhphotovideo.com/c/browse/continuous-lighting/ci/22521/N/3988592086">continuous lighting</a> stays on during the entire photo session. These two types of studio lighting equipment are complementary, and each has its own advantages and disadvantages to consider.</p>
                <p>Strobes:</p>
                <ul>
                    <li>Are Brighter</li>
                    <li>Freeze motion</li>
                    <li>Use small apertures</li>
                    <li>Produce sharp pictures</li>
                    <li>Are limited to camera sync speeds</li>
                    <li>Exposure is separately measured</li>
                </ul>
                <p>Continuous lights:</p>
                <ul>
                    <li>Are less bright</li>
                    <li>Need wide apertures and slow shutter speeds</li>
                    <li>Produce softer results</li>
                    <li>Use camera exposure meter</li>
                </ul>
                <h3><br>
                    Using Light Modifiers to Change Lighting</h3>
                <p>By using <a href="https://www.bhphotovideo.com/c/browse/Light-Modifiers/ci/19911/N/4062040414">light modifiers</a>, it's possible to change the quality of light emitted by strobes and other forms of studio lighting. For example, a reflector can focus the light on the subject's face or provide side illumination. Reflectors are available in various shapes and styles, including flat, concave, and umbrella-shaped models. Alternatively, softboxes diffuse light to produce softer images, and it's possible to modify color temperature of light using colored filters and gels.<br>
                    &nbsp;</p>
                <h3>Accessories for Strobe Lights</h3>
                <p>A full selection of <a href="https://www.bhphotovideo.com/c/browse/Lightstands-Mounting/ci/19913/N/4062040379">light stands and mounting</a> booms, as well as positioning hardware is available to position studio lights for maximum effect, indoors and outdoors. Additionally, remote triggers and accessories eliminate cables between the camera and strobes.</p>
                <p>Although TTL studio&nbsp;strobe flashes function in the same way as camera-mounted TTL speedlights, you can usually obtain better results by using <a href="https://www.bhphotovideo.com/c/buy/light-meters-accessories/ci/21923/N/4025915107">light meters and accessories</a> to accurately measure exposure. When used with a strobe, place the light meter next to the subject and facing the camera, so it measures the light seen by the camera—this is known as incident metering.<br>
                    &nbsp;</p>
                <p>Strobe lighting opens many possibilities for indoor and outdoor portrait photography. Find LED strobe lights and all types of other lighting gear at B&amp;H Photo and Video to extend your studio capabilities.</p>
                <p></p>
                <p>&nbsp;</p>
            </div>
        </div>


    </div>
</div>
