<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-darkBreadcrumbs clp-darkPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Surveillance" class="clp-pageImage js-pageImage" style="background-image: url('assets/bimages/53804_surveillance_hero.jpg')"></div>





    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Surveillance-Video/ci/3496/N/4293342959" property="item" typeof="WebPage">
                        <span property="name">
                            Surveillance
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Surveillance</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Surveillance Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/ezra_klechevsky_bw.png" alt="Ezra Klechevsky, B&amp;H Surveillance Expert" title="Ezra Klechevsky, B&amp;H Surveillance Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/zev_baker_bw.png" alt="Zev Baker, B&amp;H Surveillance Expert" title="Zev Baker, B&amp;H Surveillance Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Surveillance/-/ci/3496"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Surveillance"></a>
                            <h2 class="clp-sectionTitle">Surveillance</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/camera-accessories/ci/23730/N/3880127467" id="Surveillance Video" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1480634.jpg" alt="Surveillance Video">

                                        <div class="clp-categoryName">Surveillance Video</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/wi-fi-cameras/ci/24056/N/3583119654" id="Wireless Cameras" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1163183.jpg" alt="Wireless Cameras">

                                        <div class="clp-categoryName">Wireless Cameras</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Hidden-Cameras/ci/18682/N/4045021092" id="Hidden Cameras" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1024586.jpg" alt="Hidden Cameras">

                                        <div class="clp-categoryName">Hidden Cameras</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/body-cameras/ci/29262/N/3524535122" id="Body Cameras" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1134577.jpg" alt="Body Cameras">

                                        <div class="clp-categoryName">Body Cameras</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Vehicle-Camera-Systems/ci/19692/N/4045021090" id="Vehicle Cameras   GPS Tracking" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1106083.jpg" alt="Vehicle Cameras &amp; GPS Tracking">

                                        <div class="clp-categoryName">Vehicle Cameras &amp; GPS Tracking</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Telephone-Audio-Devices/ci/13862/N/4045021095" id="Audio Surveillance" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/925190.jpg" alt="Audio Surveillance">

                                        <div class="clp-categoryName">Audio Surveillance</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Counter-Surveillance/ci/20323/N/3524535126" id="Counter Surveillance" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/919549.jpg" alt="Counter Surveillance">

                                        <div class="clp-categoryName">Counter Surveillance</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Security"></a>
                            <h2 class="clp-sectionTitle">Security</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/intercoms/ci/24746/N/3880127368" id="Intercoms" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1383154.jpg" data-src="assets/images/images150x150/1383154.jpg" alt="Intercoms">


                                        <div class="clp-categoryName">Intercoms</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/alarm-systems/ci/24817/N/3880127349" id="Alarm Systems" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1365622.jpg" data-src="assets/images/images150x150/1365622.jpg" alt="Alarm Systems">


                                        <div class="clp-categoryName">Alarm Systems</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/access-control/ci/24824/N/3880127338" id="Access Control" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1448196.jpg" data-src="assets/images/images150x150/1448196.jpg" alt="Access Control">


                                        <div class="clp-categoryName">Access Control</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/id-card-thermal-printers-accessories/ci/25553/N/3816228830" id="ID Card Printers   Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1184742.jpg" data-src="assets/images/images150x150/1184742.jpg" alt="ID Card Printers &amp; Accessories">


                                        <div class="clp-categoryName">ID Card Printers &amp; Accessories</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Smart Home"></a>
                            <h2 class="clp-sectionTitle">Smart Home</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/smart-home/ci/25493/N/3861537367" id="Home Automation" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1334888.jpg" data-src="assets/images/images150x150/1334888.jpg" alt="Home Automation">


                                        <div class="clp-categoryName">Home Automation</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;3496&quot;}" data-count="3" data-slot="1165"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;3496&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=31a93b34-c61d-4299-add8-8d54e578859b&amp;x=S4yDF5RMzH7vGXxMCwCdI8ebc9TtXCmnQL7vHIPp8Rls2zI1xV3K6rWMX6RFfXRIrIwNZx8Qt8RaqcngWVdwCOgDyRiRQHt4B_75--DQOyndd9crVPY4NFHS7gmmtBXUKnMpZCMO1zUViFZjKkbQsNqbaSE92_iIPPHyOVIej8_CYAhqgHuFo6BUI-flVwaQFOo7He8A4sCzduZD4WLt1sS3DMghFSKxI3h7XjMnViYHmQjjadVp81Ab1tOkBdR3y0vDzJQlpQjxp8a-PJ8P5A%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/promotion/15447/find-your-ideal-seagate-drive" class="overlay-on-hover" style="text-align: center" data-campaign-id="42741"> <img src="assets/prmt/a3f7b32d3227dd1503cd8503659235ce" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=31a93b34-c61d-4299-add8-8d54e578859b&amp;x=S4yDF5RMzH7vGXxMCwCdI8ebc9TtXCmnQL7vHIPp8Rls2zI1xV3K6rWMX6RFfXRIrIwNZx8Qt8RaqcngWVdwCOgDyRiRQHt4B_75--DQOyndd9crVPY4NFHS7gmmtBXUKnMpZCMO1zUViFZjKkbQsNqbaSE92_iIPPHyOVIej8_CYAhqgHuFo6BUI-flVwaQFOo7He8A4sCzduZD4WLt1sS3DMghFSKxI3h7XjMnViYHmQjjadVp81Ab1tOkBdR3y0vDzJQlpQjxp8a-PJ8P5A%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/video/news/a-look-at-the-latest-dash-rear-view-and-motorcycle-cameras-from-thinkware" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/26616-cs.png" data-src="assets/explora/sites/default/files/26616-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>A Look at the Latest Dash, Rear-View, and Motorcycle Cameras from Thinkware</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/home-entertainment/buying-guide/making-your-home-smarter-in-time-for-the-holidays" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/24549-cs.png" data-src="assets/explora/sites/default/files/24549-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Making Your Home Smarter in Time for the Holidays</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/home-entertainment/buying-guide/lighting-for-surveillance-situations" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/24327-covershot1.jpg" data-src="assets/explora/sites/default/files/24327-covershot1.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Lighting for Surveillance Situations</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/home-entertainment/tips-and-solutions/a-simple-guide-to-home-security" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/21426-covershot5.jpg" data-src="assets/explora/sites/default/files/21426-covershot5.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>A Simple Guide to Home Security</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/home-entertainment/buying-guide/indoor-wi-fi-camera-buying-guide" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-wireless-indoor-surveillance-buying-guide.jpg" data-src="assets/explora/sites/default/files/cs-wireless-indoor-surveillance-buying-guide.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Indoor Wi-Fi Camera Buying Guide</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>


                        <div data-selenium="htmlSectionAd">
                            <a href="//www.bhphotovideo.com/bnh/controller/home?O=cableFinder&amp;A=cableSearch&amp;Q=&amp;ci=16340&amp;N=4288590280+4289217270" class="clp-textSidebarBanner clp-overlayOnHover" style="background-color: #fff;"> <img class="clp-sidebarBannerImg" src="assets/bimages/cablefinderimg123456789.jpg">
                                <div class="clp-sidebarBanner-text">
                                    <p>Quickly find the cables you need</p>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Surveillance System Tips</h2>
                <p>Surveillance systems are an essential part of securing your home or business. These systems can range from wireless home security cameras to sophisticated alarm systems that notify law enforcement at the first sign of trouble. The presence of security cameras can serve as a deterrent to would-be thieves, while hidden cameras can protect discretely.</p>
                <p>Whether you want to keep an eye on employees at nearby facilities or document every person approaching your home's front door, the right equipment for the job can offer the necessary protection.</p>
                <p><br>
                </p>
                <h3>Should I Buy a Wireless or Wired Surveillance System?</h3>
                <p>One of the first decisions that you'll need to make is if you need a wireless or wired security camera system, and the correct answer likely depends on where you intend to place the cameras and components. If you have the luxury of being able to drill holes and run wires, you'll appreciate not having to deal with batteries, and may want to look at a wired system. On the other hand, if running wires isn't realistic, you'll enjoy the versatility that <a href="https://www.bhphotovideo.com/c/buy/wi-fi-cameras/ci/24056/N/3583119654">Wi-Fi and wireless cameras</a> offer. All these considerations will affect what system you ultimately choose. For example, if you need to capture high-definition surveillance video over long periods, bandwidth is a consideration.</p><br>
                <h3>How do Hidden Cameras Work?</h3>
                <p>When mounting cameras inside your house isn't an option, you may want to explore <a href="https://www.bhphotovideo.com/c/buy/Hidden-Cameras/ci/18682/N/4045021092">hidden cameras</a>, which are cameras that are small and discreet, sometimes fitted into everyday objects such as clocks, smoke detectors, and magnets. If you need to document an important meeting in a public place, a personal hidden camera built into a watch or pen may be a good option. Finally, if you simply want to see what your employees are up to when you aren't nearby, a hidden camera connected to a CCTV camera system may be the best choice.</p><br>
                <h3>What's the Difference Between NVR and DVR?</h3>
                <p>An often-overlooked aspect of an alarm system is the recording device. After all, notifying law enforcement and sounding an intimidating siren from your <a href="https://www.bhphotovideo.com/c/browse/alarm-systems/ci/24817/N/3880127349">alarm system</a> is only half a solution. A Digital Video Recorder (DVR) or a Network Video Recorder (NVR) system provides evidence of whatever set off the alarm in the first place. If you have the extra bandwidth on your network, the higher quality video and easier setup of NVR is likely the best choice. However, if you need a reliable&nbsp;signal and want to spend less, the DVR system is worth a look.</p>
                <p>Whether you need a system to protect your home or business, you can depend on <a href="https://www.bhphotovideo.com/c/browse/surveillance-camera-accessories/ci/23730/N/3880127467">surveillance video</a> systems to document everything that happens on your property. Check out B&amp;H Photo and Video's security systems to find the right protection to meet your needs.</p>
                <p></p>
            </div>
        </div>


    </div>
</div>