<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Lighting-Studio/ci/1161/N/4294551176" property="item" typeof="WebPage">
                        <span property="name">
                            Lighting &amp; Studio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/continuous-lighting/ci/22521/N/3988592086" property="item" typeof="WebPage">
                        <span property="name">
                            Continuous Lighting
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Continuous Lighting</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Lighting Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/carlos-d.png" alt="Carlos D., B&amp;H Photo Expert" title="Carlos D., B&amp;H Photo Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/hector_c.png" alt="Hector C., B&amp;H Lighting Expert" title="Hector C., B&amp;H Lighting Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/rob-k.png" alt="Rob K., B&amp;H Lighting Expert" title="Rob K., B&amp;H Lighting Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Lighting-&amp;-Studio/-/ci/1161"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/LED-Light-Sources/ci/12248" id="LED Lights" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1284731.jpg" alt="LED Lights">

                                        <div class="clp-categoryName">LED Lights</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Light-Sources/ci/1201" id="Fluorescent Lights" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/937705.jpg" alt="Fluorescent Lights">

                                        <div class="clp-categoryName">Fluorescent Lights</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Lights-Kits/ci/2247" id="Tungsten Lights" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/575656.jpg" alt="Tungsten Lights">

                                        <div class="clp-categoryName">Tungsten Lights</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Light-Sources/ci/1377" id="HMI   Plasma Lights" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/898145.jpg" alt="HMI &amp; Plasma Lights">

                                        <div class="clp-categoryName">HMI &amp; Plasma Lights</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Specialty Lighting"></a>
                            <h2 class="clp-sectionTitle">Specialty Lighting</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Ellipsoidals-Follow-Spots/ci/6435" id="Stage   Studio" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="https://static.bhphoto.com/images/images150x150/1273384.jpg" data-src="https://static.bhphoto.com/images/images150x150/1273384.jpg" alt="Stage &amp; Studio">


                                        <div class="clp-categoryName">Stage &amp; Studio</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/DJ-Lights-Strobes/ci/18875" id="DJ   Effect Lights" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="https://static.bhphoto.com/images/images150x150/1226927.jpg" data-src="https://static.bhphoto.com/images/images150x150/1226927.jpg" alt="DJ &amp; Effect Lights">


                                        <div class="clp-categoryName">DJ &amp; Effect Lights</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/architectural-lights/ci/27098" id="Architectural Lights" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="https://static.bhphoto.com/images/images150x150/1100878.jpg" data-src="https://static.bhphoto.com/images/images150x150/1100878.jpg" alt="Architectural Lights">


                                        <div class="clp-categoryName">Architectural Lights</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Specialty-Lighting/ci/17882" id="Specialty   Utility" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="https://static.bhphoto.com/images/images150x150/1451003.jpg" data-src="https://static.bhphoto.com/images/images150x150/1451003.jpg" alt="Specialty &amp; Utility">


                                        <div class="clp-categoryName">Specialty &amp; Utility</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/dj-lighting-accessories/ci/27495" id="DJ Lighting Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="https://static.bhphoto.com/images/images150x150/1402334.jpg" data-src="https://static.bhphoto.com/images/images150x150/1402334.jpg" alt="DJ Lighting Accessories">


                                        <div class="clp-categoryName">DJ Lighting Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/architectural-lighting-accessories/ci/28048" id="Architectural Lighting Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="https://static.bhphoto.com/images/images150x150/984707.jpg" data-src="https://static.bhphoto.com/images/images150x150/984707.jpg" alt="Architectural Lighting Accessories">


                                        <div class="clp-categoryName">Architectural Lighting Accessories</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;22521&quot;}" data-count="3" data-slot="1155">
                            <div> <a class="pla2-item clearfix" title="Litepanels Astra 6X Bi-Color LED Panel" href="https://ad.tagdelivery.com/click?id=67194347-dabe-4f3e-a5bc-6ba070d7ce18&amp;x=ehnwesrkujy9JSHg6GRU88AR2kk0xLxeaw73V6hO3QGycecZm1nFpC3lXyt1yMeuKP-NsqUQYzGsWlrcRYpFBlhPY2GEpYULp0ceMsd-0u3evWKxY0SGFaw10br59P-tVJ3BOiyzQ6taax9usYl-jUnDnof959Dc0zQGa2lAaEbPnLUGldJ2A1QAv1LAiFOOon3eW3Y-AePyhvlikKHBIc4XtJOrlGWIjy2J2ONp9WhQ1ATAk1f6xGNgTJwms2kz1ghWKpQhy6-K0zgq6M1Q_A%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1339832-REG/litepanels_935_1023_astra_6x_1x1_bi_color.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="https://static.bhphoto.com/images/images150x150/1495727462000_1339832.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">Litepanels Astra 6X Bi-Color LED Panel</div>
                                        <div class="pla2-price-row"> <span class="pla2-original-price show-for-high-res-only">$1,496.29</span> <span class="pla2-final-price c7">$999.00</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=67194347-dabe-4f3e-a5bc-6ba070d7ce18&amp;x=ehnwesrkujy9JSHg6GRU88AR2kk0xLxeaw73V6hO3QGycecZm1nFpC3lXyt1yMeuKP-NsqUQYzGsWlrcRYpFBlhPY2GEpYULp0ceMsd-0u3evWKxY0SGFaw10br59P-tVJ3BOiyzQ6taax9usYl-jUnDnof959Dc0zQGa2lAaEbPnLUGldJ2A1QAv1LAiFOOon3eW3Y-AePyhvlikKHBIc4XtJOrlGWIjy2J2ONp9WhQ1ATAk1f6xGNgTJwms2kz1ghWKpQhy6-K0zgq6M1Q_A%3D%3D" src="https://ad.tagdelivery.com/impression?id=67194347-dabe-4f3e-a5bc-6ba070d7ce18&amp;x=ehnwesrkujy9JSHg6GRU88AR2kk0xLxeaw73V6hO3QGycecZm1nFpC3lXyt1yMeuKP-NsqUQYzGsWlrcRYpFBlhPY2GEpYULp0ceMsd-0u3evWKxY0SGFaw10br59P-tVJ3BOiyzQ6taax9usYl-jUnDnof959Dc0zQGa2lAaEbPnLUGldJ2A1QAv1LAiFOOon3eW3Y-AePyhvlikKHBIc4XtJOrlGWIjy2J2ONp9WhQ1ATAk1f6xGNgTJwms2kz1ghWKpQhy6-K0zgq6M1Q_A%3D%3D"> </div>
                            <div> <a class="pla2-item clearfix" title="Litepanels Astra Bi-Focus Daylight LED Panel" href="https://ad.tagdelivery.com/click?id=730d4d86-b445-4f78-97e9-125eab7cd8d3&amp;x=FKDMZPldwRG3R0tv7KJCe1tHS_ymv0qDBGRE6AkRfc7TapfUbL1cCVKf3S2nUkJIcqrlJ_PEtJZFbI_tz_Bti8VhDdyUfckqiTNh2S86urQ0mc0NEevf9tkOKUsPNG08X03BFfQANltamtzbzDHC4-j6mMFUukG-f-LZRh6mfeESyJvAm-Gfw3QXT-BGNSMlhW0DXUEFvHhqTOTi55KPZVzU3dMSXjA9X-lZPwGnqvK7yzwr12RpNg-0CxQOTR0a16ZGjJs2DRdZgVd7xr1fCQ%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1339824-REG/litepanels_935_6000_astra_1x1_bi_focus_daylight.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="https://static.bhphoto.com/images/images150x150/1502745746000_1339824.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">Litepanels Astra Bi-Focus Daylight LED Panel</div>
                                        <div class="pla2-price-row"> <span class="pla2-final-price c7">$1,320.00</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=730d4d86-b445-4f78-97e9-125eab7cd8d3&amp;x=FKDMZPldwRG3R0tv7KJCe1tHS_ymv0qDBGRE6AkRfc7TapfUbL1cCVKf3S2nUkJIcqrlJ_PEtJZFbI_tz_Bti8VhDdyUfckqiTNh2S86urQ0mc0NEevf9tkOKUsPNG08X03BFfQANltamtzbzDHC4-j6mMFUukG-f-LZRh6mfeESyJvAm-Gfw3QXT-BGNSMlhW0DXUEFvHhqTOTi55KPZVzU3dMSXjA9X-lZPwGnqvK7yzwr12RpNg-0CxQOTR0a16ZGjJs2DRdZgVd7xr1fCQ%3D%3D" src="https://ad.tagdelivery.com/impression?id=730d4d86-b445-4f78-97e9-125eab7cd8d3&amp;x=FKDMZPldwRG3R0tv7KJCe1tHS_ymv0qDBGRE6AkRfc7TapfUbL1cCVKf3S2nUkJIcqrlJ_PEtJZFbI_tz_Bti8VhDdyUfckqiTNh2S86urQ0mc0NEevf9tkOKUsPNG08X03BFfQANltamtzbzDHC4-j6mMFUukG-f-LZRh6mfeESyJvAm-Gfw3QXT-BGNSMlhW0DXUEFvHhqTOTi55KPZVzU3dMSXjA9X-lZPwGnqvK7yzwr12RpNg-0CxQOTR0a16ZGjJs2DRdZgVd7xr1fCQ%3D%3D"> </div>
                            <div> <a class="pla2-item clearfix" title="Litepanels Astra 3X Traveler Bi-Color Trio 3-Light Kit with V-Mount Battery Brackets" href="https://ad.tagdelivery.com/click?id=32d80b27-d298-4647-a0a4-ad2526affe3d&amp;x=lMaMRi4MWWn0oUzi_eubg83QbtVum1guWvUXuePyZHT0Xe70YK_sDoyEeHLk1n5yqR6v5FjxoGOm3E0RB10YT0iljwTJC5bL8btEtAHn5ZRstaEy-wPRHRgxDdsYVm3OskOJD5O0zvCtc8vIGETKg8WIvM7x-KFvFRadH9o7soiiMv_IrZOWvR-o2BuUZ5wDBDmvoEH1Kt_Vu7zToIP46rEJMQNoIVdWBdLrUEX1clec8RftGXRUXFqiN4Vf5wXG86yAN1kdLv3TUUZ1nTLDUQ%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1358457-REG/litepanels_935_3205_astra_3x_bicolor_traveler.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="https://static.bhphoto.com/images/images150x150/1504889113000_1358457.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">Litepanels Astra 3X Traveler Bi-Color Trio 3-Light Kit with V-Mount Battery Brackets</div>
                                        <div class="pla2-price-row"> <span class="pla2-final-price c7">$4,160.00</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=32d80b27-d298-4647-a0a4-ad2526affe3d&amp;x=lMaMRi4MWWn0oUzi_eubg83QbtVum1guWvUXuePyZHT0Xe70YK_sDoyEeHLk1n5yqR6v5FjxoGOm3E0RB10YT0iljwTJC5bL8btEtAHn5ZRstaEy-wPRHRgxDdsYVm3OskOJD5O0zvCtc8vIGETKg8WIvM7x-KFvFRadH9o7soiiMv_IrZOWvR-o2BuUZ5wDBDmvoEH1Kt_Vu7zToIP46rEJMQNoIVdWBdLrUEX1clec8RftGXRUXFqiN4Vf5wXG86yAN1kdLv3TUUZ1nTLDUQ%3D%3D" src="https://ad.tagdelivery.com/impression?id=32d80b27-d298-4647-a0a4-ad2526affe3d&amp;x=lMaMRi4MWWn0oUzi_eubg83QbtVum1guWvUXuePyZHT0Xe70YK_sDoyEeHLk1n5yqR6v5FjxoGOm3E0RB10YT0iljwTJC5bL8btEtAHn5ZRstaEy-wPRHRgxDdsYVm3OskOJD5O0zvCtc8vIGETKg8WIvM7x-KFvFRadH9o7soiiMv_IrZOWvR-o2BuUZ5wDBDmvoEH1Kt_Vu7zToIP46rEJMQNoIVdWBdLrUEX1clec8RftGXRUXFqiN4Vf5wXG86yAN1kdLv3TUUZ1nTLDUQ%3D%3D"> </div>
                        </div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;22521&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar"></div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/video/news/nab-2019-the-new-litepanels-gemini-1-x-1-soft-light" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-nab-2019-litepanels-1-x-1-soft_0.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-nab-2019-litepanels-1-x-1-soft_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>NAB 2019: The New Litepanels Gemini 1 x 1 Soft Light</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/photography/news/wppi-2019-lighting-innovations-by-westcott" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/wppi-westcott-thumb_copy_0.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/wppi-westcott-thumb_copy_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>WPPI 2019: Lighting Innovations by Westcott</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/buying-guide/8-awesome-lighting-kits-to-fit-any-budget" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/24794-covershot.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/24794-covershot.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>8 Awesome Lighting Kits to Fit Any Budget</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/buying-guide/have-fun-djing-your-holiday-party" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/24680-covershot-300-b.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/24680-covershot-300-b.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Have Fun DJing Your Holiday Party</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/video/news/the-new-totaled-one-cool-light" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lowel-tota-led-flood-light.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lowel-tota-led-flood-light.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>The New TotaLED: One Cool Light </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/buying-guide/holiday-lighting-intelligent-lighting-and-dmx" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/covershot-1_5.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/covershot-1_5.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Design and Operate DMX Lighting for Your Next Holiday Celebration</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Learning About Continuous Lighting</h2>
                <p>Continuous lighting is exactly that - lights that are always on. Continuous lighting differs from <a href="https://www.bhphotovideo.com/c/browse/strobe-lighting/ci/22522/N/3988592069">strobe lighting</a>, which flashes on and off. Continuous lighting is a staple of the motion picture industry, and also works well in situations when a photographer needs to see how the finished product will look prior to taking the picture. Light sources of this type range from basic indoor light fixtures to&nbsp;professional-grade&nbsp;lighting equipment.</p>
                <br>
                <h3>Understanding Different Photography and Video Lighting Sources</h3>
                <p>Standard room lights are an easy and inexpensive light source. Both incandescent and fluorescent light bulbs can provide adequate photography lighting. For the best results, use only one type of bulb at a time. If using multiple bulbs, be sure they match in color and light intensity.</p>
                <p>When you want more options, more power, or both, studio lights meet the need. Energy-efficient fluorescent bulbs are cost effective and produce little heat, although they don't provide as much wattage as other bulb types. Tungsten bulbs offer superior power. The trade-off is that these lights get hotter, sometimes making them hard to work with. Light-emitting diode (LED) bulbs consist of many small electronic lights. These&nbsp;LED video lights are inexpensive, long lasting, and maintain a cool temperature.</p>
                <br>
                <h3>Accessories for Continuous Lighting</h3>
                <p>Once you've chosen your bulb, you'll need a way to support it. With&nbsp;<a href="https://www.bhphotovideo.com/c/browse/Lightstands-Mounting/ci/19913/N/4062040379">light stands and mounting</a>, you can secure lights at various heights and in different positions. Stands and mounts come in a variety of sizes, and most are adjustable. The most common types of stands are lightweight ones and C-stands. C-stands are more durable options that are very stable, can hold more weight, and have the ability to add attachments.</p>
                <p>The studio photographer has other lighting accessory options available as well. For example,&nbsp;<a href="https://www.bhphotovideo.com/c/browse/Light-Modifiers/ci/19911/N/4062040414">light modifiers</a>&nbsp;can produce many different effects, while meters help control and adjust light and color.&nbsp;An easy and cost-effective way to assemble your set of studio lights is to use a continuous lighting kit. A basic one has lights and stands, while&nbsp;more advanced selections include other <a href="https://www.bhphotovideo.com/c/browse/Lighting-Accessories/ci/19916/N/4062040356">lighting accessories</a>.</p>
                <br>
                <h3>Using Constant&nbsp;Lighting</h3>
                <p>Continuous lighting is great for videographers and beginner photographers. For beginner photographers, continuous lighting offers a "what you see is what you get" scenario, making it easy to learn.</p>
                <p>This type of setup works well for the seasoned photographer, too. Some people like to move away from the camera in order to view from a different angle or to reposition a subject or object. With a steady illumination source, you have the flexibility to do this without worrying about adjusting the light.</p>
                <br>
                <p>Continuous lighting offers a number of advantages for both photography and videography. Explore B&amp;H Photo and Video's range of photo and video lights, to put together the lighting system that's right for you.</p>
            </div>
        </div>


    </div>
</div>