<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/optics/ci/978/N/4294541872" property="item" typeof="WebPage">
                        <span property="name">
                            Optics
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Scopes/ci/980/N/4294541818" property="item" typeof="WebPage">
                        <span property="name">
                            Spotting Scopes
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle clp-smallerText">Spotting Scopes &amp; Accessories</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Optics Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/david-s_bw_0.png" alt="David S., B&amp;H Optics Expert" title="David S., B&amp;H Optics Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/patrick_f_bw.png" alt="Patrick F., B&amp;H Optics Expert" title="Patrick F., B&amp;H Optics Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/jacob-k_bw.png" alt="Jacob K., B&amp;H Optics Expert" title="Jacob K., B&amp;H Optics Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Optics/-/ci/978"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Spotting-Scopes/ci/1032/N/4083534116" id="Spotting Scopes" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/320301.jpg" alt="Spotting Scopes">

                                        <div class="clp-categoryName">Spotting Scopes</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Digiscoping/ci/14671/N/4294541778" id="Digiscoping Adapters" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1131561.jpg" alt="Digiscoping Adapters">

                                        <div class="clp-categoryName">Digiscoping Adapters</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/t-mount-adapters/ci/24706/cp/978+980+24706" id="T Mount Adapters" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/750881.jpg" alt="T-Mount Adapters">

                                        <div class="clp-categoryName">T-Mount Adapters</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Eyepieces/ci/5191/N/4083534115" id="Eyepieces" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/374107.jpg" alt="Eyepieces">

                                        <div class="clp-categoryName">Eyepieces</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Tripod-Adapters/ci/1023/N/3804007484" id="Tripods   Support" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1278858.jpg" alt="Tripods &amp; Support">

                                        <div class="clp-categoryName">Tripods &amp; Support</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Spotting-Scope-Cases/ci/5349/N/4083534114" id="Spotting Scope Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/484762.jpg" alt="Spotting Scope Accessories">

                                        <div class="clp-categoryName">Spotting Scope Accessories</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;980&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;980&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=f1d20e51-70a7-4f59-8578-a94275a5754f&amp;x=n24Vgmy0mBZL7cAmTRti65k3oATybxxpiZ7KmUSEbevw_-QwLUh7XJwVUMrbQ_tqciCIQyd721in0aaF4wTivviddi_-ArSkvPL1iMj7HhojtUKJO99fhaxN4Ki6DFSlAaKeCgKp8TTRiQLiRw2MAaKKmrYy3tBPSx9R3LS67jDK40bkmLEIqZUjcix5KrKvf1oUMZwTCrkvb9gb-jrvuFAomOpB0aHmnCiITvPwWWrUd0lTkSLqAGQ9wx1s9IAetN2C6JOMVkm_-qpPoJWKWw%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/buy/items/ci/35844" class="overlay-on-hover" style="text-align: center" data-campaign-id="39802"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/e82bd78b6f409d1c5ae51c98944c8664" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=f1d20e51-70a7-4f59-8578-a94275a5754f&amp;x=n24Vgmy0mBZL7cAmTRti65k3oATybxxpiZ7KmUSEbevw_-QwLUh7XJwVUMrbQ_tqciCIQyd721in0aaF4wTivviddi_-ArSkvPL1iMj7HhojtUKJO99fhaxN4Ki6DFSlAaKeCgKp8TTRiQLiRw2MAaKKmrYy3tBPSx9R3LS67jDK40bkmLEIqZUjcix5KrKvf1oUMZwTCrkvb9gb-jrvuFAomOpB0aHmnCiITvPwWWrUd0lTkSLqAGQ9wx1s9IAetN2C6JOMVkm_-qpPoJWKWw%3D%3D"></div>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Choosing Scopes for Outdoor Spotting</h2>
                <p>Spotting scopes, also called fieldscopes, are compact, tripod-mountable daylight telescopes, providing more magnification than standard field binoculars. Long-range magnification allows birders to pick out a single member of a flock in flight, or hunters to distinguish the structure of antlers against wooded backdrops. Target range shooters use them to locate hits on their marks, while hikers identify prospective trails from one mountaintop to another. You can also use them with <a href="https://www.bhphotovideo.com/c/buy/Digiscoping/ci/14671/N/4294541778">digiscoping adapters</a>&nbsp;to mount digital cameras or even smartphones for long-range photography.</p>
                <br>
                <h3>Types of Spotting Scopes</h3>
                <p>Two fieldscope bodies are available. One has a straight body from the objective lens to the eyepiece. The other has an angled body, in which a straight barrel begins angling upward at 45 degrees at the imaging-prism housing, which in turn connects to the eyepiece. Straight bodies are easier to pack in outdoor gear and to manipulate by hand. Angled bodies are largely for tripod use. The viewing angle lets glassers easily focus on targets when the viewing position is at waist level and below.</p>
                <br>
                <h3>Basic Parts of a Scope</h3>
                <p>Fieldscopes consist of barrels that often contain insert-reactive gases to prevent internal fogging due to weather extremes. For instance, Swarovski spotting scopes feature anti-fogging nitrogen, as well as a dry gas to prevent moisture buildup. Barrels also have a threaded connector for tripod mounting. The focusing and zoom mechanisms are either knobs on top of the prism housing or knurled wheels around the barrel directly in front of the housing.</p>
                <p>The front of the barrel contains a fitting for <a href="https://www.bhphotovideo.com/c/buy/Eyepieces/ci/5191/N/4083534115">spotting scope eyepieces</a>, consisting of multi-lens elements to capture all three primary colors as well as corrections for contrast and color fidelity, simultaneously. Some eyepieces, such as those offered with Nikon scopes, are interchangeable, providing a full range of magnification options with just one instrument.</p>
                <br>
                <h3>Factors in Choosing a Scope</h3>
                <p>Different fieldscopes contain specialized lens and prism glass formulations with chemical coatings, yielding variable levels of optical clarity. Burris scopes, for instance, use high-density, low-dispersion glass with index-coated lenses to maximize color optics. All glass and coatings assist in the following ways:</p>
                <ul>
                    <li>Reduce mismatched colors from light refraction, called color fringing</li>
                    <li>Maximize full-field vision through the lens</li>
                    <li>Clarify images in low light and with atmospheric distortions from heat and moisture</li>
                </ul>
                <p></p>
                <h3>What Do the Numbers on a Scope Mean?</h3>
                <p>Each scope features a set of three numbers on the casing. The first two numbers represent the range of magnification, such as 20-80x, meaning 20x zoom is the minimum magnification while 80x is the maximum. The last number is the diameter of the outer objective lens in millimeters.<br><br></p>
                <h3>Spotting Scope Accessories</h3>
                <p>Fieldscopes use a range of <a href="https://www.bhphotovideo.com/c/buy/Tripod-Adapters/ci/1023/N/3804007484">optics tripods and support equipment</a>. Tripods must be sturdy, yet lightweight, readily adaptable to uneven terrain, and stable enough for gusty conditions. Other support equipment includes car window mounts for glassing on the go. A variety of <a href="https://www.bhphotovideo.com/c/buy/t-mount-adapters/ci/24706/N/3933929675">camera T-mount adapters</a>&nbsp;is also available for attaching photographic equipment to fieldscopes. Some instruments, such as Leupold scopes, come with full tripod and accessory kits.</p>
                <br>
                <p>Check out the different magnification, eyepiece, and glass-formulation specs at B&amp;H Photo and Video to get the scope that's ideal for you.<br><br></p>
            </div>
        </div>


    </div>
</div>