<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-lightBreadcrumbs clp-lightPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Used Department" class="clp-pageImage js-pageImage" style="background-image: url('https://static.bhphoto.com/bimages/HeaderBG_UsedDepartment.jpg')"></div>





    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Used-Equipment/ci/2870/N/4294247188" property="item" typeof="WebPage">
                        <span property="name">
                            Used Department
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Used Department</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">B&amp;H Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/vilson-lleshaj_1_0.png" alt="Vilson Lleshaj, B&amp;H Photo Expert" title="Vilson Lleshaj, B&amp;H Photo Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/shaya-lloyd_bw_1.png" alt="Shaya Lloyd, B&amp;H Camcorder Expert" title="Shaya Lloyd, B&amp;H Camcorder Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/deesh_p_0.png" alt="Deesh P., B&amp;H Pro Audio Expert" title="Deesh P., B&amp;H Pro Audio Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/shared/experts-profiles-all-categories.jsp"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Digital-Imaging/ci/6387/N/4294246666" id="Digital Photography" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1116101.jpg" alt="Digital Photography">

                                        <div class="clp-categoryName">Digital Photography</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Video/ci/2873/N/4294246899" id="Video" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1222976.jpg" alt="Video">

                                        <div class="clp-categoryName">Video</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Cameras-Photo-Gear/ci/2871/N/4294247179" id="Film Photography" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/112196.jpg" alt="Film Photography">

                                        <div class="clp-categoryName">Film Photography</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/used-mobile-devices/ci/27595/N/3801316913" id="Mobile" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1285960.jpg" alt="Mobile">

                                        <div class="clp-categoryName">Mobile</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Computers-Accessories/ci/15241/N/4294210528" id="Computers   Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1183452.jpg" alt="Computers &amp; Accessories">

                                        <div class="clp-categoryName">Computers &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Pro-Audio/ci/2875/N/4294246787" id="Pro Audio" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/618768.jpg" alt="Pro Audio">

                                        <div class="clp-categoryName">Pro Audio</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/A-V-Presentation/ci/2874/N/4294246800" id="A V Presentation" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1077918.jpg" alt="A/V Presentation">

                                        <div class="clp-categoryName">A/V Presentation</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Lighting/ci/2876/N/4294246758" id="Lighting" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1091263.jpg" alt="Lighting">

                                        <div class="clp-categoryName">Lighting</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Home-Portable-Entertainment/ci/15240/N/4294210561" id="TV   Entertainment" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1122045.jpg" alt="TV &amp; Entertainment">

                                        <div class="clp-categoryName">TV &amp; Entertainment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/used-filters-cases-tripods/ci/21342/N/4038203248" id="Filters  Cases   Tripods" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/673486.jpg" alt="Filters, Cases &amp; Tripods">

                                        <div class="clp-categoryName">Filters, Cases &amp; Tripods</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Binoculars-Scopes/ci/3303/N/4294246679" id="Optics   Outdoors" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/910856.jpg" alt="Optics &amp; Outdoors">

                                        <div class="clp-categoryName">Optics &amp; Outdoors</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/specials/ci/36896/N/3503162427" id="Specials" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1263853.jpg" alt="Specials">

                                        <div class="clp-categoryName">Specials</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/features/the-store-inside-the-superstore-the-bh-used-department" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-bh-used-store-0013.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-bh-used-store-0013.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Features</h6>
                                    <div class="ellipsizer">
                                        <p>The Store Inside the SuperStore: The B&amp;H Used Department</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/hands-on-review/classic-cameras-the-nikon-fm3a" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/25091-cover-shot.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/25091-cover-shot.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>Classic Cameras: The Nikon FM3a</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/photography/buying-guide/10-best-buys-in-used-film-digital-cameras" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/23368-cs.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/23368-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>10 Best Buys in Used Film &amp; Digital Cameras</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                        <div data-selenium="htmlSectionAd">
                            <a href="/find/trade-in.jsp&amp;cm_sp=Banner-_-Promotions-_-CashInYourGear" class="overlay-on-hover"><img src="/bimages/cash-in_banner.jpg" style="max-width: 100%"></a>
                        </div>





                        <div data-selenium="htmlSectionAd">
                            <div> <a href="https://www.bhphotovideo.com/find/HelpCenter/Used.jsp#returnWarranty" target="_blank" style="text-align: center"><img src="https://static.bhphotovideo.com/bimages/35867-used-banner-4.jpg" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                        </div>





                        <div data-selenium="htmlSectionAd">
                            <a href="https://www.bhphotovideo.com/c/browse/specials/ci/36896/N/3503162427" class="overlay-on-hover"> <img src="https://static.bhphotovideo.com/bimages/BHJ-29979-used-dept-outlet-banner.png" style="max-width: 100%"></a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <p><strong>Used &amp; Refurbished Cameras &amp; Electronics</strong></p>
                <p>Looking to save hundreds (or even thousands) of dollars on equipment to fuel your passion? Make B&amp;H Photo’s Used Department your first stop. From gently used cameras to pre-owned pro gear, we maintain a wide selection of secondhand electronics that can save you loads of cash, whether you want to save on sound systems, smartphones, TVs or video equipment.</p>
                <p>We know your stuff—and we understand the importance of owning gear you can rely on. That’s why every used item we sell goes through rigorous, painstaking rounds of inspection and testing to confirm it’s in good working order before being offered for sale. Each item in our used inventory also carries a 90-day parts and labor warranty.</p>
                <p>And for you connoisseurs: B&amp;H Photo regularly offers vintage gear, hard-to-find rarities and antique equipment, often in pristine and near-mint condition. Whether you’re looking to round out a collection or replace a cherished heirloom, feel free to give us a call.</p>
                <p>&nbsp;</p>
                <p>If you’re looking to sell some of your old gear, we’ve made it easy to start the process <a href="https://www.bhphotovideo.com/find/trade-in.jsp&amp;cm_sp=Banner-_-Promotions-_-CashInYourGear">online</a></p>
            </div>
        </div>


    </div>
</div>