<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-lightBreadcrumbs clp-lightPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Pro Audio Recording" class="clp-pageImage js-pageImage" style="background-image: url('https://pubsaf.global.ssl.fastly.net/prmt/f971eb140f02cf4f38b7a3a1128155c8')"></div>




        <a href="https://data.tagdelivery.com/sap/click?impression_id=2f8b11d7-124e-4cc5-9216-62cc4c5b2480&amp;sap=881c9790-4cbf-467d-86bf-a0fb8551f591&amp;redirect=https://www.bhphotovideo.com/c/browse/neumann/ci/42332?origSearch=Nuemann">
            <img class="clp-bannerVideoLogo" src="https://pubsaf.global.ssl.fastly.net/prmt/304e9c6e2a9322b3a3db4044210e655d" alt="sponsor logo" data-campaign-id="42640">
        </a>




        <img src="https://data.tagdelivery.com/sap/impression?impression_id=2f8b11d7-124e-4cc5-9216-62cc4c5b2480&amp;sap=881c9790-4cbf-467d-86bf-a0fb8551f591" style="position: absolute; height: 0; width: 0; visibility: hidden;">


    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Professional-Audio/ci/12154/N/4294550705" property="item" typeof="WebPage">
                        <span property="name">
                            Pro Audio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Recording/ci/20172/N/3992462121" property="item" typeof="WebPage">
                        <span property="name">
                            Studio Recording
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Pro Audio Recording</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Pro Audio Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/deesh_p.png" alt="Deesh P., B&amp;H Pro Audio Expert" title="Deesh P., B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/merry-a_bw.png" alt="Merry A., B&amp;H Pro Audio Expert" title="Merry A., B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/dan-a_bw.png" alt="Daniel A., B&amp;H Pro Audio Expert" title="Daniel A., B&amp;H Pro Audio Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Pro-Audio/-/ci/12154"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Recording-Microphones/ci/14700/N/3631351264" id="Recording Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/564554.jpg" alt="Recording Microphones">

                                        <div class="clp-categoryName">Recording Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Mixers/ci/12162/N/3992462111" id="Mixers" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1000092.jpg" alt="Mixers">

                                        <div class="clp-categoryName">Mixers</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Recorders-Duplicators/ci/12164/N/3992462097" id="Recorders   Duplicators" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1253811.jpg" alt="Recorders &amp; Duplicators">

                                        <div class="clp-categoryName">Recorders &amp; Duplicators</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Studio-Monitoring/ci/12165/N/3992462090" id="Studio Monitoring" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1000521.jpg" alt="Studio Monitoring">

                                        <div class="clp-categoryName">Studio Monitoring</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Computer-Audio/ci/12157/cp/12154+20172+12157" id="Computer Audio" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1251661.jpg" alt="Computer Audio">

                                        <div class="clp-categoryName">Computer Audio</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Channel-Strips-Preamps/ci/12167/N/3992462084" id="Channel Strips   Preamps" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/569270.jpg" alt="Channel Strips &amp; Preamps">

                                        <div class="clp-categoryName">Channel Strips &amp; Preamps</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Signal-Processing/ci/12163/N/3992462104" id="Signal Processing" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/459126.jpg" alt="Signal Processing">

                                        <div class="clp-categoryName">Signal Processing</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Microphone-Accessories/ci/14701/N/3991602306" id="Microphone Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1035156.jpg" alt="Microphone Accessories">

                                        <div class="clp-categoryName">Microphone Accessories</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;20172&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;20172&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=3c8f8d3b-d152-40c6-8181-129ef5a9eff0&amp;x=F5i3i9jLeXlxhXi_PAUQu0E1U5odolsLHUQHlqEAT3S4BTe2neaoNw_BHqfETDaqt3ItYqeb1ihfOG694nX66eIDGfKJAnNkBu4vM33hovx_842z6l2At9Sjd_SLLWZBkSSnN3LFK6U540wWl0OOatfV1X27vZpiqv00hiLbgoAdF2_GGCid5n37ur_jOoietKZwkxyTPucYQjzKRv-Gi849n7GkMuzoeXI_eqDCCOHNOfF8MiDZmoqEhP11VOnaB8P_aZQCzdkHVV1qR9XqmA%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1456998-REG/lewitt_lct_140_air_140_air_small_diaphragm_condenser.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="43371"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/db58412235c30b31542f6619f18b2ad4" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=3c8f8d3b-d152-40c6-8181-129ef5a9eff0&amp;x=F5i3i9jLeXlxhXi_PAUQu0E1U5odolsLHUQHlqEAT3S4BTe2neaoNw_BHqfETDaqt3ItYqeb1ihfOG694nX66eIDGfKJAnNkBu4vM33hovx_842z6l2At9Sjd_SLLWZBkSSnN3LFK6U540wWl0OOatfV1X27vZpiqv00hiLbgoAdF2_GGCid5n37ur_jOoietKZwkxyTPucYQjzKRv-Gi849n7GkMuzoeXI_eqDCCOHNOfF8MiDZmoqEhP11VOnaB8P_aZQCzdkHVV1qR9XqmA%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=a044cc7c-06d2-4458-96c3-1c8194958c7a&amp;x=E5O0lX9I-HUvkt4rD3UKB9tGGCIzKKG3Om3E4EVSJ-8-B4RgX6U8hpWvMHAPZs1PmjLWfo8KscJJoksM7zM6VmT2cq_bSt2Dmwn_kdwaECZcuYxYoAT-JchBruzSsngtlSvgmONwYgquzGyIloOeumLPufaV5PZx-lWQWWPXiXAsrZhAlI8dHHqdufGCR4oen7WgtHgYdgFVd90XJMtfEokx1gJVY6sx3oqbYEOXdCjZjO0SntBdm9QNnTSLJ4AuWBazA-AIfkVfmKg9gGOzHA%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/buy/novation-controllers/ci/42465" class="overlay-on-hover" style="text-align: center" data-campaign-id="43429"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/144146a513a6743652246fb7c9ccc1b9" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=a044cc7c-06d2-4458-96c3-1c8194958c7a&amp;x=E5O0lX9I-HUvkt4rD3UKB9tGGCIzKKG3Om3E4EVSJ-8-B4RgX6U8hpWvMHAPZs1PmjLWfo8KscJJoksM7zM6VmT2cq_bSt2Dmwn_kdwaECZcuYxYoAT-JchBruzSsngtlSvgmONwYgquzGyIloOeumLPufaV5PZx-lWQWWPXiXAsrZhAlI8dHHqdufGCR4oen7WgtHgYdgFVd90XJMtfEokx1gJVY6sx3oqbYEOXdCjZjO0SntBdm9QNnTSLJ4AuWBazA-AIfkVfmKg9gGOzHA%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/hands-on-review/audio-week-recording-a-band-with-your-smartphone" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/27216-covershot.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/27216-covershot.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>Audio Week: Recording a Band with Your Smartphone</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/hands-review/audio-mixing-pro-tools-surface-pro-3-tablet" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-audio-mixing-in-pro-tools-on-the-surface-pro.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-audio-mixing-in-pro-tools-on-the-surface-pro.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>Audio Mixing in Pro Tools on the Surface Pro Tablet</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/nab-2019-sound-devices-scorpio-the-new-flagship-mixer-recorder" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs_sound-devices-scorpio_nab-2019_0.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs_sound-devices-scorpio_nab-2019_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>NAB 2019: Sound Devices Scorpio, The New Flagship Mixer-Recorder</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/presonus-announces-studiolive-series-iii-s-digital-mixers" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-presonus-studiolive-series-iii-s-digital-mixers-studiolive-64s-32s-32sx-32sc_0.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-presonus-studiolive-series-iii-s-digital-mixers-studiolive-64s-32s-32sx-32sc_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>PreSonus Announces StudioLive Series III S Digital Mixers</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/namm-2019-apogee-hypemic-usb-mic-with-studio-quality-compression" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-namm2019-apogee-hypemic-usb-microphone-with-headphone-output-and-studio-quality-compression.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-namm2019-apogee-hypemic-usb-microphone-with-headphone-output-and-studio-quality-compression.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>NAMM 2019: Apogee HypeMiC USB Mic with Studio-Quality Compression</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/hands-on-review/5-wallet-friendly-microphones-we-love-around-the-office" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/25044-covershot1.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/25044-covershot1.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>5 Wallet-Friendly Microphones We Love Around the Office</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Learning About Audio Recording</h2>
                <p>Audio recording&nbsp;is the process of capturing sound. Sound is captured by a&nbsp;recording microphone or other recording device. From there, the sound can be changed and manipulated by mixers and other specialized equipment used by sound technicians and producers.</p>
                <br>
                <h3>Types of Audio&nbsp;Recording Devices</h3>
                <p>There are many different types of audio recording devices, including recorders, players, and duplicators. Digital recording devices, such as portable audio recorders, are small and handy, and feature built-in microphones or microphone inputs. Mountable recording devices are suitable for permanent locations like conference rooms, places of worship, and <a href="https://www.bhphotovideo.com/c/browse/pro-audio-studio-recording/ci/40048" title="pro audio studio recording ">pro audio recording studios</a>. Multi-track mixers and recorders are versatile by allowing for multiple recording channels, and use during live performances. Analog recording devices include cassette recorders, as well as equipment to convert analog recordings into digital files.</p>
                <br>
                <h3>Mixers</h3>
                <p>An audio recorder mixer&nbsp;allows the user to manipulate the audio input by altering the high and low frequencies, the volume, and the presence in stereo output, as well as allowing the inputs to be diverted into specified auxiliary outputs. Audio mixers are optimal for both in-studio recording sessions and for live performances. The mixer allows for nuance and control in the output, creating the ability to carefully balance all of the instruments or inputs. Being able to divert sound into auxiliary output is especially useful in recording sessions when instrumentalists may need to listen to specific parts of the mix.</p>
                <p>Alternatively, you can use&nbsp;microphone accessories, such as&nbsp;<a href="https://www.bhphotovideo.com/c/browse/Channel-Strips-Preamps/ci/12167/N/3992462084">channel strips, preamps, and direct boxes</a>, to control sound input for recording. Preamps are also recommended for all microphone recordings of vocals and instrumentals, as they boost the input to create a cleaner sound in post-production.</p>
                <br>
                <h3>How Recording Microphones Work</h3>
                <p>A recording microphone works by intercepting vibrations created by an instrument or voice, capturing those vibrations via a thin diaphragm inside the microphone, and then translating that vibration into electrical signals. Different <a href="https://www.bhphotovideo.com/c/browse/Recording-Microphones/ci/14700/N/3631351264">studio recording microphones</a>&nbsp;have their own specialties, and are better suited for capturing various sounds or instruments.</p>
                <br>
                <h3>Microphone Types</h3>
                <p>Dynamic microphones are a staple, as they're reliable, durable, and adaptable.&nbsp;Large diaphragm condenser microphones are ideal for studio use, as their sensitivity captures even the most subtle intricacies of a voice or instrument. Small diaphragm mics are particularly useful in recording loud dynamics and high-pressure sounds like cymbals and high hat percussion. Ribbon microphones are multi-directional, and are optimal for capturing a balanced sound of the instrument, as well as the sound of the room.</p>
                <br>
                <p>Whichever microphone, audio mixer, or piece of studio recording equipment is right for you, B&amp;H Photo and Video has what you need to meet your audio recording needs.</p>
            </div>
        </div>


    </div>
</div>
