<div class="gsa-top-banner">
  <div class="gsa-top-banner-content new-page-width">
        <div class="gsa-primary-header">
            <h3 class="gsa-primary-header-title">
                <img class="gsa-primary-img" src="assets/images/FM-Banner-img.png"> 
                B&amp;H <span class="gsa-red">Federal MarketPlace</span>
            </h3>
            <div class="gsa-federal-creds">
                <span class="gsa-federal-cred">Federal ID: 13-276-8071</span>
                <span class="gsa-federal-cred">DUNS: 116012659</span>
                <span class="gsa-federal-cred">CAGE Code: 2Y053</span>
            </div>
        </div>
    <div class="gsa-secondary-header gsa-secondary-header-1">
      <h4 class="gsa-secondary-header-title">Log In for Federal Pricing</h4>
      <p class="gsa-secondary-header-text">Create an account using your government-issued email address to access B&amp;H's Federal Marketplace discounts. <span class="gsa-tooltip-opener js-popover-opener" data-popover-content-container="#gsa-banner-tooltip" data-class="s-tooltip" data-original-title="" title=""><svg class="gsa-info-light"><use xlink:href="#info-light"></use></svg></span></p>
    </div> 
    <div class="gsa-banner-border"></div>
    <div class="gsa-secondary-header gsa-secondary-header-2">
      <h4 class="gsa-secondary-header-title">Check Out with GPC</h4> 
      <p class="gsa-secondary-header-text">When you check out using a government purchase card, federal discount pricing will be automatically applied.</p>
    </div>
    <div class="gsa-banner-border"></div>
    <div class="gsa-secondary-header gsa-secondary-header-3">
      <h4 class="gsa-secondary-header-title">Need a Quote?</h4>
      <p class="gsa-secondary-header-text">Request a quote in My Cart. Convert a quote to an order online.</p> 
    </div>
      
         <div id="gsa-banner-tooltip" style="display:none">
      <div class="s-tooltip-heading">Federal Marketplace Eligibility</div>
      <p class="s-text">You'll need to log in with an active, government-issued email address to browse discounted pricing in our Federal Marketplace. You must also use a federal-issue government purchase card to complete an order.</p>
    </div>
  </div>
</div>
<div id="tContent">
  <div class="tMain">
      <div class="tBlock">

      </div> <!-- end tBlock for Side content -->
  </div> <!--end tContent -->

</div>
<section id="homePageCategiriesMain" class="categoriesWrapper" data-selenium="categoriesWrapper">
	<div class="clearfix">
		<div class="category photography" data-selenium="photography">
			<a class="overlay-on-hover" name="Center-Photography-Photography" data-selenium="photographyLink" href="https://www.bhphotovideo.com/c/browse/Photography/ci/989/N/4294538916">
				<div class="categoryImagePlaceholder"></div><span>Photography</span>
			</a>		
		</div>
		<div class="category Computers" data-selenium="computers">
			<a class="overlay-on-hover" name="Center-Computers-Computers" data-selenium="computersLink" href="https://www.bhphotovideo.com/c/browse/Computers-Solutions/ci/9581/N/4294542559">
				<div class="categoryImagePlaceholder"></div><span>Computers</span>
			</a>
		</div>
		<div class="category homeEntertainment" data-selenium="homeEntertainment">
			<a class="overlay-on-hover" name="Center-Home Entertainment-Home Entertainment" data-selenium="homeEntertainmentLink" href="https://www.bhphotovideo.com/c/browse/Home-Entertainment/ci/4600/N/4294544179">
				<div class="categoryImagePlaceholder"></div><span>TVs &amp; Entertainment</span>
			</a>		
		</div>
		<div class="category proVideo" data-selenium="proVideo">
			<a class="overlay-on-hover" name="Center-Pro Video-Pro Video" data-selenium="proVideoLink" href="https://www.bhphotovideo.com/c/browse/Professional-Video/ci/3755/N/4294545851">
				<div class="categoryImagePlaceholder"></div><span>Professional Video</span>
			</a>		
		</div>
		<div class="category Mobile" data-selenium="Mobile">
			<a class="overlay-on-hover" name="Center-Mobile-Mobile" data-selenium="MobileLink" href="https://www.bhphotovideo.com/c/browse/Mobile/ci/8565/N/4294542748">
				<div class="categoryImagePlaceholder"></div><span>Mobile</span>
			</a>		
		</div>
		<div class="category proAudio" data-selenium="proAudio">
			<a class="overlay-on-hover" name="Center-Pro Audio-Pro Audio" data-selenium="proAudioLink" href="https://www.bhphotovideo.com/c/browse/Professional-Audio/ci/12154/N/4294550705">
				<div class="categoryImagePlaceholder"></div><span>Pro Audio</span>
			</a>		
		</div>
		<div class="category photoAccessories" data-selenium="photoAccessories">
			<a class="overlay-on-hover" name="Center-Photo Accessories-Photo Accessories" data-selenium="photoAccessoriesLink" href="https://www.bhphotovideo.com/c/browse/Photography/ci/989/N/4294538916#Accessories">
				<div class="categoryImagePlaceholder"></div><span>Photo Accessories</span>
			</a>		
		</div>
		<div class="category consumerVideo" data-selenium="consumerVideo">
			<a class="overlay-on-hover" name="Center-Consumer Video-Consumer Video" data-selenium="consumerVideolLink" href="https://www.bhphotovideo.com/c/browse/Camcorders/ci/1820/N/4294548420">
				<div class="categoryImagePlaceholder"></div><span>Drones &amp; Camcorders</span>
			</a>
		</div>
		<div class="category lightingStudio" data-selenium="lightingStudio">
			<a class="overlay-on-hover" name="Center-Lighting &amp; Studio-Lighting &amp; Studio" data-selenium="lightingStudioLink" href="https://www.bhphotovideo.com/c/browse/Lighting-Studio/ci/1161/N/4294551176">
				<div class="categoryImagePlaceholder"></div><span>Lighting</span>
			</a>		
		</div>
		<div class="category avPresentation" data-selenium="avPresentation">
			<a class="overlay-on-hover" name="Center-A/V Presentation-A/V Presentation" data-selenium="avPresentationLink" href="https://www.bhphotovideo.com/c/browse/A-V-Presentation/ci/3644/N/4294546288">
			<div class="categoryImagePlaceholder"></div><span>Audio-Visual</span></a>		
		</div>
		<div class="category Surveillance" data-selenium="Surveillance">
			<a class="overlay-on-hover" name="Center-Surveillance-Surveillance" data-selenium="surveillanceLink" href="https://www.bhphotovideo.com/c/browse/Surveillance-Video/ci/3496/N/4293342959">
				<div class="categoryImagePlaceholder"></div><span>Surveillance</span>
			</a>		
		</div>
		<div class="category Optics" data-selenium="Optics">
			<a class="overlay-on-hover" name="Center-Optics-Optics" data-selenium="OpticsLink" href="https://www.bhphotovideo.com/c/browse/Binoculars-Scopes/ci/978/N/4294541872">
				<div class="categoryImagePlaceholder"></div><span>Optics</span>
			</a>		
		</div>
	</div>
</section>
<div class="gsa-bottom-info-wrapper">
  <div class="gsa-bi-header">Federal Marketplace Support:</div>
  <div class="gsa-bi-email">federalsales@bandh.com</div>
  <div class="gsa-bi-phone">800.974.9962 x7740</div>
</div>