<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-lightBreadcrumbs clp-lightPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Pro Video" class="clp-pageImage js-pageImage" style="background-image: url('assets/bimages/p-cat-t1.jpg')"></div>




        <a href="https://.bhphotovideo.com/explora/photography/news/panasonic-launches-s1h-the-best-mirrorless-camera-for-video">
            <img class="clp-bannerVideoLogo" src="assets/bimages/p-cat-t2.png" alt="sponsor logo" data-campaign-id="0">
        </a>





    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Professional-Video/ci/3755/N/4294545851" property="item" typeof="WebPage">
                        <span property="name">
                            Professional Video
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Pro Video</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Pro Video Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/harry-b-sando-jr_bw.png" alt="Harry Sando, B&amp;H Pro Video Expert" title="Harry Sando, B&amp;H Pro Video Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/jabari-holder.png" alt="Jabari Holder, B&amp;H Pro Video Expert" title="Jabari Holder, B&amp;H Pro Video Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/bruce-mermelstein_bw.png" alt="Bruce Mermelstein, B&amp;H Pro Video Expert" title="Bruce Mermelstein, B&amp;H Pro Video Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Professional-Video/-/ci/3755"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Pro Camcorders &amp; Cameras"></a>
                            <h2 class="clp-sectionTitle">Pro Camcorders &amp; Cameras</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Pro-Camcorders-Cameras/ci/16763/N/4256818817" id="Professional Camcorders" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1082160.jpg" alt="Professional Camcorders">

                                        <div class="clp-categoryName">Professional Camcorders</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/digital-cine-cameras/ci/28624/N/3705627354" id="Digital Cine Cameras" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/categoryImages/28624.jpg" alt="Digital Cine Cameras">

                                        <div class="clp-categoryName">Digital Cine Cameras</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Studio-EFP-Cameras/ci/16764/N/3769429769" id="Studio   EFP Cameras" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1000271.jpg" alt="Studio &amp; EFP Cameras">

                                        <div class="clp-categoryName">Studio &amp; EFP Cameras</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/industrial-cameras/ci/25265/N/3769429767" id="Industrial   Multi Purpose Cameras" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/686371.jpg" alt="Industrial &amp; Multi-Purpose Cameras">

                                        <div class="clp-categoryName">Industrial &amp; Multi-Purpose Cameras</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/ptz-cameras/ci/25266/N/3769429766" id="PTZ Cameras" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1111113.jpg" alt="PTZ Cameras">

                                        <div class="clp-categoryName">PTZ Cameras</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/pov-cameras/ci/25267/N/3769429765" id="POV Cameras" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1382661.jpg" alt="POV Cameras">

                                        <div class="clp-categoryName">POV Cameras</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/drones-aerial-photography/ci/27989/N/3765401948" id="Drones   Aerial Imaging" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1430449.jpg" alt="Drones &amp; Aerial Imaging">

                                        <div class="clp-categoryName">Drones &amp; Aerial Imaging</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/360-spherical-virtual-reality-production/ci/29185/N/3705627352" id="VR   360 Video" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1477734.jpg" alt="VR &amp; 360 Video">

                                        <div class="clp-categoryName">VR &amp; 360 Video</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Camcorder &amp; Camera Accessories"></a>
                            <h2 class="clp-sectionTitle">Camcorder &amp; Camera Accessories</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Lenses-Lens-Accessories/ci/3656/N/4028759367" id="Lenses   Lens Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1399826.jpg" data-src="assets/images/images150x150/1399826.jpg" alt="Lenses &amp; Lens Accessories">


                                        <div class="clp-categoryName">Lenses &amp; Lens Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Audio-for-Video/ci/15621/N/4028759637" id="Audio for Video" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1056426.jpg" data-src="assets/images/images150x150/1056426.jpg" alt="Audio for Video">


                                        <div class="clp-categoryName">Audio for Video</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/tripods-supports-rigs/ci/25214/N/3907816601" id="Tripods  Supports   Rigs" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1232545.jpg" data-src="assets/images/images150x150/1232545.jpg" alt="Tripods, Supports &amp; Rigs">


                                        <div class="clp-categoryName">Tripods, Supports &amp; Rigs</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Batteries-Power/ci/2020/N/4028759426" id="Batteries   Power" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1466924.jpg" data-src="assets/images/images150x150/1466924.jpg" alt="Batteries &amp; Power">


                                        <div class="clp-categoryName">Batteries &amp; Power</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Bags-Cases-Professional-Video/ci/1852/N/4028759498" id="Professional Video Cases" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/224238.jpg" data-src="assets/images/images150x150/224238.jpg" alt="Professional Video Cases">


                                        <div class="clp-categoryName">Professional Video Cases</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/camcorder-camera-peripherals/ci/24559/N/3907816636" id="Camcorder   Camera Peripherals" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1344691.jpg" data-src="assets/images/images150x150/1344691.jpg" alt="Camcorder &amp; Camera Peripherals">


                                        <div class="clp-categoryName">Camcorder &amp; Camera Peripherals</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Production Equipment"></a>
                            <h2 class="clp-sectionTitle">Production Equipment</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Live-Studio-EFP/ci/2390/N/4028759402" id="Studio   EFP Equipment" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/833114.jpg" data-src="assets/images/images150x150/833114.jpg" alt="Studio &amp; EFP Equipment">


                                        <div class="clp-categoryName">Studio &amp; EFP Equipment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Monitors-Accessories/ci/1844/N/4028759523" id="Monitors" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1049255.jpg" data-src="assets/images/images150x150/1049255.jpg" alt="Monitors">


                                        <div class="clp-categoryName">Monitors</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Video-Player-Recorders-Accessories/ci/1840/N/4028759540" id="Recorders   Duplication" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1247728.jpg" data-src="assets/images/images150x150/1247728.jpg" alt="Recorders &amp; Duplication">


                                        <div class="clp-categoryName">Recorders &amp; Duplication</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Studio-Facility-Equipment/ci/13535/N/4028759669" id="Signal Processing   Distribution" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/899101.jpg" data-src="assets/images/images150x150/899101.jpg" alt="Signal Processing &amp; Distribution">


                                        <div class="clp-categoryName">Signal Processing &amp; Distribution</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Video-Editing-Computer-Graphics-Solutions/ci/16357/N/4289213746" id="Post Production" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1351415.jpg" data-src="assets/images/images150x150/1351415.jpg" alt="Post Production">


                                        <div class="clp-categoryName">Post Production</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/lighting/ci/25272/N/3907816531" id="Lighting" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/884129.jpg" data-src="assets/images/images150x150/884129.jpg" alt="Lighting">


                                        <div class="clp-categoryName">Lighting</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Accessories"></a>
                            <h2 class="clp-sectionTitle">Accessories</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Tapes-Digital-Media-Accessories/ci/1858/N/4028759444" id="Tapes   Digital Media" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1214466.jpg" data-src="assets/images/images150x150/1214466.jpg" alt="Tapes &amp; Digital Media">


                                        <div class="clp-categoryName">Tapes &amp; Digital Media</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Cables/ci/4391/N/4028759291" id="Cables" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1083890.jpg" data-src="assets/images/images150x150/1083890.jpg" alt="Cables">


                                        <div class="clp-categoryName">Cables</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/underwater-equipment/ci/28087/N/3770636074" id="Underwater Equipment" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1045131.jpg" data-src="assets/images/images150x150/1045131.jpg" alt="Underwater Equipment">


                                        <div class="clp-categoryName">Underwater Equipment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Furniture-Rackmounts/ci/1854/N/4028759472" id="Racks   Furniture" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/867490.jpg" data-src="assets/images/images150x150/867490.jpg" alt="Racks &amp; Furniture">


                                        <div class="clp-categoryName">Racks &amp; Furniture</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Videography-Books-Tutorials/ci/13844/N/4028759642" id="Tutorials" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1058354.jpg" data-src="assets/images/images150x150/1058354.jpg" alt="Tutorials">


                                        <div class="clp-categoryName">Tutorials</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/installation/ci/31898/N/3575202073" id="Installation" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1031616.jpg" data-src="assets/images/images150x150/1031616.jpg" alt="Installation">


                                        <div class="clp-categoryName">Installation</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div data-selenium="htmlSectionAd">
                            <div> <a href="https://www.bhphotovideo.com/c/promotion/15389/dji-ronin-sc.html" target="_blank" style="text-align: center"> <img src="https://www.bhphotovideo.com/bimages/7083-DJI-ronin-double.jpg" alt="DJI Ronin-SC - Learn More" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                        </div>





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;3755&quot;}" data-count="3" data-slot="1165">
                            <div> <a class="pla2-item clearfix" title="JVC GY-HM180 Ultra HD 4K Camcorder with HD-SDI" href="https://ad.tagdelivery.com/click?id=58af0602-1ca4-46e2-920e-985f0d051a95&amp;x=EGLn46sjsHRHo498XYlfN_gIKUJ6n04B92i2aDJ8YBMfQryaATmmfuU0zkiObs4gh77Ff3La2Nj7iLlQdpT6twwAESQ_VoWDXDj-9G5G9sGMvJ0rL1Xi1mOW2LWtHF3IewJ0ZTFUWCLyrWzMrdj6G0nv2rw01ht2z_gNAA6NKIsUJMHMBLJBANBznm5aNihrYUHT91ijzDHfmmv2U3iIZw4Wa9wgoTvd-MtXLH4cin4BUZoL4P9dyecmIl8MgftqD1hiC29imbN_zrASnI74SQ%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1400278-REG/jvc_gy_hm180_4k_ultra_hd.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="assets/images/images150x150/1523278239000_1400278.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">JVC GY-HM180 Ultra HD 4K Camcorder with HD-SDI</div>
                                        <div class="pla2-price-row"> <span class="pla2-original-price show-for-high-res-only">$1,495.00</span> <span class="pla2-final-price c7">$1,295.00</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=58af0602-1ca4-46e2-920e-985f0d051a95&amp;x=EGLn46sjsHRHo498XYlfN_gIKUJ6n04B92i2aDJ8YBMfQryaATmmfuU0zkiObs4gh77Ff3La2Nj7iLlQdpT6twwAESQ_VoWDXDj-9G5G9sGMvJ0rL1Xi1mOW2LWtHF3IewJ0ZTFUWCLyrWzMrdj6G0nv2rw01ht2z_gNAA6NKIsUJMHMBLJBANBznm5aNihrYUHT91ijzDHfmmv2U3iIZw4Wa9wgoTvd-MtXLH4cin4BUZoL4P9dyecmIl8MgftqD1hiC29imbN_zrASnI74SQ%3D%3D" src="https://ad.tagdelivery.com/impression?id=58af0602-1ca4-46e2-920e-985f0d051a95&amp;x=EGLn46sjsHRHo498XYlfN_gIKUJ6n04B92i2aDJ8YBMfQryaATmmfuU0zkiObs4gh77Ff3La2Nj7iLlQdpT6twwAESQ_VoWDXDj-9G5G9sGMvJ0rL1Xi1mOW2LWtHF3IewJ0ZTFUWCLyrWzMrdj6G0nv2rw01ht2z_gNAA6NKIsUJMHMBLJBANBznm5aNihrYUHT91ijzDHfmmv2U3iIZw4Wa9wgoTvd-MtXLH4cin4BUZoL4P9dyecmIl8MgftqD1hiC29imbN_zrASnI74SQ%3D%3D"> </div>
                            <div> <a class="pla2-item clearfix" title="JVC GY-HM250 UHD 4K Streaming Camcorder with Built-in Lower-Thirds Graphics" href="https://ad.tagdelivery.com/click?id=d3b5fec0-b51c-4571-bb02-611dbf2c6224&amp;x=YHkGZMpekuj9yzHoVst4QH2LV9yHmfhs5dcNvfA1HHpOaC4UXocnCrwcVn8TakkyN07WFB6D9kMJY98iorWoqAJHtidxnO3ErlmyFbA4HYYeqlVsIyh2X4sJu6brHHy7KBzcc6dfdqwXMJUYX8ol0Yjb7_hIQdQjLHo_hBhUILf4wCK2fFm9jfKNibcu6cewPE8e0iPGNQKRxQD6k_Jbj1lb9qNTkKNubWhOTQmxD3uheZuSb-f9qnDLySu9__6xUTQOICytLi2FxJLosDV6CA%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1400279-REG/jvc_gy_hm250_4k_uhd_camcorder.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="assets/images/images150x150/1523278239000_1400279.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">JVC GY-HM250 UHD 4K Streaming Camcorder with Built-in Lower-Thirds Graphics</div>
                                        <div class="pla2-price-row"> <span class="pla2-original-price show-for-high-res-only">$1,999.00</span> <span class="pla2-final-price c7">$1,749.00</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=d3b5fec0-b51c-4571-bb02-611dbf2c6224&amp;x=YHkGZMpekuj9yzHoVst4QH2LV9yHmfhs5dcNvfA1HHpOaC4UXocnCrwcVn8TakkyN07WFB6D9kMJY98iorWoqAJHtidxnO3ErlmyFbA4HYYeqlVsIyh2X4sJu6brHHy7KBzcc6dfdqwXMJUYX8ol0Yjb7_hIQdQjLHo_hBhUILf4wCK2fFm9jfKNibcu6cewPE8e0iPGNQKRxQD6k_Jbj1lb9qNTkKNubWhOTQmxD3uheZuSb-f9qnDLySu9__6xUTQOICytLi2FxJLosDV6CA%3D%3D" src="https://ad.tagdelivery.com/impression?id=d3b5fec0-b51c-4571-bb02-611dbf2c6224&amp;x=YHkGZMpekuj9yzHoVst4QH2LV9yHmfhs5dcNvfA1HHpOaC4UXocnCrwcVn8TakkyN07WFB6D9kMJY98iorWoqAJHtidxnO3ErlmyFbA4HYYeqlVsIyh2X4sJu6brHHy7KBzcc6dfdqwXMJUYX8ol0Yjb7_hIQdQjLHo_hBhUILf4wCK2fFm9jfKNibcu6cewPE8e0iPGNQKRxQD6k_Jbj1lb9qNTkKNubWhOTQmxD3uheZuSb-f9qnDLySu9__6xUTQOICytLi2FxJLosDV6CA%3D%3D"> </div>
                            <div> <a class="pla2-item clearfix" title="JVC GY-HM170UA 4KCAM Compact Professional Camcorder with Top Handle Audio Unit" href="https://ad.tagdelivery.com/click?id=5d020622-88d6-49b1-b230-112b397c7315&amp;x=50GJ70KTfM8Ik-sLnmZMpXv5QC7qoaRB7vme-VIlUr6ANzKR182tqSOOe2hW20EL1PgrkDgGBPP-N_Jp26dPU_KWjpxpXqmOFe9JHZBc9iudQE520FQNuPsbpK4szyiMaVrEo1qJ_BKxVlX5QCokwpkUm3XikZL5yTeRq8AiOuf_2qEFUnhCyp_IKb0o5cvmUElYgLL52iaOyzr0yXn12H3pmVE6x3TrWXRx6QdKwzMexROXqToQABtShtLUZfJWN-LO4Kwf8X_xBwEKMRREnQ%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1194106-REG/jvc_gy_hm170ua_4kcam_compact_professional.html" data-campaign-id="">
                                    <div class="pla2-image-wrapper"> <img src="assets/images/images150x150/1446063701000_1194106.jpg"> </div>
                                    <div class="pla2-item-right">
                                        <div class="pla2-item-title underline-on-hover c5">JVC GY-HM170UA 4KCAM Compact Professional Camcorder with Top Handle Audio Unit</div>
                                        <div class="pla2-price-row"> <span class="pla2-original-price show-for-high-res-only">$1,695.00</span> <span class="pla2-final-price c7">$1,195.00</span> </div>
                                    </div>
                                    <div class="pla2-buy-now underline-on-hover"> Buy Now <svg class="pla2-buy-now-svg">
                                            <use xlink:href="#chevron-thin-right"></use>
                                        </svg> </div>
                                </a> <img style="position: absolute; visibility: hidden;" class="js-pla-impression" data-src="https://ad.tagdelivery.com/impression?id=5d020622-88d6-49b1-b230-112b397c7315&amp;x=50GJ70KTfM8Ik-sLnmZMpXv5QC7qoaRB7vme-VIlUr6ANzKR182tqSOOe2hW20EL1PgrkDgGBPP-N_Jp26dPU_KWjpxpXqmOFe9JHZBc9iudQE520FQNuPsbpK4szyiMaVrEo1qJ_BKxVlX5QCokwpkUm3XikZL5yTeRq8AiOuf_2qEFUnhCyp_IKb0o5cvmUElYgLL52iaOyzr0yXn12H3pmVE6x3TrWXRx6QdKwzMexROXqToQABtShtLUZfJWN-LO4Kwf8X_xBwEKMRREnQ%3D%3D" src="https://ad.tagdelivery.com/impression?id=5d020622-88d6-49b1-b230-112b397c7315&amp;x=50GJ70KTfM8Ik-sLnmZMpXv5QC7qoaRB7vme-VIlUr6ANzKR182tqSOOe2hW20EL1PgrkDgGBPP-N_Jp26dPU_KWjpxpXqmOFe9JHZBc9iudQE520FQNuPsbpK4szyiMaVrEo1qJ_BKxVlX5QCokwpkUm3XikZL5yTeRq8AiOuf_2qEFUnhCyp_IKb0o5cvmUElYgLL52iaOyzr0yXn12H3pmVE6x3TrWXRx6QdKwzMexROXqToQABtShtLUZfJWN-LO4Kwf8X_xBwEKMRREnQ%3D%3D"> </div>
                        </div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;3755&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=8c7519ad-fa0b-4f4f-914f-4a89eea0cdfd&amp;x=6hXf3UjiGuX0baDATHNLN13OsFx0dzES_GExHDKDR_65Pjljfj4QiweN__4Ni-yJohu9zWtBY9Eiq1USpu5qMl2EdykSw9gDKQcZI0vTVouj72l8i6dFRX3qfX44Hkt7_tw5FmpV8wZ6RTG9Za0ZBvY4ObfUfyOx8HWqpJhuE1NgcsJJTe76z3w--Hv0crub9JmmjMxjqOGMlIkUQWq6xvUz1vf1bljwXcAqbhVj0x6VlJ4yClVbdynQOXKP0X4mlvs-S5SQDK4S5fjMyl279Q%3D%3D&amp;redirect=https://www.bhphotovideo.com/explora/video/news/sandisk-launches-line-of-ultra-fast-cfexpress-cards?" class="overlay-on-hover" style="text-align: center" data-campaign-id="43825"> <img src="assets/prmt/ba2c0d3e1d5ef36a8d36b1b022381465" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=8c7519ad-fa0b-4f4f-914f-4a89eea0cdfd&amp;x=6hXf3UjiGuX0baDATHNLN13OsFx0dzES_GExHDKDR_65Pjljfj4QiweN__4Ni-yJohu9zWtBY9Eiq1USpu5qMl2EdykSw9gDKQcZI0vTVouj72l8i6dFRX3qfX44Hkt7_tw5FmpV8wZ6RTG9Za0ZBvY4ObfUfyOx8HWqpJhuE1NgcsJJTe76z3w--Hv0crub9JmmjMxjqOGMlIkUQWq6xvUz1vf1bljwXcAqbhVj0x6VlJ4yClVbdynQOXKP0X4mlvs-S5SQDK4S5fjMyl279Q%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=62163ca7-ae79-459f-8bdf-ad1fd75697ad&amp;x=mOkBA_JREJANKm_XLQvmwCmnzPfHlVY0r7EVN2Mo4FL5jnlwRYxcErBT0dMQCzf9udeIlXC1pK3Z0UT-n9oA2HIfK2cu24wT9aiyt7FWeDz7fKM-mcfNKVFDKsiS1Emajd7w3cu9ZxXip60SPk8Bz6H1ptGlEhzwIm4KyWI9TqLF12ISrqy3wtLbpN68Ifn5Cnq9ra7SxFOuOYOWPP5dokCwO9J7exARbgdvC2kGSxmq_4OSsrUaMqafqETRDOgfAMt4oMvaeBiDW09sBkQquA%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/promotion/14807/syrp-genie-ii-motion-control.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="42588"> <img src="assets/prmt/17274ad0050bb53a235cdaeee58ec2c3" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=62163ca7-ae79-459f-8bdf-ad1fd75697ad&amp;x=mOkBA_JREJANKm_XLQvmwCmnzPfHlVY0r7EVN2Mo4FL5jnlwRYxcErBT0dMQCzf9udeIlXC1pK3Z0UT-n9oA2HIfK2cu24wT9aiyt7FWeDz7fKM-mcfNKVFDKsiS1Emajd7w3cu9ZxXip60SPk8Bz6H1ptGlEhzwIm4KyWI9TqLF12ISrqy3wtLbpN68Ifn5Cnq9ra7SxFOuOYOWPP5dokCwO9J7exARbgdvC2kGSxmq_4OSsrUaMqafqETRDOgfAMt4oMvaeBiDW09sBkQquA%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/video/news/which-new-metabones-adapter-is-for-you" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/27606-cs.png" data-src="assets/explora/sites/default/files/27606-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Which New Metabones Adapter is for You?</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/video/features/just-announced-rotolights-next-big-thing-the-titan-x2-2x1-rgbww-led-light" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-rotolight-titan-x2-led-softlight-for-cinematic-lighting.png" data-src="assets/explora/sites/default/files/cs-rotolight-titan-x2-led-softlight-for-cinematic-lighting.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Features</h6>
                                    <div class="ellipsizer">
                                        <p>Just Announced: Rotolight's Next Big Thing, the Titan X2 2x1 RGBWW LED Light</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/videos/video/first-look-canon-c500-mark-ii" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/canon_c500_ii_square.jpg" data-src="assets/explora/sites/default/files/canon_c500_ii_square.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>First Look: Canon C500 Mark II </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/video/news/tailor-made-full-frame-capture-with-the-canon-c500-mark-ii" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-canon-c500-mark-ii-accessories-and-4k-reference-display.png" data-src="assets/explora/sites/default/files/cs-canon-c500-mark-ii-accessories-and-4k-reference-display.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Tailor-Made Full-Frame Capture with the Canon C500 Mark II</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/videos/video/hands-on-review-blackmagic-pocket-cinema-camera-6k" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/bmpcc6k_sq.jpg" data-src="assets/explora/sites/default/files/bmpcc6k_sq.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>Hands-On Review: Blackmagic Pocket Cinema Camera 6K </p>
                                    </div>
                                </div>
                            </a>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>


                        <div data-selenium="htmlSectionAd">
                            <a href="/bnh/controller/home?O=cableFinder&amp;A=cableSearch&amp;Q=&amp;ci=16340&amp;N=4288590280+4289217270&amp;cm_sp=Banner-_-Promotions-_-Cable_BI17538" class="clp-textSidebarBanner clp-overlayOnHover" style="background-color: #fff;"> <img class="clp-sidebarBannerImg" src="assets/bimages/cablefinderimg123456789.jpg">
                                <div class="clp-sidebarBanner-text">
                                    <p>Quickly find the cables you need</p>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Pro Video</h2>
                <p>Another name for B&amp;H: "Pro Video Paradise. " At least, that's the answer you'll get if you ask some of the film industry professionals who rely on us for their video equipment needs. But even though our extensive inventory, ranging from high-end video editing software and studio-quality gear to state-of-the-art production equipment and comprehensive service solutions, has garnered an avid following among advanced technicians and leading creative minds across multiple industries, B&amp;H is also the retailer of choice for savvy amateur video shoppers worldwide.</p>
                <p>Why? Simply put, we know your stuff—and we give it to you straight. Whether you're an aspiring up-and-comer or a seasoned pro, our knowledgeable sales staff will point you to the best video camera based on your budget, your preferences and how you intend to use it. And we won't pressure you to buy on the spot, or at all. We don't work on commission, so we just want you to get what you need—that's all!</p>
                <p>Want to know how to make a video, or how to edit a video? We've collected dozens of articles and step-by-step tutorials explaining exactly that (and more!) on our Explora blog. What's more, you can also delve into topics ranging from film techniques to media production to how to break into professional video.</p>
                <p>In addition to supporting tried-and-true video art forms, B&amp;H is also committed to emerging platforms and cutting-edge technology, like aerial imaging, 360° video and virtual reality. We already stock many hard-to-find solutions for early adopters, content creators and consumers in these arenas. Want to shoot the first 360° wedding video? We can help.</p>
                <p>B&amp;H aims to be your go-to video source, whether you're involved in television, broadcasting or filmmaking, or produce vlogs, webisodes or music videos. As part of our mission to provide a panoramic shopping experience, you can trust us to support your video equipment-buying decision from start to finish, and beyond!</p>
            </div>
        </div>


    </div>
</div>