<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Computers-Solutions/ci/9581/N/4294542559" property="item" typeof="WebPage">
                        <span property="name">
                            Computers
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Desktop/ci/18817/N/4110474299" property="item" typeof="WebPage">
                        <span property="name">
                            Desktops &amp; Workstations
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Desktops &amp; Workstations</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Computer Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/geoffrey-ngai.png" alt="Geoffrey N., B&amp;H Computer Expert" title="Geoffrey N., B&amp;H Computer Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/akiva-munnell.png" alt="Akiva Munnell, B&amp;H Computer Expert" title="Akiva Munnell, B&amp;H Computer Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/victor-rodrigus_0.png" alt="Victor Rodriguez, B&amp;H Expert" title="Victor Rodriguez, B&amp;H Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Computers/-/ci/9581"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Desktop-Computers/ci/9594/N/4110474293" id="Desktop Computers" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1285006.jpg" alt="Desktop Computers">

                                        <div class="clp-categoryName">Desktop Computers</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/All-In-One-Desktop-Computers/ci/6780/N/4110474294" id="All In One Desktop Computers" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1067738.jpg" alt="All-In-One Desktop Computers">

                                        <div class="clp-categoryName">All-In-One Desktop Computers</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Windows-Computers/ci/16360/N/4110474296" id="PC Workstations" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1381109.jpg" alt="PC Workstations">

                                        <div class="clp-categoryName">PC Workstations</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/iMac/ci/6490/N/4110474295" id="iMac" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1151657.jpg" alt="iMac">

                                        <div class="clp-categoryName">iMac</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Mac-Pro/ci/12517/N/4110474297" id="Mac Pro" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1021114.jpg" alt="Mac Pro">

                                        <div class="clp-categoryName">Mac Pro</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Mac-mini/ci/10009/N/4110474298" id="Mac mini" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1441919.jpg" alt="Mac mini">

                                        <div class="clp-categoryName">Mac mini</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/pc-sticks/ci/31006/N/3668461615" id="PC Sticks" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1201283.jpg" alt="PC Sticks">

                                        <div class="clp-categoryName">PC Sticks</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/barebone-pcs/ci/31007/N/3668461614" id="Barebone PCs" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1214182.jpg" alt="Barebone PCs">

                                        <div class="clp-categoryName">Barebone PCs</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/terminal-thin-clients/ci/26455/N/3845464597" id="Terminal   Thin Clients" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1441763.jpg" alt="Terminal &amp; Thin Clients">

                                        <div class="clp-categoryName">Terminal &amp; Thin Clients</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;18817&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;18817&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=a1c17606-dd14-4518-a070-38446d37f67e&amp;x=hxWxvGZND6xP1JvD6GgIOYO6yLS-NZ5h_DDMcnge-C8-G-mzf7y9QeKqxhbi-g6aX5jISf1J63kkJRuv6gOApb1kaM166Rvo0ioWrCa-YAMBy13fXNTw7lCDcmORYcP05XrwmpkV3msZ7V3Sz8waKKMMLlZITKltYWb0TP4Hos_oW7l9CQDzWxpbddKc2ftBxKYVLZUyBvrfX01daUy-SKnA_g37tID0Ep95qUzCDmQ7oEAcmEeNnyGU7keoQrsLMC6bDVvp0qA2mls2qDXoLw%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/promotion/14788/boost-your-creative-capacity-with-owc" class="overlay-on-hover" style="text-align: center" data-campaign-id="41252"> <img src="assets/prmt/05103468ec579537cd13ca5d8ee93981" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=a1c17606-dd14-4518-a070-38446d37f67e&amp;x=hxWxvGZND6xP1JvD6GgIOYO6yLS-NZ5h_DDMcnge-C8-G-mzf7y9QeKqxhbi-g6aX5jISf1J63kkJRuv6gOApb1kaM166Rvo0ioWrCa-YAMBy13fXNTw7lCDcmORYcP05XrwmpkV3msZ7V3Sz8waKKMMLlZITKltYWb0TP4Hos_oW7l9CQDzWxpbddKc2ftBxKYVLZUyBvrfX01daUy-SKnA_g37tID0Ep95qUzCDmQ7oEAcmEeNnyGU7keoQrsLMC6bDVvp0qA2mls2qDXoLw%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=46e4e6c1-3b10-4b74-b790-b81f58f67d08&amp;x=jf4NrrjaR1935mCyANo8N6ab_YlRtXXltSmO1Zg93mb1Y9CEkfG0pZ-GIgXlkm-m8Oc_zuy_f3Gmx7kZXHGeeYQgZF5u7x9x-ykg3I3DWzOO2Ale6ykym6jxCGI6-_7sb1uSYclfs_hRx9hObrikMUKeoDN-nT7uMu9uzjlivD-HhuiS4U6e_WxBeIctsyTkaQVA2LXEx-dNVvIiCe6CEjNto7FAHn1VuUxz11Nkql4e_OKsu99x7ZgosmCLwmEcUBmO9Z0UtPi8C8bOaAeZWw%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1124191-REG/adobe_65259312_creative_cloud_photography_plan.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="43383"> <img src="assets/prmt/891d071d98eba0fd98e85cbed84a1ac2" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=46e4e6c1-3b10-4b74-b790-b81f58f67d08&amp;x=jf4NrrjaR1935mCyANo8N6ab_YlRtXXltSmO1Zg93mb1Y9CEkfG0pZ-GIgXlkm-m8Oc_zuy_f3Gmx7kZXHGeeYQgZF5u7x9x-ykg3I3DWzOO2Ale6ykym6jxCGI6-_7sb1uSYclfs_hRx9hObrikMUKeoDN-nT7uMu9uzjlivD-HhuiS4U6e_WxBeIctsyTkaQVA2LXEx-dNVvIiCe6CEjNto7FAHn1VuUxz11Nkql4e_OKsu99x7ZgosmCLwmEcUBmO9Z0UtPi8C8bOaAeZWw%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="assets/explora/computers/news/cyberpowerpc-updated-with-nvidia-20-series-graphics-cards" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-cyberpowerpc_gamer-xtreme-rtx-2080-systems_0.jpg" data-src="assets/explora/sites/default/files/cs-cyberpowerpc_gamer-xtreme-rtx-2080-systems_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>CyberPowerPC Updated with NVIDIA 20-Series Graphics Cards</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/news/new-z2-g4-workstations-from-hp" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-hp-2018-z2-g4-workstation-lineup-z2g4_mini-small-tower_1.jpg" data-src="assets/explora/sites/default/files/cs-hp-2018-z2-g4-workstation-lineup-z2g4_mini-small-tower_1.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>New Z2 G4 Workstations from HP</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/news/new-hp-chromebox-g2-mini-desktop-computer" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/24032-cs.jpg" data-src="assets/explora/sites/default/files/24032-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>New HP Chromebox G2 Mini Desktop Computer</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/buying-guide/apple-desktops-designers" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/23042-cs.jpg" data-src="assets/explora/sites/default/files/23042-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Apple Desktops For Designers</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/tips-and-solutions/6-privacy-tips-microsoft-windows-10-users" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/19492-cs.jpg" data-src="assets/explora/sites/default/files/19492-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>6 Privacy Tips for Microsoft Windows 10 Users</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/hands-review/hp-elite-slice-minimal-modular-mighty" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs2_1.jpg" data-src="assets/explora/sites/default/files/cs2_1.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>HP Elite Slice: Minimal. Modular. Mighty.</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>


                        <div data-selenium="htmlSectionAd">
                            <a href="//www.bhphotovideo.com/find/cableFinder.jsp&amp;cm_sp=Banner-_-Promotions-_-Cable_BI17538" class="clp-textSidebarBanner clp-overlayOnHover" style="background-color: #fff;"> <img class="clp-sidebarBannerImg" src="//www.bhphotovideo.com/bimages/cablefinderimg123456789.jpg">
                                <div class="clp-sidebarBanner-text">
                                    <p>Quickly find the cables you need</p>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Learning about Desktops &amp; Workstations</h2>
                <p>Despite the popularity of mobile solutions such as laptops and tablets, you can't beat desktop PCs for their blend of power, stability, and flexibility. They're available in a range of styles and capabilities including robust workstations and iMacs with eye-popping displays.</p>
                <p>Whether you need to handle general business and Internet-related tasks such as word processing or surfing the Web, or intensive tasks such as video editing or graphic design, you can find just the right desktop for your needs. Regular models are ideal for everyday use, while <a href="https://www.bhphotovideo.com/c/buy/Windows-Computers/ci/16360/N/4110474296">PC workstations</a> equipped with cutting-edge processors, high-capacity hard drives, and ample, high-end memory make short work of the most intensive computing tasks.</p>
                <br>
                <h3>Types of Desktops</h3>
                <p>A desktop computer&nbsp;comes in two main types: the tower or mid-tower format, and all-in-one models. Towers come in a range of sizes, from mini to tall. <a href="https://www.bhphotovideo.com/c/buy/All-In-One-Desktop-Computers/ci/6780/N/4110474294">All-in-one desktop computers</a> feature the processor, storage, and memory enclosed in the monitor itself, forming one compact unit. You can also find models designed specifically for gaming, as well as backpack PCs that are ideal for virtual reality. Most desktop PCs run the Windows operating system. However, if you're an Apple fan, you'll love an all-in-one <a href="https://www.bhphotovideo.com/c/buy/iMac/ci/6490/N/4110474295">Apple iMac</a>. With retina displays of up to 27 inches, they're perfect for desktop publishing and video editing work.</p>
                <br>
                <h3>How Do Regular Desktop Computers and PC Workstations Differ?</h3>
                <p>While they look and function similarly, the main difference lies in what's under the hood. Workstations were originally developed by NASA to handle the intensive data processing and graphics rendering tasks in the Apollo space program. This makes them suitable for intensive computing tasks such as video editing, number crunching, and computer-aided design and manufacturing (CAD/CAM).</p>
                <br>
                <h3>Workstation Features</h3>
                <p>Workstations are fitted with high-specification hardware such as multi-core processors for efficient multitasking, high-capacity SSD units for lightning-fast data storage and retrieval, and ECC (error-correcting code memory) RAM that can detect and correct various types of memory corruption. Many feature high-end graphics cards with dedicated graphics memory. These are desirable if you do a lot of work with videos or images.</p>
                <br>
                <h3>Desktops for Small Spaces</h3>
                <p>All-in-one desktops are very sleek, and you can get small form or micro desktop towers. These types of towers are small enough to fit on a corner of a desk or even behind a monitor. Therefore, whether you're working from a regular office, a small office, or a spare room or corner of your home, you'll be able to find the optimally sized unit for your needs.<br><br> If your business or hobby relies on dependable computer systems that can handle the most demanding jobs, you'll find a range of <a href="https://www.bhphotovideo.com/c/buy/Desktop-Computers/ci/9594/N/4110474293">desktop computers</a> that deliver the power and stability you need to succeed. Check out B&amp;H Photo and Video's premier selection of leading brands to find the right equipment and accessories for your exact needs.</p>
            </div>
        </div>


    </div>
</div>