<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-lightBreadcrumbs clp-lightPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Audio-Visual" class="clp-pageImage js-pageImage" style="background-image: url('assets/bimages/HeaderBG_AvPresentation.jpg')"></div>





    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/A-V-Presentation/ci/3644/N/4294546288" property="item" typeof="WebPage">
                        <span property="name">
                            Audio Visual Presentation
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Audio-Visual</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Audio Visual Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/jed_glaser_bw.png" alt="Jed Glaser, B&amp;H A/V Expert" title="Jed Glaser, B&amp;H A/V Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/leticia_m_bw.png" alt="Leticia M., B&amp;H A/V Expert" title="Leticia M., B&amp;H A/V Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/bryan-yee_bw.png" alt="Bryan Yee, B&amp;H A/V Expert" title="Bryan Yee, B&amp;H A/V Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Audio-Visual-Presentation/-/ci/3644"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Projection &amp; Display"></a>
                            <h2 class="clp-sectionTitle">Projection &amp; Display</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Multimedia-Projectors-Displays/ci/1520/N/4294546287" id="Projectors" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1000369.jpg" alt="Projectors">

                                        <div class="clp-categoryName">Projectors</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Projector-Screens-by-Brand/ci/9829/N/4034387537" id="Projection Screens" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/14810.jpg" alt="Projection Screens">

                                        <div class="clp-categoryName">Projection Screens</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Multimedia-Displays-Digital-Signage/ci/17761/N/4205668457" id="Commercial Monitors   Displays" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1299677.jpg" alt="Commercial Monitors &amp; Displays">

                                        <div class="clp-categoryName">Commercial Monitors &amp; Displays</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Video-Presenters-Visualizers/ci/17763/N/4205668453" id="Video Presenters" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1121615.jpg" alt="Video Presenters">

                                        <div class="clp-categoryName">Video Presenters</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Interactive-Presentation-Equipment/ci/17760/N/4205668463" id="Whiteboards  Easels   Displays" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1165098.jpg" alt="Whiteboards, Easels &amp; Displays">

                                        <div class="clp-categoryName">Whiteboards, Easels &amp; Displays</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/video-conferencing/ci/29183/N/3725044857" id="Video Conferencing" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1164835.jpg" alt="Video Conferencing">

                                        <div class="clp-categoryName">Video Conferencing</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Audio Solutions"></a>
                            <h2 class="clp-sectionTitle">Audio Solutions</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/pa-systems/ci/20834/N/4034387048" id="PA Systems" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1243958.jpg" data-src="assets/images/images150x150/1243958.jpg" alt="PA Systems">


                                        <div class="clp-categoryName">PA Systems</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/cinema-loud-speakers/ci/43895" id="Cinema Loud Speakers" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/965634.jpg" data-src="assets/images/images150x150/965634.jpg" alt="Cinema Loud Speakers">


                                        <div class="clp-categoryName">Cinema Loud Speakers</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/microphones/ci/20840/N/4034387042" id="Microphones" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/788672.jpg" data-src="assets/images/images150x150/788672.jpg" alt="Microphones">


                                        <div class="clp-categoryName">Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Assistive-Listening/ci/12571/N/4034387089" id="Assistive Listening" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/539204.jpg" data-src="assets/images/images150x150/539204.jpg" alt="Assistive Listening">


                                        <div class="clp-categoryName">Assistive Listening</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Conference-Systems-Components/ci/11409/N/4034387090" id="Audio Conferencing" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1281971.jpg" data-src="assets/images/images150x150/1281971.jpg" alt="Audio Conferencing">


                                        <div class="clp-categoryName">Audio Conferencing</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/lecterns-podiums-timers/ci/20835/N/4034387045" id="Lecterns  Podiums   Timers" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/674191.jpg" data-src="assets/images/images150x150/674191.jpg" alt="Lecterns, Podiums &amp; Timers">


                                        <div class="clp-categoryName">Lecterns, Podiums &amp; Timers</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Voice-Recorders-Accessories/ci/17441/N/4035153668" id="Voice Recorders" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1234259.jpg" data-src="assets/images/images150x150/1234259.jpg" alt="Voice Recorders">


                                        <div class="clp-categoryName">Voice Recorders</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Accessories"></a>
                            <h2 class="clp-sectionTitle">Accessories</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Multimedia-Accessories/ci/1522/N/4277366423" id="Multimedia Projector Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/596228.jpg" data-src="assets/images/images150x150/596228.jpg" alt="Multimedia Projector Accessories">


                                        <div class="clp-categoryName">Multimedia Projector Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Cables-Power-Supplies/ci/8555/N/4034387027" id="Cables   Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1020509.jpg" data-src="assets/images/images150x150/1020509.jpg" alt="Cables &amp; Accessories">


                                        <div class="clp-categoryName">Cables &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/signal-processing-distribution/ci/24253/N/3953047193" id="Signal Processing   Distribution" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1082836.jpg" data-src="assets/images/images150x150/1082836.jpg" alt="Signal Processing &amp; Distribution">


                                        <div class="clp-categoryName">Signal Processing &amp; Distribution</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Furniture-Mounts/ci/1562/N/4034387077" id="Mounts   Carts" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/886245.jpg" data-src="assets/images/images150x150/886245.jpg" alt="Mounts &amp; Carts">


                                        <div class="clp-categoryName">Mounts &amp; Carts</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/projector-presentation-lamps/ci/22894/N/3989452950" id="Projector   Presentation Lamps" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/992752.jpg" data-src="assets/images/images150x150/992752.jpg" alt="Projector &amp; Presentation Lamps">


                                        <div class="clp-categoryName">Projector &amp; Presentation Lamps</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Audience-Response-Systems/ci/16547/N/3725044858" id="Audience Response Systems" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/629815.jpg" data-src="assets/images/images150x150/629815.jpg" alt="Audience Response Systems">


                                        <div class="clp-categoryName">Audience Response Systems</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Carts-Handtrucks/ci/224/N/4034387029" id="Carts   Hand Trucks" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/751824.jpg" data-src="assets/images/images150x150/751824.jpg" alt="Carts &amp; Hand Trucks">


                                        <div class="clp-categoryName">Carts &amp; Hand Trucks</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/hand-truck-accessories/ci/34026/N/3586188526" id="Hand Truck Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1402095.jpg" data-src="assets/images/images150x150/1402095.jpg" alt="Hand Truck Accessories">


                                        <div class="clp-categoryName">Hand Truck Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/installation/ci/31898/N/3575202739" id="Installation" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1031616.jpg" data-src="assets/images/images150x150/1031616.jpg" alt="Installation">


                                        <div class="clp-categoryName">Installation</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;3644&quot;}" data-count="3" data-slot="1165"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;3644&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar"></div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/video/buying-guide/back-to-school-the-top-5-interactive-whiteboard-solutions-for-schools" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/23926-covershot1.png" data-src="assets/explora/sites/default/files/23926-covershot1.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Back to School: The Top 5 Interactive Whiteboard Solutions for Schools</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>


                        <div data-selenium="htmlSectionAd">
                            <a href="/find/cableFinder.jsp&amp;cm_sp=Banner-_-Promotions-_-Cable_BI17538" class="clp-textSidebarBanner clp-overlayOnHover" style="background-color: #fff;"> <img class="clp-sidebarBannerImg" src="assets/bimages/cablefinderimg123456789.jpg">
                                <div class="clp-sidebarBanner-text">
                                    <p>Quickly find the cables you need</p>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Learning About Audio-Visual Equipment</h2>
                <p>Teachers, entrepreneurs, the IT department: These are just a few of those familiar with presenting to a crowd, and they all understand the importance of audio-visual, or A/V, components. Your presentation's success relies in no small part on the audio-visual systems you use. From projectors and screens to remotes and microphones, there's a lot to consider when you're putting together everything you need for your office or mobile presentation kit.</p>
                <br>
                <h3>How to Make an Audio-Visual Presentation Effective</h3>
                <p>Quality <a href="https://www.bhphotovideo.com/c/buy/Multimedia-Projectors-Displays/ci/1520/N/4294546287">projectors</a> are necessary for presentations because they offer a bright display, even in rooms with the lights on. For example, if you purchase a standard projector meant for watching films in the dark, you won't get the same performance. That's why you should take a close look at the features and specifications of projectors before you buy:</p>
                <ul>
                    <li>Throw ratio</li>
                    <li>Zoom</li>
                    <li>Inputs</li>
                    <li>Resolution</li>
                </ul>
                <p>The throw ratio is how you can determine how far away you need to set up your projector when using it. Without having the proper ratio for a certain size of screen, you'll end up with image distortion. That's where zoom comes in handy, because it can help offset image distortion if you have to place your projector closer or farther away.</p>
                <p>Knowing about all of your A/V equipment is important because you need to ensure your projector has the proper inputs for the other electronic devices you might use. Resolution is important for your audience, as the higher the resolution of your projector, the clearer your picture will be, from the front row to the back.</p>
                <p>While you could project your audio-visual presentation onto a blank wall, it's going to look crisper on a screen meant for demonstrations. Several types of <a href="https://www.bhphotovideo.com/c/browse/Projector-Screens-by-Brand/ci/9829/N/4034387537">screens</a> are available, whether you're shopping for your IT department or you need one for your personal presentations.</p>
                <p>For an auditorium or other space where you need a more permanent solution, you might want to consider fixed frame screens that mount to a wall. A manual projection screen can be pulled down when you need it and rolled up when it isn't. Mobile presenters may want to look at tabletop screens, which are smaller and more portable.</p>
                <br>
                <h3>Audio-Visual Equipment Accessories</h3>
                <p>The <a href="https://www.bhphotovideo.com/c/buy/Video-Presenters-Visualizers/ci/17763/N/4205668453">video presenters and accessories</a> you need include the little things that you might not have considered. For big presentations, you want to make sure everyone in the room can hear you, see you, and maybe even participate in the conversation. To do that, you'll need a microphone that can be easily passed around, and perhaps a Bluetooth-enabled multi-directional speaker. Document presenters make it easy to project anything on a piece of paper to a whole room. Is some or all of your audience not on location? You could consider <a href="https://www.bhphotovideo.com/c/buy/video-conferencing/ci/29183/N/3725044857">video conferencing</a> systems, which include a camera, speakers, microphone, and remote control for an all-in-one solution for connecting with those who aren't physically present for the presentation.</p>
                <br>
                <p>Whichever pieces of audio-visual equipment you buy, you're sure to keep your audience engaged. Check out the clever picks at B&amp;H Photo and Video to find all the components you need for your next presentation.</p>
            </div>
        </div>


    </div>
</div>