<div class="t-main full-width clearfix" style="background: #ededed;">


  <div id="mainContent">

    <div id="expertsProfileBanner"
      style="background-image: url('https://static.bhphotovideo.com/explora/sites/default/files/default_images/expert_hero_background.jpg')">
      <div class="banner-title">Meet the B&amp;H Photo Mavens</div>
      <div class="banner-subtitle">When it comes to photography tips, we always shoot straight.</div>
    </div>

    <div class="new-page-width">
      <div id="expertsProfileContent">
        <div id="meet-our-experts">
          <div id="why-meet-expert">
            <div class="why-title">Photography Experts</div>
            <div class="why-description">Photography is our passion. With many years of experience helping folks find
              the best tools to create and capture one-of-a-kind images, we love sharing our tips, techniques and tricks
              of the trade with customers like you.&nbsp;</div>
          </div>
          <div id="contact-expert">
            <div class="contact-expert-title">Speak to an expert now</div>
            <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp"
              target="livechat"><i><svg class="experts-list-svg">
                  <use xlink:href="#chat-square"></use>
                </svg></i><span class="underline-on-hover">Live Chat</span></a>
            <a class="contact-expert-telephone"><i class="icon icon-phone"><svg class="experts-list-svg">
                  <use xlink:href="#phone"></use>
                </svg></i>800.606.6969</a>
            <a class="contact-expert-email js-openSlideInTray"
              href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales/#sales"><i
                class="icon icon-envelope"><svg class="experts-list-svg">
                  <use xlink:href="#envelope-light"></use>
                </svg></i><span class="underline-on-hover">Email</span></a>
          </div>
        </div>
        <div id="experts-list">

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/vilson-lleshaj_1.png?itok=ZC4Gtb8J"
                  alt="Vilson Lleshaj, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/vilson-lleshaj_color_1.png?itok=imWLF_uY"
                  alt="Vilson Lleshaj, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Vilson Lleshaj</div>
              <div class="expert-speciality">Wedding Photographer, Photo Portraitist, Storyteller</div>
              <div class="expert-description">When you need to capture a special moment, a chat with Vilson can save you
                loads of time. With 25 years of experience shooting weddings and portraits, he’s a fountain of knowledge
                (especially after his second espresso!). For friendly, accommodating attention, ask for Vilson.</div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/leonard-eisenberg_1.png?itok=G-cu-qDC"
                  alt="Leonard Eisenberg, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/leonard-eisenberg_over_0.png?itok=0mfXGfEa"
                  alt="Leonard Eisenberg, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Leonard Eisenberg</div>
              <div class="expert-speciality">Photographer, Multimedia Artist, Filmmaker</div>
              <div class="expert-description">Want your photos to rock? Ask the man who wrote the book— Photographing
                Jimi Hendrix (2016, available at B&amp;H)—multimedia artist and photographer of legends like Grateful
                Dead and The Ramones, Leonard Eisenberg​. His vast knowledge spans film, video, digital and well beyond!
              </div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/rob-schreiber_0.png?itok=n0sh8mAK"
                  alt="Rob Schreiber, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/rob-schreiber_over_0.png?itok=pqnA7-Bx"
                  alt="Rob Schreiber, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Rob Schreiber</div>
              <div class="expert-speciality">Cruise Photographer, DIY Authority, Bon Vivant</div>
              <div class="expert-description">Rob Schreiber has 22 years of hands-on photography experience—some aboard
                New Orleans’ Mississippi Queen and the real-life “Love Boat.” He also likes to keep busy: so when he
                isn’t helping customers choose the best equipment, he enjoys woodworking and fixing cameras.</div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/eduardo-castanho.png?itok=Cqbt1TxY"
                  alt="Eduardo Castanho, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/eduardo-castanho_over.png?itok=goMbriOT"
                  alt="Eduardo Castanho, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Eduardo Castanho</div>
              <div class="expert-speciality">Photographer, Mentor, Coin Collector</div>
              <div class="expert-description">Eduardo has over 40 years of experience delivering useful advice, lectures
                and tips in your language—whether you speak English, Spanish, Portuguese or “Tech.” But his friendly,
                conscientious delivery re: the best pro photo, computer, lighting or video solutions is universal!</div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/rafael-david_1.png?itok=fDQFkGbC"
                  alt="Rafael David, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/rafael-david_over_1.png?itok=UqbZNMGc"
                  alt="Rafael David, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Rafael David</div>
              <div class="expert-speciality">Portrait/Food Photographer, Gear Guide, Music Fan</div>
              <div class="expert-description">Rafael is passionate about finding smart solutions to practical problems.
                His upbeat, enthusiastic approach shines through when advising folks on the best pro photo and lighting
                gear… which is probably why he counts so many B&amp;H clients as return customers, and friends, too!
              </div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/marisa-pena_0.png?itok=INE8nDa-"
                  alt="Marisa Pena, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/marisa-pena_over_0.png?itok=fKGNDWY3"
                  alt="Marisa Pena, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Marisa Pena</div>
              <div class="expert-speciality">Camera Whisperer, Runway Photographer, Museum Hopper</div>
              <div class="expert-description">Marisa is all about making your next project awesome. Whether you’re
                looking to chronicle your next long-distance trek, troubleshoot a tricky setup or snap shots of the red
                carpet, she’ll answer your questions patiently and point you to gear will get you the greatest results.
              </div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/stuart-kaiser_1.png?itok=pQ-cVxjI"
                  alt="Stuart Kaiser, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/stuart-kaiser_over_0.png?itok=lPf6SD8Z"
                  alt="Stuart Kaiser, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Stuart Kaiser</div>
              <div class="expert-speciality">Product Photographer, Tech Trendwatcher, Beer Buff</div>
              <div class="expert-description">With over 19 years of experience on photography studio sets, Stuart
                understands that often, you have just one chance to capture the all-important “magic” shot. So if you
                want to do it right, get his informed advice beforehand and take the shortcut to success!</div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/neil-gershman_0.png?itok=vydXpZ2o"
                  alt="Neil Gershman, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/neil-gershman_over_0.png?itok=fv35xe7P"
                  alt="Neil Gershman, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Neil Gershman</div>
              <div class="expert-speciality">Photographer, People Person, Proud Grandpa</div>
              <div class="expert-description">With 42 years of experience photographing food stills (and more) in large
                and medium formats, Neil Gershman knows what makes a great shot—and he’s happy to share his trade
                secrets with customers like you. If you appreciate straight talk with a dash of humor, tap Neil!</div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/gerry-rooney_0.png?itok=5T3p-tdx"
                  alt="Gerry Rooney, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/gerry-rooney_over_0.png?itok=MCtNwq4_"
                  alt="Gerry Rooney, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Gerry Rooney</div>
              <div class="expert-speciality">Nikon Mastermind, Portrait Photographer, Author</div>
              <div class="expert-description">Want to learn something new, while discovering great Nikon gear for your
                next project? See Gerry Rooney. After 45 years in the photography business, his love for the medium
                remains undimmed; so much so that he takes a camera with him everywhere—even on his lunch break! </div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/boyd-hagen_1.png?itok=0ZxXlFds"
                  alt="Boyd Hagen, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/boyd-hagen_over_0.png?itok=Hp5UJGsf"
                  alt="Boyd Hagen, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Boyd Hagen</div>
              <div class="expert-speciality">Editorial/Portrait Photographer, Location Honcho, Improv Skipper</div>
              <div class="expert-description">Feeling a little out of your depth? Talk to Boyd Hagen: with 25 years of
                experience shooting for the likes of the New York Times and Time magazine, he’s used to solving problems
                on the fly and has the scars to prove it—he’ll entertain even the most unlikely wild-card questions.
              </div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/gil-rondan.png?itok=0du4GeyJ"
                  alt="Gil Rondan, B&amp;H Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/gil-rondan_over.png?itok=EMmypQ7m"
                  alt="Gil Rondan, B&amp;H Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Gil Rondan</div>
              <div class="expert-speciality">Color Maestro, Photographer, Juicing Evangelist</div>
              <div class="expert-description">Great photos deserve great prints; to make sure yours jump off the page,
                consult Gil Rondan. He loves talking about color management, workflow finesse and innovating new ways to
                help customers like you… plus his upbeat approach has won him B&amp;H Employee of the Year multiple
                times! </div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/jeannette_g.png?itok=TAirc_IX"
                  alt="Jeannette G., B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/jeannette_g_over.png?itok=idAW59Qx"
                  alt="Jeannette G., B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Jeannette G.</div>
              <div class="expert-speciality">Bag Boss, Case Whisperer, Avid Shutterbug</div>
              <div class="expert-description">How you carry your gear is almost as important as the gear itself—so
                whether you come bearing questions or an item number, trust your tote-related questions to Jeannette.
                When she’s not calling game over on customer conundrums, she’s playing hands-on Tetris with the merch!
              </div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/patrick_mezeul.png?itok=mIpeDCH0"
                  alt="Patrick Mezeul, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/patrick_mezeul_over.png?itok=B9k1weCx"
                  alt="Patrick Mezeul, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Patrick Mezeul</div>
              <div class="expert-speciality">Aerial Photographer, Amateur Portraitist, Fitness Evangelist</div>
              <div class="expert-description">A born “people person,” Patrick loves that his role at B&amp;H brings him
                into contact with so many new faces, from around the world. He sees each customer’s situation as a fun
                puzzle to solve—so whether you need advanced tips or newbie know-how, don’t be shy with your questions!
              </div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/jamie_parini.png?itok=hZrgR2jU"
                  alt="Jamie Parini, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/jamie_parini_over.png?itok=heNsPmdR"
                  alt="Jamie Parini, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Jamie Parini</div>
              <div class="expert-speciality">Travel Photographer, Record Collector, Ramen Scout</div>
              <div class="expert-description">For Jamie, each day is a lesson, and he thrives on sharing whatever he
                learns with colleagues and customers alike. So whether you need tips to improve your landscape photos,
                gear recs, a debate on Kurosawa vs. Kubrick or where to slurp the city’s best noodles, ask Jamie!</div>
            </div>
          </div>

          <div class="expert-profile">
            <div class="expert-thumbnail">
              <div class="expert-thumbinner">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/patrick_davidson.png?itok=bc--_9R0"
                  alt="Patrick Davidson, B&amp;H Photo Expert">
                <img class="expert-profilepic"
                  src="https://static.bhphotovideo.com/explora/sites/default/files/styles/exp_expert/public/exp/patrick_davidson_over.png?itok=kzRG1mnY"
                  alt="Patrick Davidson, B&amp;H Photo Expert">
              </div>
            </div>
            <div class="expert-bio">
              <div class="expert-name">Patrick Davidson</div>
              <div class="expert-speciality">Street Photographer, Active Listener, Family Man</div>
              <div class="expert-description">Photography is Patrick’s prime passion—so even after 14 years in the
                field, he’s as excited to talk cameras, lenses and tripods as he was on day one. Whether you’re looking
                to get help finding creative tools, solve problems and/or need technical support, ask for Patrick!
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Page Template Start -->
  <script type="text/x-handlebars-template" id="expert-profiles-template">
{{ if(!_.isUndefined(banner)){ }}
  <div id="expertsProfileBanner" style="background-image: url('{{= banner.path }}')">
      <div class="banner-title">{{= banner.title }}</div>
      <div class="banner-subtitle">{{= banner.subTitle }}</div>
  </div>
{{ } }}
<div class="new-page-width">
  <div id="expertsProfileContent">
      <div id="meet-our-experts">
          <div id="why-meet-expert">
              <div class="why-title">{{= title }}</div>
              <div class="why-description">{{= description }}</div>
          </div>
          <div id="contact-expert">
              <div class="contact-expert-title">Speak to an expert now</div>
              <a class="contact-expert-livechat" href="{{= liveChatLink }}" target="livechat"><i><svg class="experts-list-svg"><use xlink:href="#chat-square"></use></svg></i><span class="underline-on-hover">Live Chat</span></a>
              <a class="contact-expert-telephone" {{ if(isMobileSite){ }} href="tel:{{= phoneNumber }}" {{ } }}><i class="icon icon-phone"><svg class="experts-list-svg"><use xlink:href="#phone"></use></svg></i>800.606.6969</a>
              <a class="contact-expert-email js-openSlideInTray" href="{{= emailLink }}"><i class="icon icon-envelope"><svg class="experts-list-svg"><use xlink:href="#envelope-light"></use></svg></i><span class="underline-on-hover">Email</span></a>
          </div>
      </div>
      <div id="experts-list">
          {{ _.each(experts, function(expert){ }}
              <div class="expert-profile">
                  <div class="expert-thumbnail">
                      <div class="expert-thumbinner">
                          <img class="expert-profilepic" src="{{= expert.profilePic.path }}" alt="{{= expert.profilePic.alt }}">
                          <img class="expert-profilepic" src="{{= expert.profilePic.pathAction }}" alt="{{= expert.profilePic.alt }}">
                      </div>
                  </div>
                  <div class="expert-bio">
                      <div class="expert-name">{{= expert.firstName }} {{= expert.lastName }}</div>
                      <div class="expert-speciality">{{= expert.specialties.join(', ') }}</div>
                      <div class="expert-description">{{= expert.bio }}</div>
                  </div>
              </div>
          {{ }) }}
      </div>
  </div>
</div>
</script>
  <script type="text/javascript">
    var expertProfilesUrl = "//www.bhphotovideo.com/explora/api/bnh/exp/get?ci=989";
    var emailAndPhone = {
      "phoneNumber": "800.606.6969",
      "emailLink": "https://www.bhphotovideo.com/find/contactForm.jsp" + "?destination=sales/#sales",
      "liveChatLink": "https://www.bhphotovideo.com/find/liveChat.jsp"
    };
    var isMobileSite = false;
    if (isMobileSite)
      bnh.channel('ui').command('updateDocumentHead', { metadata: [{ name: 'description', content: "Need help choosing the right gear, system, accessory or technique? Ask one of B&H's experts and access 100s of years combined experience." }] });
  </script>
  <!-- Page Template End -->



</div>