<div class="t-main full-width clearfix">

			
			
			
    <div id="help-center" class="help-center" data-selenium="helpCenter">
      
      <div class="help-center-header">
        






<div class="new-page-width">

<a href="https://www.bhphotovideo.com/find/HelpCenter/helpcenter.jsp" data-selenium="helpCenterLink" class="helpCenterLink">
  <h1>Help Center</h1>
</a>
<div class="helpfulLinksHeader">
<a href="https://www.bhphotovideo.com/find/order-history.jsp#/?filter=returnableOrders" data-selenium="orderHist" class="headerLinks underline-on-hover"><span><svg class="twoArrows"><use xlink:href="#twoArrows"></use></svg></span>Return an Item<span><svg class="hc-rightArrow"><use xlink:href="#right-arrow"></use></svg></span></a>	

<a href="https://www.bhphotovideo.com/find/liveChat.jsp" onclick="window.open(this.href, this.target, 'height=353,width=553,resizable=yes,scrollbars=yes');" target="livechat" class="headerLinks underline-on-hover" data-selenium="liveChat">
  <span><svg class="chatSquare"><use xlink:href="#chat-square"></use></svg></span>Chat Now<span><svg class="hc-rightArrow"><use xlink:href="#right-arrow"></use></svg></span>
</a>

<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#hoursOfOperation" data-selenium="hoursOfOper" class="headerLinks underline-on-hover">
  <span><svg class="clockSvg"><use xlink:href="#clock"></use></svg></span>Store Hours 9am  - 2pm ET Today<span><svg class="hc-rightArrow"><use xlink:href="#right-arrow"></use></svg></span>
</a>
</div>
</div>
      </div>	
        
      <div class="sep-40" data-selenium="sep40"></div>
      
      <div class="visual-nav fs16 new-page-width clearfix" data-selenium="visualNav">
        
        <div>
          <span class="iconCont"><svg class="storeIcon"><use xlink:href="#storeIcon"></use></svg><span></span></span>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp" data-selenium="storeInfo">Store Info</a>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#hoursOfOperation" data-selenium="hoursOfOper">Hours of Operation</a>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#nycSuperstore" data-selenium="superStore">Directions &amp; Parking</a>
        </div>
                  
        <div>
          <span class="iconCont"><svg class="twoArrows"><use xlink:href="#twoArrows"></use></svg><span></span></span>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/ReturnExchange.jsp" data-selenium="returnExchange">Returns</a>
          <a href="https://www.bhphotovideo.com/find/order-history.jsp#/?filter=returnableOrders" data-selenium="orderHist">Return an Item</a>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/ReturnExchange.jsp" data-selenium="returnPolicy">30-Day Return Policy</a>
        </div>
        
        <div>
          <span class="iconCont"><svg class="cartIcon"><use xlink:href="#cartIcon"></use></svg><span></span></span>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#orderStatus" data-selenium="orderStatus">Your Order</a>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#orderStatus" data-selenium="orderStatus2">Order Status</a>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#shippingOptions" data-selenium="shippingOptions">Shipping Options</a>
        </div>
        
        <div>
          <span class="iconCont"><svg class="creditCard"><use xlink:href="#creditCard"></use></svg><span></span></span>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp" data-selenium="payments">Payments</a>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#paymentOptions" data-selenium="paymentOption">Payment Options</a>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#bhRewardsProgram" data-selenium="rewardProgram">B&amp;H Rewards Program</a>
        </div>
        
        <div>
          <span class="iconCont"><svg class="globe"><use xlink:href="#globe"></use></svg><span></span></span>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp" data-selenium="international">International</a>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#whereWeShip" data-selenium="whereWeShip">Do We Ship to You?</a>
          <a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#dutiesTaxes" data-selenium="customsTaxes">Customs &amp; Taxes</a>
        </div>
      </div>
     
      



<div class="help-center-footer">
<div class="new-page-width"> 


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp" data-selenium="storeInfoFooter">Store Info</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#hoursOfOperation" data-selenium="hoursOperationFooter">Hours of Operation</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#storePickup" data-selenium="storePickupFooter">Store Pickup</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#nycSuperstore" data-selenium="nycSuperstore">NYC SuperStore</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#nycSuperstore" data-selenium="mapDirections">Map &amp; Directions</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp" data-selenium="paymentFooter">Payment</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#paymentOptions" data-selenium="paymentOptionsFooter">Payment Options </a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#bhGiftCard" data-selenium="bhGiftCardFooter">B&amp;H Gift Card</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#bhRewardsProgram" data-selenium="rewardsProgramFooter">Rewards Program</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="studentDiscount">Student Discounts</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#businessLeasing" data-selenium="businessLeasing">Business Leasing</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp" data-selenium="shippingFooter">Shipping</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#freeShipping" data-selenium="freeShipping">Free Shipping</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#orderStatus" data-selenium="orderStatusFooter">Order Status</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#shippingOptions" data-selenium="shipOptionsFooter">Shipping Options</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#deliveryTimes" data-selenium="DeliveryTimes">Delivery Times</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#storePickup" data-selenium="storePickup2Footer">Store Pickup</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp" data-selenium="policiesFooter">Policies</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#warranties" data-selenium="warrantiesManufactureFooter">Warranties &amp; Manufacturers</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#pricingPolicy" data-selenium="pricingPolicy">Pricing Policy</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#greyMarket" data-selenium="usaGreyMarket">USA Grey Market Products</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#privacySecurity" data-selenium="privacySecurity">Privacy &amp; Security</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#userAgreementDisclaimer" data-selenium="userAgreement">User Agreement &amp; Disclaimer</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/ReturnExchange.jsp" data-selenium="returnsFooter">Returns</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/ReturnExchange.jsp#returnPolicy" data-selenium="returnExchangeFooter">Returns &amp; Exchanges Policy</a>
</div>

<p class="clearfix sep-40"></p>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/AboutUs.jsp" data-selenium="aboutBH">About B&amp;H</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/AboutUs.jsp#BhProfile" data-selenium="bhProfilesFooter">B&amp;H Profile</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/AboutUs.jsp#careers" data-selenium="careerOpportunites">Career Opportunities</a>
<a href="https://www.bhphotovideo.com/find/partners.jsp" data-selenium="imagingPartners">Imaging Partners</a>
<a href="https://www.bhphotovideo.com/find/Events.jsp" data-selenium="sponsoredEvents">Sponsored Events</a>
<a href="https://itunes.apple.com/us/podcast/b-h-photography-podcast/id1052860428" data-selenium="bhPodcast">B&amp;H Podcast</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Used.jsp" data-selenium="usedCollectibles">Used Department</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/Used.jsp#returnWarranty" data-selenium="returnWarrantyFooter">Return &amp; Warranty</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Used.jsp#sellYourGear" data-selenium="sellGearFooter">Sell Your Gear</a>
</div>


<div>
<p>Resources</p>
<a href="/explora" data-selenium="exploraFooter">Explora</a>	
<a href="https://www.bhphotovideo.com/find/eduAdvantage.jsp" data-selenium="eduAdvantage">EDU Advantage</a>
<a href="https://www.bhphotovideo.com/find/federal-gsa-contracts-gov-corporate-edu-sales.jsp" data-selenium="fedGov">Corporate Sales</a>
<a href="https://www.bhphotovideo.com/find/EventSpace.jsp" data-selenium="eventSpace">Event Space</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#warranties" data-selenium="contactManufacture" v="">Contact the Manufacturer</a>
</div>


<div>
<a data-selenium="internationalFooter" href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp">International</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#whereWeShip" data-selenium="whereWeShip">Where We Ship</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#policiesPricing" data-selenium="policiesPricingFooter">Policies &amp; Pricing</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#dutiesTaxes" data-selenium="customsTaxesFooter">Customs, Taxes &amp; Other Fees</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#payment" data-selenium="foreignCurrency">Foreign Currency</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#canada" data-selenium="canadaFooter">Canada</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#shipping" data-selenium="shippingFooter">Shipping</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="eduAdvantageFooter">Students &amp; EDU Advantage</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="approvalProcess">Approval Process</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="eligibilityReuirements">Eligibility Requirements</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="becomeMember">Becoming a Member</a>
</div>

</div>
</div>
    </div>
      
    

    </div>