<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix clp-noSidebar">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Lighting-Studio/ci/1161/N/4294551176" property="item" typeof="WebPage">
                        <span property="name">
                            Lighting &amp; Studio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Lightstands-Mounting/ci/19913/N/4062040379" property="item" typeof="WebPage">
                        <span property="name">
                            Light Stands &amp; Mounting
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Light Stands &amp; Mounting</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Lighting Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/hector_c.png" alt="Hector C., B&amp;H Lighting Expert" title="Hector C., B&amp;H Lighting Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/carlos-d.png" alt="Carlos D., B&amp;H Photo Expert" title="Carlos D., B&amp;H Photo Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/rob-k.png" alt="Rob K., B&amp;H Lighting Expert" title="Rob K., B&amp;H Lighting Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Lighting-&amp;-Studio/-/ci/1161"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Lightstands/ci/5799/N/3660843711" id="Light Stands" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/644444.jpg" alt="Light Stands">

                                        <div class="clp-categoryName">Light Stands</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Booms-Boom-Accessories/ci/1362/N/3660843712" id="Boom Equipment" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/33149.jpg" alt="Boom Equipment">

                                        <div class="clp-categoryName">Boom Equipment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/trussing-equipment/ci/27767/N/3798620703" id="Truss Equipment" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/926979.jpg" alt="Truss Equipment">

                                        <div class="clp-categoryName">Truss Equipment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Lightstand-Accessories/ci/1359/N/4062040369" id="Light Stand Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/33059.jpg" alt="Light Stand Accessories">

                                        <div class="clp-categoryName">Light Stand Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Mounting-Hardware/ci/1346/N/4062040378" id="Mounting Hardware" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/857316.jpg" alt="Mounting Hardware">

                                        <div class="clp-categoryName">Mounting Hardware</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Sandbags-Weight-Bags/ci/1373" id="Sandbags Weight Bags" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/32952.jpg" alt="Sandbags/Weight Bags">

                                        <div class="clp-categoryName">Sandbags/Weight Bags</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Learning About Photography Light Stands</h2>
                <p>Photography light stands support the custom lighting arrangements that bring film and photography projects to life. It takes a variety of tools and accessories to support heavy and expensive lighting equipment. Let your imagination soar with these professional accessories that create limitless possibilities for what your camera can do.</p>
                <p><br>
                </p>
                <h3>Types of Studio Light Stands</h3>
                <p>Choosing the best stands and grips for your lighting plan depends on the light sources and modifiers in your production. Most light stands fall into either of two categories: C-stands or lightweight stands.</p>
                <p>Lightweight stands are the most cost-efficient option. Models with built-in air cushions minimize the damage if a stand accidentally falls down. For added support, choose models with a wide footprint, as the legs tend to be sturdier.</p>
                <p>Heavy-duty C-stands require a larger budget, but unlike lightweight stands, the secure structures don't require weight bags for stability. However, C-stands aren't made with air cushions, so you must be cautious about where you place them. C-stands are commonly used in film because of their durability. Flexible designs allow you to add attachments such as <a href="https://www.bhphotovideo.com/c/buy/Booms-Boom-Accessories/ci/1362/N/3660843712">boom equipment</a>, enabling you to customize your arrangement using reflectors, flags, and other modifiers all on the same base.</p><br>
                <h3>Choosing the Right Lighting Accessories</h3>
                <p>Aside from camera light stands, you can expand your reach with complementary tools, such as <a href="https://www.bhphotovideo.com/c/buy/Extension-Poles/ci/1371/N/4062040366">light stand extension poles</a>, grapples, outriggers, or sleeve block adapters, for an intricate stage setup. Pairing the right equipment and accessories adds a professional element to your production. For example, boom arm light stands offer the freedom to adjust the height, angle, horizontal position, and lateral rotation of your boom. Slightly tilting your equipment a few degrees creates dramatic effects, and you'll never need to disrupt your shoot.</p><br>
                <h3>Lighting Safety and Support</h3>
                <p>Create theatrical studio lighting arrangements with&nbsp;<a href="https://www.bhphotovideo.com/c/buy/truss-systems/ci/31194/N/3660419338">truss systems</a>, regardless of the venue. Design custom supports that you can hang, fly, or stabilize on the ground, positioning your lighting gear wherever you want. Hang LED or automated fixtures right above the crowd. Use sticks or truss sections to safely position video, audio, and other staging equipment in what would have been impossible locations. Made from sturdy aluminum or steel, lighting trusses come in a wide variety of designs perfect for indoor or outdoor displays.</p>
                <p>There's no limit to what you can create when you have the right tools for the job. Lighting support accessories such as <a href="https://www.bhphotovideo.com/c/buy/Suction-Cups-Accessories/ci/8110/N/4062040370">suction cups for lighting equipment</a> secure fixtures to stands, and they're strong enough to attach cameras to boats and cars. Catch live action shots anywhere in the world. Just remember, safety first.</p><br>
                <p>No matter where your vision takes you, B&amp;H Photo and Video has all the lighting equipment you need to make your ideas a reality.</p>
                <p></p>
            </div>
        </div>


    </div>
</div>