<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Professional-Audio/ci/12154/N/4294550705" property="item" typeof="WebPage">
                        <span property="name">
                            Pro Audio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Computer-Audio/ci/12157/N/4294550101" property="item" typeof="WebPage">
                        <span property="name">
                            Computer Audio
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Computer Audio</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Pro Audio Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/dan-a_bw.png" alt="Daniel A., B&amp;H Pro Audio Expert" title="Daniel A., B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/deesh_p.png" alt="Deesh P., B&amp;H Pro Audio Expert" title="Deesh P., B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/merry-a_bw.png" alt="Merry A., B&amp;H Pro Audio Expert" title="Merry A., B&amp;H Pro Audio Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Pro-Audio/-/ci/12154"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Computer-Audio-Software/ci/12198/N/4294550040" id="Computer Audio Software" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1141468.jpg" alt="Computer Audio Software">

                                        <div class="clp-categoryName">Computer Audio Software</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Computer-Audio-Hardware/ci/12194/N/4294550055" id="Computer Audio Hardware" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/661556.jpg" alt="Computer Audio Hardware">

                                        <div class="clp-categoryName">Computer Audio Hardware</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Controllers/ci/12196/N/4294550046" id="Controllers" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1059971.jpg" alt="Controllers">

                                        <div class="clp-categoryName">Controllers</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/ios-ipad/ci/22902/cp/12154+12157+22902" id="Mobile Recording" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1059342.jpg" alt="Mobile Recording">

                                        <div class="clp-categoryName">Mobile Recording</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Computers-Peripherals/ci/12176/N/4294550100" id="Computers   Peripherals" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1380932.jpg" alt="Computers &amp; Peripherals">

                                        <div class="clp-categoryName">Computers &amp; Peripherals</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Samples-Sound-Effects/ci/2800/N/4291644275" id="Samples   Sound Effects" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1063078.jpg" alt="Samples &amp; Sound Effects">

                                        <div class="clp-categoryName">Samples &amp; Sound Effects</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;12157&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;12157&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=5dd2a924-6a59-417c-ab14-c78501382f15&amp;x=ZdyGq3dMl9aG6p51gtaa0PcJ_21X3Y1m9oZWutSGaEan5P4OzWw7DOdDb53oyN78VA73-1J9JU_Fzag6gpaYQokyjKVW8ExetCVv9ncRWajsvTC6RNRfSM--9NwwBM-yo47CvIdM-98oZkS51dVwXsMwDYFAvBt6MUb-rm6nNGLTeKOrtB75RA1Oui6a2SXcbvKVVQNdbEeVwIatRA8vr6wxLDzgRbltMZ6QOmDgnvaANKofexb6B9jw3BdFNBMNr9Gx4omr5PFvSvlXMY0JEw%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/buy/novation-controllers/ci/42465" class="overlay-on-hover" style="text-align: center" data-campaign-id="43429"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/144146a513a6743652246fb7c9ccc1b9" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=5dd2a924-6a59-417c-ab14-c78501382f15&amp;x=ZdyGq3dMl9aG6p51gtaa0PcJ_21X3Y1m9oZWutSGaEan5P4OzWw7DOdDb53oyN78VA73-1J9JU_Fzag6gpaYQokyjKVW8ExetCVv9ncRWajsvTC6RNRfSM--9NwwBM-yo47CvIdM-98oZkS51dVwXsMwDYFAvBt6MUb-rm6nNGLTeKOrtB75RA1Oui6a2SXcbvKVVQNdbEeVwIatRA8vr6wxLDzgRbltMZ6QOmDgnvaANKofexb6B9jw3BdFNBMNr9Gx4omr5PFvSvlXMY0JEw%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=47642ced-d374-4aa6-8bbc-3e4ee144b027&amp;x=CLuDjNLyAr5gaf_WqhPSG6f-AOo3EtQ8dapGJlIlDElESOINx8Bi70D8vxfjaIlzXs7Tb66ahKDPcOysMXfp16LSEU-3OWtZklmS8_yHubkjxXUfI_W2Afi9dyuiudMZcE-Bg5i8u8zqBfSCEjfNn_V_EZaMkkORZj9KRtZ7AlKpMqCuf9NVjfQPynaY-dO3U_5wcaqSLsWuk7lHsfpJCazWIGhgSoWc6yaRE_ztX1GVELnhji3475B01f8B2gOdeFJGaOJAWIoZiKE25mY9Xg%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/buy/focusrite-scarlett/ci/34289" class="overlay-on-hover" style="text-align: center" data-campaign-id="43392"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/71dd4eefbf4ad2b7415becc39bdd3e6a" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=47642ced-d374-4aa6-8bbc-3e4ee144b027&amp;x=CLuDjNLyAr5gaf_WqhPSG6f-AOo3EtQ8dapGJlIlDElESOINx8Bi70D8vxfjaIlzXs7Tb66ahKDPcOysMXfp16LSEU-3OWtZklmS8_yHubkjxXUfI_W2Afi9dyuiudMZcE-Bg5i8u8zqBfSCEjfNn_V_EZaMkkORZj9KRtZ7AlKpMqCuf9NVjfQPynaY-dO3U_5wcaqSLsWuk7lHsfpJCazWIGhgSoWc6yaRE_ztX1GVELnhji3475B01f8B2gOdeFJGaOJAWIoZiKE25mY9Xg%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/hands-on-review/audio-week-recording-a-band-with-your-smartphone" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/27216-covershot.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/27216-covershot.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>Audio Week: Recording a Band with Your Smartphone</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/buying-guide/back-school-audio" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/covershot_10.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/covershot_10.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Back-to-School: Gear for Audio Students</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/buying-guide/six-travel-friendly-usb-audio-interfaces" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/26014-cs.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/26014-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Six Travel-Friendly USB Audio Interfaces</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/hands-review/audio-mixing-pro-tools-surface-pro-3-tablet" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-audio-mixing-in-pro-tools-on-the-surface-pro.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-audio-mixing-in-pro-tools-on-the-surface-pro.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>Audio Mixing in Pro Tools on the Surface Pro Tablet</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/tips-and-solutions/7-tips-for-optimizing-your-windows-10-computer-for-audio" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-optimizing-your-windows-computer-for-audio.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-optimizing-your-windows-computer-for-audio.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>7 Tips for Optimizing Your Windows 10 Computer for Audio</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/rode-releases-rodecaster-pro-podcasting-production" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-rodecaster-pro-podcasting-production.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-rodecaster-pro-podcasting-production.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>RØDE Releases RØDECaster Pro Podcasting Production Console</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





    </div>
</div>