<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Computers-Solutions/ci/9581/N/4294542559" property="item" typeof="WebPage">
                        <span property="name">
                            Computers
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/computer-components/ci/26717/N/3835434472" property="item" typeof="WebPage">
                        <span property="name">
                            Computer Components
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Computer Components</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Computer Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/sherman-bryce.png" alt="Sherman Bryce, B&amp;H Computer Expert" title="Sherman Bryce, B&amp;H Computer Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/victor-rodrigus_0.png" alt="Victor Rodriguez, B&amp;H Expert" title="Victor Rodriguez, B&amp;H Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/boruch-berman.png" alt="Boruch Berman, B&amp;H Expert" title="Boruch Berman, B&amp;H Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Computers/-/ci/9581"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Computer-Memory/ci/13341/N/3835434469" id="Computer Memory" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1346254.jpg" alt="Computer Memory">

                                        <div class="clp-categoryName">Computer Memory</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/desktop-components/ci/30908/N/3668461613" id="Desktop Components" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1242293.jpg" alt="Desktop Components">

                                        <div class="clp-categoryName">Desktop Components</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/computer-cases/ci/30911/N/3668461595" id="Computer Cases" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1204995.jpg" alt="Computer Cases">

                                        <div class="clp-categoryName">Computer Cases</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/graphic-display-cards/ci/30909/N/3668461604" id="Graphic Display Cards" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1431192.jpg" alt="Graphic Display Cards">

                                        <div class="clp-categoryName">Graphic Display Cards</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/controller-cards/ci/30910/N/3668461600" id="Controller Cards" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/837154.jpg" alt="Controller Cards">

                                        <div class="clp-categoryName">Controller Cards</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/server-components/ci/30912/N/3668461589" id="Server Components" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1002347.jpg" alt="Server Components">

                                        <div class="clp-categoryName">Server Components</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;26717&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;26717&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=f9ff5201-9c9c-4acf-8b8c-9a8f22185599&amp;x=xSMrRz4qB3DXY4h9YPfaDdw2SMH9tj3F4hAaXB3MO1i4G3-4CLuN3BSq5Hg3hfwVc2W10aJQacrcKHqmdEf_Lic8Lv2nz5GMu4V3lHHo19mcXS7lTVksjzxhecAZzc1nYQMHY6wRxbGVecFzpQb29MPHynf55gv8GKW9uhw_62x8FdPZFHGvP7e48iLieUf5wVqYfANpHk1pFG680zpuarf2ANPr9xx1j4m3fbPGcpYwijl6ZhMLMb8w4dJ098zriz7BaaZyLuuenaQBQ5P3lA%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/buy/items/ci/44347" class="overlay-on-hover" style="text-align: center" data-campaign-id="43704"> <img src="assets/prmt/a43549aa0cfde9d571f647343c8ef6ce" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=f9ff5201-9c9c-4acf-8b8c-9a8f22185599&amp;x=xSMrRz4qB3DXY4h9YPfaDdw2SMH9tj3F4hAaXB3MO1i4G3-4CLuN3BSq5Hg3hfwVc2W10aJQacrcKHqmdEf_Lic8Lv2nz5GMu4V3lHHo19mcXS7lTVksjzxhecAZzc1nYQMHY6wRxbGVecFzpQb29MPHynf55gv8GKW9uhw_62x8FdPZFHGvP7e48iLieUf5wVqYfANpHk1pFG680zpuarf2ANPr9xx1j4m3fbPGcpYwijl6ZhMLMb8w4dJ098zriz7BaaZyLuuenaQBQ5P3lA%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=3df805fe-2e9c-49bc-80b4-f8b495613e4f&amp;x=Vs6sWo3KrRN4OzpRmS9yC4FunRiE2nMuFQxCjWHm8gB9HwglhPEHJl10T5eMApW4t3YTCIMlEpB-22tMGacNdfuXYm92PnBrj6ewZgKFxiFhcPa7R-hAGwl8XHgYhIxXmmAerV-PUmBulPonttuJ4gyS8XBTTwNcQMJ---fpAvDNQYEO15LS0meak8tEYmTgClKkm8q70xtTA4jSqe-9tYWCjH1yviox13E5l-85lHLf-Iguk85hhH-Eb7bOTB9WHkaUgUG0Oy2M-ryUZDukSw%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/buy/geforce-wolfenstein-game-bundle/ci/43393" class="overlay-on-hover" style="text-align: center" data-campaign-id="40769"> <img src="assets/prmt/4b62ee9ddc85108a8211f359b8deaa64" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=3df805fe-2e9c-49bc-80b4-f8b495613e4f&amp;x=Vs6sWo3KrRN4OzpRmS9yC4FunRiE2nMuFQxCjWHm8gB9HwglhPEHJl10T5eMApW4t3YTCIMlEpB-22tMGacNdfuXYm92PnBrj6ewZgKFxiFhcPa7R-hAGwl8XHgYhIxXmmAerV-PUmBulPonttuJ4gyS8XBTTwNcQMJ---fpAvDNQYEO15LS0meak8tEYmTgClKkm8q70xtTA4jSqe-9tYWCjH1yviox13E5l-85lHLf-Iguk85hhH-Eb7bOTB9WHkaUgUG0Oy2M-ryUZDukSw%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="assets/explora/computers/tips-and-solutions/performing-a-deep-clean-on-your-hard-drives" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/25963-cs.png" data-src="assets/explora/sites/default/files/25963-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>Performing a Deep Clean on Your Hard Drives</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/buying-guide/specs-for-apex-legends" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/25983-covershot2a.jpg" data-src="assets/explora/sites/default/files/25983-covershot2a.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Specs for Apex Legends</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/news/ces-2019-nvidia-introduces-geforce-rtx-2060-and-more" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-ces-2019-nvidia-introduces-the-geforce-rtx-2060.png" data-src="assets/explora/sites/default/files/cs-ces-2019-nvidia-introduces-the-geforce-rtx-2060.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>CES 2019: NVIDIA Introduces GeForce RTX 2060 and More</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/news/nvidia-introduces-the-titan-rtx" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-nvidia-titan-rtx.jpg" data-src="assets/explora/sites/default/files/cs-nvidia-titan-rtx.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>NVIDIA Introduces the TITAN RTX</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/buying-guide/see-in-sync-no-not-that-one" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/24522-cs1.png" data-src="assets/explora/sites/default/files/24522-cs1.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>See In Sync. No, Not That One</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="assets/explora/computers/news/9th-generation-intel-core-processors" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-9th-generation-intel-core-processors_1.jpg" data-src="assets/explora/sites/default/files/cs-9th-generation-intel-core-processors_1.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>9th Generation Intel® Core™ Processors Are Here</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Learning About Computer Components</h2>
                <p>There are lots of different computer components that make up functional PCs. <a href="https://www.bhphotovideo.com/c/browse/pc-parts-for-custom-builds/ci/42179">Building your own computer </a>can be a rewarding DIY project. It'll also save you money if you're building a high-performance system for gaming or video editing. What's more, your PC will be custom-tailored to your performance needs.</p>
                <br>
                <h3>Key PC Components for Building a System</h3>
                <p>The first step is getting the right computer parts. The six essential parts you'll need for a working PC are the case, motherboard, processor, RAM, hard drive, and power supply unit. A computer case is an enclosure for all the other components. This chassis serves as housing for a PC's internal hardware. The <a href="https://www.bhphotovideo.com/c/buy/Motherboards/ci/19864/N/3835434462">motherboard</a> is the core piece that connects the computer's electronic components. Motherboards come in different sizes, and with a wide variety of sockets. Choose one that's compatible with the processor and case that you want.</p>
                <p>The processor, or CPU, is critical to the PC's overall performance. Most desktop computers use Intel and AMD chips. When shopping for a processor, consider clock speed, number of cores, cache size, and the amount of RAM. If you're building a home PC, the minimum memory capacity you should consider is 4GB. For a gaming system, go for 8GB of RAM or higher.</p>
                <p>The two options for computer storage are hard disk drives (HDDs) and solid-state drives (SSDs). SSDs are faster and quieter. They're also more durable and consume less energy. However, HDDs are more affordable, and available in higher capacities.</p>
                <p>The power supply unit, or PSU, converts the computer's power from the outlet into usable power for the other parts inside the case or enclosure. The PSU takes the AC power and converts it into continuous power that the computer requires so it can run smoothly and normally. This converted, usable power is called DC.</p>
                <br>
                <h3>Other Hardware Required for a Gaming Computer</h3>
                <p>When building a gaming PC, you'll also need a graphics display card and a cooling system. The graphics card is responsible for image rendering and video playback. For a powerful gaming computer, choose an NVIDIA or AMD GPU with video RAM of 4GB or higher. Coolers prevent processors and video cards from overheating by blowing cool air over them and venting hot air. Effective cooling requires fans and heat sinks. Power users need thermal paste and circulating cooling liquid when overclocking GPUs and CPUs. Finally, if you want to make your gaming system look as cool and powerful as it runs, outfit it with&nbsp;<a href="https://www.bhphotovideo.com/c/buy/led-lights/ci/27554/N/3668461607">computer lighting</a>&nbsp;essentials.</p>
                <br>
                <h3>What Computer Components Do I Need for a Server?</h3>
                <p>Servers are usually pre-built computers with high-performance <a href="https://www.bhphotovideo.com/c/buy/CPUs/ci/19865/N/3835434461">CPU processors</a>, lots of input/output ports, and high-wattage power supply units. To install them, you'll need server components such as rackmount chassis and cabinets. You can upgrade servers by adding graphics cards, and swapping RAM modules and storage drives.</p>
                <br>
                <p>If you want to build your own custom PC, there's no better place to find everything you need than at B&amp;H Photo.</p>
            </div>
        </div>


    </div>
</div>
