<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-lightBreadcrumbs clp-lightPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Audio for Video Equipment" class="clp-pageImage js-pageImage" style="background-image: url('https://pubsaf.global.ssl.fastly.net/prmt/e8dd93ad305e690a234ed912baf743b9')"></div>




        <a href="https://data.tagdelivery.com/sap/click?impression_id=b661d306-31f3-4d38-bc6a-c5ffd9673aad&amp;sap=892f5807-c547-4f08-8337-cadde2307503&amp;redirect=https://www.bhphotovideo.com/c/promotion/15367/zoom-h-series.html">
            <img class="clp-bannerVideoLogo" src="https://pubsaf.global.ssl.fastly.net/prmt/66e9ab5ef8bc4cf545827707e124c94c" alt="sponsor logo" data-campaign-id="43313">
        </a>




        <img src="https://data.tagdelivery.com/sap/impression?impression_id=b661d306-31f3-4d38-bc6a-c5ffd9673aad&amp;sap=892f5807-c547-4f08-8337-cadde2307503" style="position: absolute; height: 0; width: 0; visibility: hidden;">


    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Professional-Audio/ci/12154/N/4294550705" property="item" typeof="WebPage">
                        <span property="name">
                            Pro Audio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/ENG-EFP-Broadcast/ci/12158/N/4294550031" property="item" typeof="WebPage">
                        <span property="name">
                            Audio for Video
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Audio for Video Equipment</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Pro Audio Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/merry-a_bw.png" alt="Merry A., B&amp;H Pro Audio Expert" title="Merry A., B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/deesh_p.png" alt="Deesh P., B&amp;H Pro Audio Expert" title="Deesh P., B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/dan-a_bw.png" alt="Daniel A., B&amp;H Pro Audio Expert" title="Daniel A., B&amp;H Pro Audio Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Pro-Audio/-/ci/12154"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Wired-Microphones/ci/15411/N/4291086011" id="Wired Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/984901.jpg" alt="Wired Microphones">

                                        <div class="clp-categoryName">Wired Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/wireless-microphones/ci/43860" id="Wireless Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1471382.jpg" alt="Wireless Microphones">

                                        <div class="clp-categoryName">Wireless Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Portable-Recorders-Accessories/ci/15416/N/4291085917" id="Portable Recorders   Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1253811.jpg" alt="Portable Recorders &amp; Accessories">

                                        <div class="clp-categoryName">Portable Recorders &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Wired-Microphone-Accessories/ci/15414/N/4291085966" id="Wired Microphone Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1047687.jpg" alt="Wired Microphone Accessories">

                                        <div class="clp-categoryName">Wired Microphone Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Wireless-Microphone-Accessories/ci/15415/N/4291085939" id="Wireless Microphone Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1387569.jpg" alt="Wireless Microphone Accessories">

                                        <div class="clp-categoryName">Wireless Microphone Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Field-Mixers-Accessories/ci/15413/N/4291085970" id="Field Mixers   Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1112228.jpg" alt="Field Mixers &amp; Accessories">

                                        <div class="clp-categoryName">Field Mixers &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Production-Hardware-Accessories/ci/15417/N/4291085914" id="Production Hardware   Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/264974.jpg" alt="Production Hardware &amp; Accessories">

                                        <div class="clp-categoryName">Production Hardware &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/IFB-Communications/ci/1754/N/4291085899" id="IFB   Communications" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/656153.jpg" alt="IFB &amp; Communications">

                                        <div class="clp-categoryName">IFB &amp; Communications</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;12158&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;12158&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=aa7b6edb-aaec-4678-a0e3-87c48fe1c565&amp;x=vV2-YBYdzPb2cDGElgsaITQGRHx4k6cRu-TbqonQWKDVqxnToTR9NsM0yeauePXEZus3OjQQjM7uHHcw9J96dZlVhIdirFX3arqh2hdq9xtNS-YxlqQqZDcW4uZAAld3l_SIV4xP5GZOdqbKUB7loPjX4Z0J1qL0g0_5u27a_-WNhoH4xMQoPF9Tyhb0n1OK1gwg97S3YYJH3gLqWKQ9m7xiSiVdSKwHFbH0SoMtt21evmRXAGsh2lKsGnZQ95FZUAqFc4ka3sQUndf6eXyRJA%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1444571-REG/sennheiser_xsw_d_portable_lavalier_set_portable_lav_set_me2_ii_clip_on.html?sts=pi&amp;pim=Y" class="overlay-on-hover" style="text-align: center" data-campaign-id="43801"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/f2e409751027bae2292a3302c6059520" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=aa7b6edb-aaec-4678-a0e3-87c48fe1c565&amp;x=vV2-YBYdzPb2cDGElgsaITQGRHx4k6cRu-TbqonQWKDVqxnToTR9NsM0yeauePXEZus3OjQQjM7uHHcw9J96dZlVhIdirFX3arqh2hdq9xtNS-YxlqQqZDcW4uZAAld3l_SIV4xP5GZOdqbKUB7loPjX4Z0J1qL0g0_5u27a_-WNhoH4xMQoPF9Tyhb0n1OK1gwg97S3YYJH3gLqWKQ9m7xiSiVdSKwHFbH0SoMtt21evmRXAGsh2lKsGnZQ95FZUAqFc4ka3sQUndf6eXyRJA%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=e8675f4e-b558-4ccf-91b9-345910e9c0bf&amp;x=t2Ya1ea1Hgw8Q7XXn3T_QKTmN026r9qF1WCUa62En1Ku5xhit-gw_Pw9PcQCeeNF4aVnvgcK42nEw88WiAyefOqEPWDIorSYS3pMF3nAaLVjOlGu0tzxCxytyYQvOHC-YbbR1EeGkEi8dK73MWslsg15uwseuutDZlhOHVmdb_DR6zu_SghoI8F6kZiQOXGtM8oaK0CDAdF_GsJCwvZ1j41356nJQtK_EYsUBtdyHair6J5xJerMbztISxlGTtwmVx6aDmFaX36noDEswvIKXA%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/promotion/15367/zoom-h-series.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="41693"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/5d56ecda7238abe16cda4ad8d586db23" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=e8675f4e-b558-4ccf-91b9-345910e9c0bf&amp;x=t2Ya1ea1Hgw8Q7XXn3T_QKTmN026r9qF1WCUa62En1Ku5xhit-gw_Pw9PcQCeeNF4aVnvgcK42nEw88WiAyefOqEPWDIorSYS3pMF3nAaLVjOlGu0tzxCxytyYQvOHC-YbbR1EeGkEi8dK73MWslsg15uwseuutDZlhOHVmdb_DR6zu_SghoI8F6kZiQOXGtM8oaK0CDAdF_GsJCwvZ1j41356nJQtK_EYsUBtdyHair6J5xJerMbztISxlGTtwmVx6aDmFaX36noDEswvIKXA%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/rode-has-released-the-lavalier-go-omnidirectional-and-the-rodelink-lav-mics" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-rode-lavalier-go-and-rodelink-rode-lav-go.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-rode-lavalier-go-and-rodelink-rode-lav-go.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>RØDE has Released the Lavalier GO Omnidirectional and the RØDELink Lav Mics</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/videos/pro-audio/audio-for-video-series-part-6-intro-to-post-production" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/av6-post-600x.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/av6-post-600x.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>Audio for Video Series Part 6 - Intro to Post Production</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/videos/pro-audio/audio-for-video-series-part-5-mic-techniques-best-tips-for-using-a-boom-or-lavalier" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/afv_mictechniques_ytthumb_600px.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/afv_mictechniques_ytthumb_600px.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>Audio for Video Series, Part 5 - Mic Techniques: Best Tips for Using a Boom or Lavalier Mic</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/buying-guide/the-ps-and-qs-of-parabolic-microphones" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/26283-cs.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/26283-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>The Ps and Qs of Parabolic Microphones</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/nab-2019-go-the-wireless-road-with-rode-wireless-go" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-rode_wireless_go.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-rode_wireless_go.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>NAB 2019: Go the Wireless Road with RØDE Wireless GO</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/hop-to-it-with-the-new-lectrosonics-digital-camera-hop-transmitter" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lectrosonics-digital-camera-hop-transmitter.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-lectrosonics-digital-camera-hop-transmitter.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Hop to it with the New Lectrosonics Digital Camera Hop Transmitter</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Shopping for Location Sound Equipment</h2>
                <p>In order to record sound on location for film, television, commercials, and documentaries, you need the right equipment. Essential location sound gear includes <a href="https://www.bhphotovideo.com/c/browse/Portable-Recorders-Accessories/ci/15416/N/4291085917">portable recorders and accessories</a> such as mixers and microphones (both wired and wireless), <a href="https://www.bhphotovideo.com/c/browse/Wireless-Microphones/ci/15412/N/4291086005">wireless microphones for ENG</a> (electronic news gathering), and IFB (interruptible foldback), which enables one-way communication between directors and camera operators or journalists in the field.</p>
                <h3>How to Choose a Portable Audio Recorder</h3>
                <p>The sound recorder is arguably the most important piece of location sound equipment in audio systems. Modern DSLR and mirrorless cameras deliver outstanding still and motion pictures, but seldom produce superior audio. Using a separate high-end sound recorder ensures your videos and images are accompanied by high-quality audio.</p>
                <p>Portable recorders come in many forms, each with its own specific features. If you also shoot video, you'll need a unit with an integrated microphone for basic audio, or inputs for higher-quality mics.</p>
                <br>
                <h3>Benefits of an ENG Microphone</h3>
                <p>ENG microphones are handheld units used specifically by journalists. They have internal shock mounts that minimize handling noise, a common problem as many journalists operate in busy, loud environments. Many models include screens to reduce wind sounds and long shafts for easy attachment of station flags for identification. Wireless microphones offer great flexibility, while <a href="https://www.bhphotovideo.com/c/browse/Wired-Microphones/ci/15411/N/4291086011">wired ENG microphones</a> offer superior sound quality.</p>
                <br>
                <h3>Using a Portable Field Mixer</h3>
                <p>A portable field mixer lets you mix your audio on location instead of needing a studio. Its prime task is to combine the inputs from multiple microphones and other sound sources and mix them into a single stream. Many models offer multiple outputs to deliver the signal to headphones, cameras, and recorders.</p>
                <p>Another key function of a portable field mixer is to provide technicians with accurate reads while on location. This allows immediate adjustment of gain, level, and other key sound metrics. Location sound professionals often put their <a href="https://www.bhphotovideo.com/c/browse/Field-Mixers-Accessories/ci/15413/N/4291085970">field mixers, preamps, and accessories</a> in a bag and attach it to their bodies for ease of operation.</p>
                <br>
                <h3>What Does a Camcorder XLR Adapter Do?</h3>
                <p>A camcorder XLR adapter enables the attachment of more than one audio source to any camera that features a 3.5mm mini plug. They feature transformers that optimize the signal flow from several microphones and avoid impedance imbalance problems. An XLR adapter usually takes the form of a small box, which fits on the tripod thread beneath a camcorder.</p>
                <br>
                <p>Find your ideal location sound equipment for any project at B&amp;H Photo Video.</p>
            </div>
        </div>


    </div>
</div>
