<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Surveillance-Video/ci/3496/N/4293342959" property="item" typeof="WebPage">
                        <span property="name">
                            Surveillance
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/camera-accessories/ci/23730/N/3880127467" property="item" typeof="WebPage">
                        <span property="name">
                            Surveillance Video
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Surveillance Video</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Surveillance Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/ezra_k_bw.png" alt="Ezra K., B&amp;H Surveillance Expert" title="Ezra K., B&amp;H Surveillance Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/zev_b_bw.png" alt="Zev B., B&amp;H Surveillance Expert" title="Zev B., B&amp;H Surveillance Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Surveillance/-/ci/3496"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/surveillance-systems/ci/3672/N/3822779873" id="Surveillance Systems" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1386700.jpg" alt="Surveillance Systems">

                                        <div class="clp-categoryName">Surveillance Systems</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/security-cameras/ci/25510/N/3880127379" id="Security Cameras" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1413448.jpg" alt="Security Cameras">

                                        <div class="clp-categoryName">Security Cameras</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/lenses/ci/23731/N/3559861087" id="Lenses" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/736855.jpg" alt="Lenses">

                                        <div class="clp-categoryName">Lenses</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/illuminators/ci/36144/N/3524535125" id="Illuminators" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1330392.jpg" alt="Illuminators">

                                        <div class="clp-categoryName">Illuminators</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/camera-accessories/ci/25502/N/3880127433" id="Camera Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1055166.jpg" alt="Camera Accessories">

                                        <div class="clp-categoryName">Camera Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/video-recorders/ci/25507/N/3880127400" id="Video Recorders   Hard Drives" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1345932.jpg" alt="Video Recorders &amp; Hard Drives">

                                        <div class="clp-categoryName">Video Recorders &amp; Hard Drives</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/security-surveillance/ci/23196/N/3559424263" id="Video Management Software" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1208844.jpg" alt="Video Management Software">

                                        <div class="clp-categoryName">Video Management Software</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/monitors/ci/24744/N/3880127438" id="Monitors   Mounts" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1409617.jpg" alt="Monitors &amp; Mounts">

                                        <div class="clp-categoryName">Monitors &amp; Mounts</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/transmission/ci/25508/N/3880127391" id="Transmission" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1009287.jpg" alt="Transmission">

                                        <div class="clp-categoryName">Transmission</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/tools-test-equipment/ci/23198/N/3737634730" id="Tools   Test Equipment" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/1112371.jpg" alt="Tools &amp; Test Equipment">

                                        <div class="clp-categoryName">Tools &amp; Test Equipment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/networking/ci/23259/N/3880127451" id="Networking" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="https://static.bhphoto.com/images/images150x150/464635.jpg" alt="Networking">

                                        <div class="clp-categoryName">Networking</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;23730&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;23730&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=a2c6d4fb-520c-42d2-beae-49904309b880&amp;x=8yb_x-_sjo79-FcGZN77rh09Diz6hpzzZJbXga0KWcMtv9Cn7nAeEpveGgfEJI_Z5urPhKl1GXWP6mq5P0WDsvhDgq-IzWRp5-nUEZeGcoMOX_AsNE6lU81MEIXA1o55UOJX2zpJM4XBFCIr-sLNUmzJaL2ZMSaAfny8ZaRiAbTk1W88NYdw6l_5-IFKrUMtTgQDVOMRfET9fVMuC7m3g8EKg8Bh6rZ_x2-s7Y8ta-cNfqxEV6n2igLBYt8rOfY74nkFGAdREeW0wE1oLZIBJg%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/promotion/15447/find-your-ideal-seagate-drive" class="overlay-on-hover" style="text-align: center" data-campaign-id="42741"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/a3f7b32d3227dd1503cd8503659235ce" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=a2c6d4fb-520c-42d2-beae-49904309b880&amp;x=8yb_x-_sjo79-FcGZN77rh09Diz6hpzzZJbXga0KWcMtv9Cn7nAeEpveGgfEJI_Z5urPhKl1GXWP6mq5P0WDsvhDgq-IzWRp5-nUEZeGcoMOX_AsNE6lU81MEIXA1o55UOJX2zpJM4XBFCIr-sLNUmzJaL2ZMSaAfny8ZaRiAbTk1W88NYdw6l_5-IFKrUMtTgQDVOMRfET9fVMuC7m3g8EKg8Bh6rZ_x2-s7Y8ta-cNfqxEV6n2igLBYt8rOfY74nkFGAdREeW0wE1oLZIBJg%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/computers/news/an-overview-of-the-rack-mountable-seneca-confidence-sq100-nvr" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/27675-cs.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/27675-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>An Overview of the Rack-Mountable Seneca Confidence SQ100 NVR </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/home-entertainment/buying-guide/lighting-for-surveillance-situations" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/24327-covershot1.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/24327-covershot1.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Lighting for Surveillance Situations</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/home-entertainment/buying-guide/indoor-wi-fi-camera-buying-guide" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-wireless-indoor-surveillance-buying-guide.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-wireless-indoor-surveillance-buying-guide.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Indoor Wi-Fi Camera Buying Guide</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/home-entertainment/news/a-look-at-new-surveillance-security-gear-from-axis-communications" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/22803-covershot2.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/22803-covershot2.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>A Look at New Surveillance &amp; Security Gear from Axis Communications</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/video/buying-guide/creating-a-surveillance-solution-for-your-business" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/22586-cs.png" data-src="https://static.bhphotovideo.com/explora/sites/default/files/22586-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Creating a Surveillance Solution for Your Business</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/video/buying-guide/surveillance-video-buying-guide-beyond-the-basics-part-2" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/22483-cs.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/22483-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Surveillance Video Buying Guide: Beyond the Basics, Part 2</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





    </div>
</div>