<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-lightBreadcrumbs clp-lightPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Pro Audio" class="clp-pageImage js-pageImage" style="background-image: url('assets/prmt/b49c8c83b4cd29c719430dbac46a7a7f')"></div>




        <a href="https://data.tagdelivery.com/sap/click?impression_id=e9ea4d3d-6a94-47a6-a39f-e2b82a6df8bb&amp;sap=d3023e1a-6db7-4a04-a357-29cac57d9bff&amp;redirect=https://www.bhphotovideo.com/c/browse/Sennheiser/ci/11016/N/4232862389?origSearch=sennheiser">
            <img class="clp-bannerVideoLogo" src="assets/prmt/e5f86f90140ae870943c8795d1e0d60e" alt="sponsor logo" data-campaign-id="42423">
        </a>




        <img src="https://data.tagdelivery.com/sap/impression?impression_id=e9ea4d3d-6a94-47a6-a39f-e2b82a6df8bb&amp;sap=d3023e1a-6db7-4a04-a357-29cac57d9bff" style="position: absolute; height: 0; width: 0; visibility: hidden;">


    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Professional-Audio/ci/12154/N/4294550705" property="item" typeof="WebPage">
                        <span property="name">
                            Pro Audio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Pro Audio</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Pro Audio Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/deesh_p.png" alt="Deesh P., B&amp;H Pro Audio Expert" title="Deesh P., B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/dan-asaro_bw.png" alt="Daniel Asaro, B&amp;H Pro Audio Expert" title="Daniel Asaro, B&amp;H Pro Audio Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/merry-a_bw.png" alt="Merry A., B&amp;H Pro Audio Expert" title="Merry A., B&amp;H Pro Audio Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Pro-Audio/-/ci/12154"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Wireless-Microphones/ci/15412" id="Wireless Microphone Systems" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1385735.jpg" alt="Wireless Microphone Systems">

                                        <div class="clp-categoryName">Wireless Microphone Systems</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Microphones/ci/14929/N/3681064906" id="Microphones" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/163789.jpg" alt="Microphones">

                                        <div class="clp-categoryName">Microphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/ENG-EFP-Broadcast/ci/12158/N/4294550031" id="Audio for Video" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1056426.jpg" alt="Audio for Video">

                                        <div class="clp-categoryName">Audio for Video</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Recording/ci/20172/N/3992462121" id="Studio Recording" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1134477.jpg" alt="Studio Recording">

                                        <div class="clp-categoryName">Studio Recording</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Computer-Audio/ci/12157/N/4294550101" id="Computer Audio" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1251661.jpg" alt="Computer Audio">

                                        <div class="clp-categoryName">Computer Audio</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Live-Sound/ci/20173/N/3992462077" id="Live Sound" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/979271.jpg" alt="Live Sound">

                                        <div class="clp-categoryName">Live Sound</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/DJ-Equipment/ci/13932/N/4294549057" id="DJ Equipment" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1275109.jpg" alt="DJ Equipment">

                                        <div class="clp-categoryName">DJ Equipment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Installation-Sound/ci/14235/N/4294548737" id="Installation Sound" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/232420.jpg" alt="Installation Sound">

                                        <div class="clp-categoryName">Installation Sound</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Musical-Instruments-Accessories/ci/12156/N/4294550192" id="Musical Instruments" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1170922.jpg" alt="Musical Instruments">

                                        <div class="clp-categoryName">Musical Instruments</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Accessories"></a>
                            <h2 class="clp-sectionTitle">Accessories</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/headphones/ci/38229" id="Headphones" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/755659.jpg" data-src="assets/images/images150x150/755659.jpg" alt="Headphones">


                                        <div class="clp-categoryName">Headphones</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Cases-Accessories/ci/16061/N/3992462182" id="Audio Cases   Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/568931.jpg" data-src="assets/images/images150x150/568931.jpg" alt="Audio Cases &amp; Accessories">


                                        <div class="clp-categoryName">Audio Cases &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Stands-Mounts-Accessories/ci/16062/N/3992462172" id="Stands   Mounts" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1023331.jpg" data-src="assets/images/images150x150/1023331.jpg" alt="Stands &amp; Mounts">


                                        <div class="clp-categoryName">Stands &amp; Mounts</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Cables-Adapters-Snakes/ci/16059/N/3992462213" id="Cables   Adapters" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/828667.jpg" data-src="assets/images/images150x150/828667.jpg" alt="Cables &amp; Adapters">


                                        <div class="clp-categoryName">Cables &amp; Adapters</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Racks-Furniture/ci/20302/N/3992462022" id="Furniture   Rack Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/554246.jpg" data-src="assets/images/images150x150/554246.jpg" alt="Furniture &amp; Rack Accessories">


                                        <div class="clp-categoryName">Furniture &amp; Rack Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Acoustic-Treatment/ci/16066/N/3992462139" id="Acoustic Treatment" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/210729.jpg" data-src="assets/images/images150x150/210729.jpg" alt="Acoustic Treatment">


                                        <div class="clp-categoryName">Acoustic Treatment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/In-Line-Problem-Solvers/ci/16123/N/3992462129" id="In Line Problem Solvers" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/405505.jpg" data-src="assets/images/images150x150/405505.jpg" alt="In-Line Problem Solvers">


                                        <div class="clp-categoryName">In-Line Problem Solvers</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Audio-Media/ci/2542/N/3992462002" id="Audio Media" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/994692.jpg" data-src="assets/images/images150x150/994692.jpg" alt="Audio Media">


                                        <div class="clp-categoryName">Audio Media</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Audio-Books-Tutorials/ci/10477/N/4051997327" id="Audio Books   Tutorials" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/490856.jpg" data-src="assets/images/images150x150/490856.jpg" alt="Audio Books &amp; Tutorials">


                                        <div class="clp-categoryName">Audio Books &amp; Tutorials</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Power-Equipment/ci/16063/N/3992462155" id="Power Equipment" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/845818.jpg" data-src="assets/images/images150x150/845818.jpg" alt="Power Equipment">


                                        <div class="clp-categoryName">Power Equipment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/headphone-acessories/ci/38230" id="Headphone Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1020698.jpg" data-src="assets/images/images150x150/1020698.jpg" alt="Headphone Accessories">


                                        <div class="clp-categoryName">Headphone Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/General-Accessories/ci/16064/N/3992462150" id="General Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1051908.jpg" data-src="assets/images/images150x150/1051908.jpg" alt="General Accessories">


                                        <div class="clp-categoryName">General Accessories</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;12154&quot;}" data-count="3" data-slot="1165"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;12154&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=6f25c639-fc34-4ea4-9978-955453dc6b23&amp;x=OmGC2yd5aNzGmexJBA2RKWEuV4QE-xkz6S3Q2me4oC-hHFBOoS8DZaSrY8vpPEy2fpAIMpSpIUS7hJbMta12PQRd1VOIfD-pqWqYuYz_4xcFKveYKP6yReOM1H0TAY1jY2Jdqw15pRYCX80ZbSC6rMtFe_l75W4NSqf49pmnqUaY9RqAN5Vx2aIoiQL1bfGLvGctjyPvya1bN9XSufM4yrpA_-3CfSPveEYvTi30vpu_u9rCtyzjZDBgb3RLNFcYq320IJUQwrbaFB0nIv204w%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/967366-REG/zoom_h6_handy_audio_recorder.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="42517"> <img src="assets/prmt/ae5d5dfebc6142afd47bedecc5c90fb5" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=6f25c639-fc34-4ea4-9978-955453dc6b23&amp;x=OmGC2yd5aNzGmexJBA2RKWEuV4QE-xkz6S3Q2me4oC-hHFBOoS8DZaSrY8vpPEy2fpAIMpSpIUS7hJbMta12PQRd1VOIfD-pqWqYuYz_4xcFKveYKP6yReOM1H0TAY1jY2Jdqw15pRYCX80ZbSC6rMtFe_l75W4NSqf49pmnqUaY9RqAN5Vx2aIoiQL1bfGLvGctjyPvya1bN9XSufM4yrpA_-3CfSPveEYvTi30vpu_u9rCtyzjZDBgb3RLNFcYq320IJUQwrbaFB0nIv204w%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=2b8ba581-ed83-4c01-a3f8-4170d6f24a22&amp;x=Uvvr0S0vRoG5WuEc-aEGuxi6VDWdthqliqZ4Aq33GJhCCfPWdhHxlqyR1jBWJs9f9zvfy5Seu2SIc_72B5YIRpOharHV-hb_5lm0GS_I2zT3h-GwtMH5nhebyDzCccacAUK0TW62JSBygKybPpMWsyR5NfrHnjxqDfI67U3yPjy61ZvyFUa7ORiCzxliKgB1Cf4sK8eODJLUXfdIDrDwK1XIixZ84NNrOtJppb01B38_R76iOS3Jk4PNOxASbdR2K8UbjzfnfOIwAauZ1bVINQ%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/buy/fujifilm-cameras/ci/43930" class="overlay-on-hover" style="text-align: center" data-campaign-id="43806"> <img src="assets/prmt/64c818ba80cfa6f59d31de19e00cf932" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=2b8ba581-ed83-4c01-a3f8-4170d6f24a22&amp;x=Uvvr0S0vRoG5WuEc-aEGuxi6VDWdthqliqZ4Aq33GJhCCfPWdhHxlqyR1jBWJs9f9zvfy5Seu2SIc_72B5YIRpOharHV-hb_5lm0GS_I2zT3h-GwtMH5nhebyDzCccacAUK0TW62JSBygKybPpMWsyR5NfrHnjxqDfI67U3yPjy61ZvyFUa7ORiCzxliKgB1Cf4sK8eODJLUXfdIDrDwK1XIixZ84NNrOtJppb01B38_R76iOS3Jk4PNOxASbdR2K8UbjzfnfOIwAauZ1bVINQ%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/buying-guide/which-zoom-recorder-is-right-for-you" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/27458-cs.png" data-src="assets/explora/sites/default/files/27458-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Which Zoom Recorder is Right for You?</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/buying-guide/audio-week-which-live-sound-front-of-house-mixer-is-for-you" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/27218-covershot3.png" data-src="assets/explora/sites/default/files/27218-covershot3.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Audio Week: Which Live Sound Front of House Mixer is for You?</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/2-new-synths-from-korg" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/27590-cs.png" data-src="assets/explora/sites/default/files/27590-cs.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>2 New Synths from Korg</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/news/new-from-roland-fantom-workstations-mc-grooveboxes-and-a-ju-06a-synthesizer" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-roland-fantom-juno6a-mc101-mc707.jpg" data-src="assets/explora/sites/default/files/cs-roland-fantom-juno6a-mc101-mc707.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>New from Roland: Fantom Workstations, MC Grooveboxes, and a JU-06A Synthesizer </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/pro-audio/hands-on-review/audio-week-recording-a-band-with-your-smartphone" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/27216-covershot.png" data-src="assets/explora/sites/default/files/27216-covershot.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Hands-on Review</h6>
                                    <div class="ellipsizer">
                                        <p>Audio Week: Recording a Band with Your Smartphone</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>


                        <div data-selenium="htmlSectionAd">
                            <a href="assets/bnh/controller/home?O=cableFinder&amp;A=cableSearch&amp;Q=&amp;ci=16340&amp;N=4288590280+4289217271&amp;cm_sp=Banner-_-Promotions-_-Cable_BI17538" class="clp-textSidebarBanner clp-overlayOnHover" style="background-color: #fff;"> <img class="clp-sidebarBannerImg" src="assets/bimages/cablefinderimg123456789.jpg">
                                <div class="clp-sidebarBanner-text">
                                    <p>Quickly find the cables you need</p>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Pro Audio</h2>
                <p>Two turntables and a microphone? You'll find all that—and way more—at B&amp;H: Our extensive selection of DJ equipment, sound systems and pro audio gear might surprise you. And we also stock enough home audio equipment to outfit any sound system, from uncomplicated to elaborate. So whether you're an easy listener or a confirmed audiophile—whether you’re searching for anything from small speakers and amplifiers to computer audio or location sound, we have your gear!</p>
                <p>If you're looking to put a band together, B&amp;H’s music equipment selection spans everything from mixers and microphones to mandolins, adapters and ukuleles. If a stereo system complete with big speakers is on your wish list, our product specialists can steer you to the best audio options for your needs and budget.</p>
                <p>In the business, and looking to demo an entire pro sound system? Make an appointment with our Studio team to test-drive the latest tech and setups—no strings attached. From DJs and broadcast professionals to everyday audio enthusiasts, B&amp;H aims to be everyone's favorite audio store!</p>
            </div>
        </div>


    </div>
</div>