<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-darkBreadcrumbs clp-darkPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Lighting" class="clp-pageImage js-pageImage" style="background-image: url('assets/bimages/HeaderBG_LightingAndStudio.jpg')"></div>





    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Lighting-Studio/ci/1161/N/4294551176" property="item" typeof="WebPage">
                        <span property="name">
                            Lighting &amp; Studio
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Lighting</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Lighting Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/rob-k.png" alt="Rob K., B&amp;H Lighting Expert" title="Rob K., B&amp;H Lighting Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/hector-caminero.png" alt="Hector Caminero, B&amp;H Lighting Expert" title="Hector Caminero, B&amp;H Lighting Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/carlos-de-ferrari.png" alt="Carlos De Ferrari, B&amp;H Photo Expert" title="Carlos De Ferrari, B&amp;H Photo Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Lighting-&amp;-Studio/-/ci/1161"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Continuous &amp; Strobe Lighting"></a>
                            <h2 class="clp-sectionTitle">Continuous &amp; Strobe Lighting</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/continuous-lighting/ci/22521/N/3988592086" id="Continuous Lighting" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1360051.jpg" alt="Continuous Lighting">

                                        <div class="clp-categoryName">Continuous Lighting</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/strobe-lighting/ci/22522/N/3988592069" id="Strobe Lighting" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1275335.jpg" alt="Strobe Lighting">

                                        <div class="clp-categoryName">Strobe Lighting</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Flashes-Accessories/ci/18316/N/3772242290" id="Flashes   On Camera Lighting" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/847537.jpg" alt="Flashes &amp; On Camera Lighting">

                                        <div class="clp-categoryName">Flashes &amp; On Camera Lighting</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Accessories"></a>
                            <h2 class="clp-sectionTitle">Accessories</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Light-Modifiers/ci/19911/N/4062040414" id="Light Modifiers" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/900597.jpg" data-src="assets/images/images150x150/900597.jpg" alt="Light Modifiers">


                                        <div class="clp-categoryName">Light Modifiers</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Lightstands-Mounting/ci/19913/N/4062040379" id="Light Stands   Mounting" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1414400.jpg" data-src="assets/images/images150x150/1414400.jpg" alt="Light Stands &amp; Mounting">


                                        <div class="clp-categoryName">Light Stands &amp; Mounting</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Power-Supplies/ci/20388/N/4062040348" id="Power   Cables" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1061334.jpg" data-src="assets/images/images150x150/1061334.jpg" alt="Power &amp; Cables">


                                        <div class="clp-categoryName">Power &amp; Cables</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Radio-Optical-Slaves/ci/8005/N/4062040296" id="Radio   Optical Slaves" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1347340.jpg" data-src="assets/images/images150x150/1347340.jpg" alt="Radio &amp; Optical Slaves">


                                        <div class="clp-categoryName">Radio &amp; Optical Slaves</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/light-meters-accessories/ci/21923/N/4025915107" id="Light Meters   Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1219219.jpg" data-src="assets/images/images150x150/1219219.jpg" alt="Light Meters &amp; Accessories">


                                        <div class="clp-categoryName">Light Meters &amp; Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Bulbs-Lamps/ci/6280/N/4062040341" id="Bulbs   Lamps" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/610288.jpg" data-src="assets/images/images150x150/610288.jpg" alt="Bulbs &amp; Lamps">


                                        <div class="clp-categoryName">Bulbs &amp; Lamps</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Lighting-Cases/ci/6430/N/4062040303" id="Lighting Cases  Carts   Handtrucks" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/766494.jpg" data-src="assets/images/images150x150/766494.jpg" alt="Lighting Cases, Carts &amp; Handtrucks">


                                        <div class="clp-categoryName">Lighting Cases, Carts &amp; Handtrucks</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Lighting-Accessories/ci/19916/N/4062040356" id="Lighting Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1263473.jpg" data-src="assets/images/images150x150/1263473.jpg" alt="Lighting Accessories">


                                        <div class="clp-categoryName">Lighting Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/General-Accessories/ci/19246/N/4100277571" id="General Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1077997.jpg" data-src="assets/images/images150x150/1077997.jpg" alt="General Accessories">


                                        <div class="clp-categoryName">General Accessories</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Studio Equipment"></a>
                            <h2 class="clp-sectionTitle">Studio Equipment</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Background-Materials-Equipment/ci/1175/N/4037060750" id="Backgrounds" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/643192.jpg" data-src="assets/images/images150x150/643192.jpg" alt="Backgrounds">


                                        <div class="clp-categoryName">Backgrounds</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Shooting-Tents-Domes/ci/11098/N/4037060767" id="Tabletop Shooting" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1436270.jpg" data-src="assets/images/images150x150/1436270.jpg" alt="Tabletop Shooting">


                                        <div class="clp-categoryName">Tabletop Shooting</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/studio-posing-equipment/ci/29661/N/3715154796" id="Studio   Posing Equipment" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/42295.jpg" data-src="assets/images/images150x150/42295.jpg" alt="Studio &amp; Posing Equipment">


                                        <div class="clp-categoryName">Studio &amp; Posing Equipment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Stage-Equipment/ci/2426/N/3715154807" id="Stage Equipment" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1153528.jpg" data-src="assets/images/images150x150/1153528.jpg" alt="Stage Equipment">


                                        <div class="clp-categoryName">Stage Equipment</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Rail-Systems-Accessories/ci/11940/N/4037060723" id="Rail Systems" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/256995.jpg" data-src="assets/images/images150x150/256995.jpg" alt="Rail Systems">


                                        <div class="clp-categoryName">Rail Systems</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;1161&quot;}" data-count="3" data-slot="1165"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;1161&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=c90b60d9-f0d9-47ca-b437-e68ba484cb07&amp;x=JCb0qw2oqvWoOihiPJG-66r1O1H9CvVwrD1gPYiE5i-gzdmGk8iXQG6ML0t9v1ybPMNhQ0Sc36RtV25EY70REWORrNd-sD2nFViwRaWM-u4_vl_LU4ODmHRUKuIkLva0CrO03zjLM8Oa9pZv_zApy5wQ_af-aa0Mai7TqTb556nw1RVfaJRbpZU8jV42jfaFcU-IaQUN7xx7K-PO_XjZsCdh9RWYqJuFs-KedxH9ZQdjJK2EiV4E_snB5VXtFJv7qDjgz5hnNaMYsPcUonxkzg%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1447193-REG/coast_21593_hx5r_rechargeable_focusing_pocket.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="43588"> <img src="assets/prmt/a56bfd810bc6f1c69a108aeaf8f89382" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=c90b60d9-f0d9-47ca-b437-e68ba484cb07&amp;x=JCb0qw2oqvWoOihiPJG-66r1O1H9CvVwrD1gPYiE5i-gzdmGk8iXQG6ML0t9v1ybPMNhQ0Sc36RtV25EY70REWORrNd-sD2nFViwRaWM-u4_vl_LU4ODmHRUKuIkLva0CrO03zjLM8Oa9pZv_zApy5wQ_af-aa0Mai7TqTb556nw1RVfaJRbpZU8jV42jfaFcU-IaQUN7xx7K-PO_XjZsCdh9RWYqJuFs-KedxH9ZQdjJK2EiV4E_snB5VXtFJv7qDjgz5hnNaMYsPcUonxkzg%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=56a9984b-542a-43f6-ad94-af8054d47c02&amp;x=zicEJef22FcjqhrdaIaVyMZ0c1UEavv4G0nd3UHw_7dTR0jyjppl1L2JVZH-C2UgzS-wyjBuVD0SbY_I5uKg71rG52_0qR9a_FO2Yo12CTbIjUS1xClezCjmXOiU_-gMnjnXSj0bG73UMAsipcYEUBrqPRkzR8W6S018ohloGiH-2F65Wn-Us4WHGN-x8jXQCkclvS9prl-0pA0GXCC7WVTPi9IWnbdmLUQ2u9-zCd101Wce7DotV_qvQcGQMQWZladaahbjxBh4AFrRtL0zdw%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/promotion/15388/summer-photography-tips.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="42241"> <img src="assets/prmt/650acb80b5c910df7fe1c0f46ab8ed1c" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=56a9984b-542a-43f6-ad94-af8054d47c02&amp;x=zicEJef22FcjqhrdaIaVyMZ0c1UEavv4G0nd3UHw_7dTR0jyjppl1L2JVZH-C2UgzS-wyjBuVD0SbY_I5uKg71rG52_0qR9a_FO2Yo12CTbIjUS1xClezCjmXOiU_-gMnjnXSj0bG73UMAsipcYEUBrqPRkzR8W6S018ohloGiH-2F65Wn-Us4WHGN-x8jXQCkclvS9prl-0pA0GXCC7WVTPi9IWnbdmLUQ2u9-zCd101Wce7DotV_qvQcGQMQWZladaahbjxBh4AFrRtL0zdw%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/video/features/just-announced-rotolights-next-big-thing-the-titan-x2-2x1-rgbww-led-light" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs-rotolight-titan-x2-led-softlight-for-cinematic-lighting.png" data-src="assets/explora/sites/default/files/cs-rotolight-titan-x2-led-softlight-for-cinematic-lighting.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Features</h6>
                                    <div class="ellipsizer">
                                        <p>Just Announced: Rotolight's Next Big Thing, the Titan X2 2x1 RGBWW LED Light</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/photography/tips-and-solutions/an-introduction-to-natural-light-portraiture" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/27450-covershot.jpg" data-src="assets/explora/sites/default/files/27450-covershot.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>An Introduction to Natural Light Portraiture</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/videos/video/how-to-light-a-scene-on-a-budget" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/light_a_scene_sq.jpg" data-src="assets/explora/sites/default/files/light_a_scene_sq.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>How to Light a Scene on a Budget</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/photography/news/spruce-up-your-multicart-with-the-handle-wagon-accessory-bags-and-standwrap" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/27194-covershot-a-jul-30-19.png" data-src="assets/explora/sites/default/files/27194-covershot-a-jul-30-19.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Spruce Up Your MultiCart with the Handle, Wagon, Accessory Bags, and StandWrap</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/photography/buying-guide/5-pieces-of-lighting-equipment-to-bring-on-your-next-adventure" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/23728-cs.jpg" data-src="assets/explora/sites/default/files/23728-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>5 Pieces of Lighting Equipment to Bring on your Next Adventure</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>


                        <div data-selenium="htmlSectionAd">
                            <a href="//www.bhphotovideo.com/bnh/controller/home?O=cableFinder&amp;A=cableSearch&amp;Q=&amp;ci=16340&amp;N=4288590280+4289217272&amp;cm_sp=Banner-_-Promotions-_-Cable_BI17538" class="clp-textSidebarBanner clp-overlayOnHover" style="background-color: #fff;"> <img class="clp-sidebarBannerImg" src="//www.bhphotovideo.com/bimages/cablefinderimg123456789.jpg">
                                <div class="clp-sidebarBanner-text">
                                    <p>Quickly find the cables you need</p>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Photography Lighting Essentials</h2>
                <p>Photography lighting provides illumination when you're taking a picture or filming video footage in low-light conditions. This usually occurs when you're shooting at night, inside buildings, or in areas with limited sources of light. The proper use of <a href="https://www.bhphotovideo.com/c/browse/Flashes-Accessories/ci/18316/N/3772242290">flashes and on-camera lights</a>&nbsp;not only improves the quality of photos and video clips you take, but it also lets you manipulate light in a more creative way, especially if you're a professional photographer or videographer.</p>
                <br>
                <h3>Flash vs. On-Camera Lights</h3>
                <p>Studio photography lighting, such as the flash and on-camera lights, can be confusing, especially if you're new to the hobby.</p>
                <p>A camera flash provides a quick but powerful burst of light that works simultaneously with the camera shutter. It enables you to shoot photos wherever, whenever, and however you want without the need for a separate lighting device, since you have a built-in light source. It's also better at capturing motion because the camera only sees the burst of light and its subject, which enables it to "freeze" the image as opposed to continuous light where the sensor has time to adjust and pick out other sources of light, thereby blurring the picture.</p>
                <p>An on-camera light is also attachable to a DSLR or video camera, but unlike a camera flash, it works to give you a continuous source of illumination rather than a short burst. If you want your photos to show consistent brightness and clarity, choose this kind of lighting equipment. You can also use it separately with a tripod, which is a common setup with&nbsp;studio lights.</p>
                <br>
                <h3>Photography Lighting&nbsp;for Shooting Videos</h3>
                <p>Continuous lighting devices are capable of providing enough illumination to cover a large area where you expect your subject to be moving. You have a choice between LED, tungsten, fluorescent, and HMI, with each one having unique lighting properties that you can take advantage of to boost the quality of your footage. They also come with adjustable light stands that you can easily move around to fit your shooting style. Additionally, you can remotely control many models, giving you the ability to manipulate the amount and duration of lighting you get for your videos.</p>
                <br>
                <h3>Other Uses for Photography Lighting Equipment</h3>
                <p>Aside from using it for shooting videos and pictures, photographic lighting is also ideal for use in show productions such as concerts and parties. You can manipulate these lights to provide special effects by using <a href="https://www.bhphotovideo.com/c/browse/Lighting-Accessories/ci/19916/N/4062040356">lighting accessories</a>, such as dimmers, which let you control brightness, and you can even choreograph them with human movement on the stage.</p>
                <br>
                <p>Whether you're taking pictures, shooting videos, or there's something you need to <a href="https://www.bhphotovideo.com/c/browse/complete-your-studio/ci/40037">complete your studio</a>, turn to B&amp;H Photo and Video to find the&nbsp;photography equipment&nbsp;you need, such as&nbsp;photography lamps, <a href="https://www.bhphotovideo.com/c/browse/strobe-lighting/ci/22522/N/3988592069">strobe lighting</a>,&nbsp;and other gear for your projects.</p>
            </div>
        </div>


    </div>
</div>