<div class="t-main full-width clearfix">

			
			
    <div id="help-center" class="help-center">
      
      
      <div class="new-page-width about-us-page-container">
        <div class="careers-forbes-award-container js-careers-forbes-award-container" style="display: none;">
          <img class="careers-forbes-text" src="assets/images/forbes/forbes_text_about.png" alt="Forbes names B&amp;H one of America's best employers!">
          <img class="careers-forbes-award" src="assets/images/forbes/forbes_award_career.png" alt="Forbes 2018 - America's best mid-size employers">
        </div>

        <h1 class="page-title about">About B&amp;H</h1>
        
        <div class="help-center-content">
          
          <div class="in-page-nav">
            <a href="#BhProfile" class="active">B&amp;H IN A NUTSHELL</a>
            <a href="#careers" class="">Careers</a>
            <a href="https://www.bhphotovideo.com/find/HelpCenter/helpcenter.jsp">&lt; Help Center</a>
          </div>
          
          <div class="content-area">
        
            <div id="BhProfile" class="" style="display: block;">
                
              <h2 class="section-title">B&amp;H IN A NUTSHELL</h2>
              
              <div class="content">
                <div class="width50">
                  
                  <img class="sep" src="assets/images/bhProfile-01.jpg">
                  
                  <div class="newsweek-award-container">
                    <img src="assets/images/newsweek/newsweek-award-footer.svg" class="newsweek-award-image" alt="Newsweek 2019 - America's best customer service">
                      <p class="newsweek-award-text">"One of America's best companies for customer service"<br><span class="award-attribution">-Newsweek</span></p>
                  </div>
                  <div class="about-us-forbes-award-container">
                    <img class="about-us-forbes-award" src="assets/images/forbes/forbes_award_about.png" alt="Forbes 2018 - America's best mid-size employers">
                    <img class="about-us-forbes-text" src="assets/images/forbes/forbes_text_about.png" alt="Forbes names B&amp;H one of America's best employers!">
                  </div>
                  
                  <div class="testimonials">
                    <i class="fs24">"A first-class consumer electronics retailer."</i>
                    <p>- Inc. magazine</p>
                    
                    <i class="fs24">"A true specialty superstore."</i>
                    <p>- The Huffington Post</p>
                    
                    <i class="fs24">"A stunning array of electronics-related miscellany and a team of sales associates to help shoppers."</i>
                    <p>- NY Magazine</p>
                    
                    <i class="fs24">"Masters at retail."</i>
                    <p>- CNET</p>
                  </div>
                      
                  <a class="s-btn s-style-2 media-inquiries-btn" href="mailto:henryp@bhphoto.com">Media Inquiries</a>
                </div>
              
                <div class="width50">
                  
                  <h1 class="sep-40">Over 3 million professionals and enthusiasts in the world of imaging, audio and technology rely on B&amp;H for their equipment needs.</h1>
                  <p>Our 70,000-square-foot NYC SuperStore has been called an "A/V Eden", "Mecca for Tech-Heads" and "Nerd Nirvana..." and we're ok with that! Our Manhattan retail location is the largest of its kind in the USA, featuring an average of 10,000 demo products on the shelves.</p>
                  <p>More than 5,000 people per day flock to our 34th Street SuperStore in New York and upwards of 12 million consumers visit our online store every month.</p>
                  <br>
                  <h2>What We Stand For</h2>										
                  <h3>Customer Satisfaction</h3>
                  <p>At B&amp;H, we will never give you the "hard sell", or try to convince you to purchase something you don't need. We value your patronage and always aim to provide a great shopping experience. You're invited to call us, chat with us, or visit in person—we're waiting to serve you. We'll give you all the time you need to discuss your concerns and graciously welcome any request.</p>
                  <h3>True Know-How</h3>
                  <p>We recruit photography, audio and video specialists as salespeople. By hiring so many accomplished experts, we place years of industry experience and advice at your disposal.</p>
                  <p>In addition to their own experience, B&amp;H associates spend more than 25% of their working time in equipment trainings. Our technology courses teach the science behind the gear we carry, and talks on technique and artistic expression offer insight into how working pros best utilize their equipment. Product training involves demonstrations by manufacturer representatives on the use of new items. Our experts extend their experience to train each other as well, sharing new technologies and ideas. Talk to our pros to find out the latest in equipment development and applications.</p>
                  <h3>Superior Value</h3>
                  <p>B&amp;H always offers great prices around the clock, every day. Our extensive selection and business relationships allow us to make deals that translate to exceptional savings for you.</p>
                  <h3>Amazing Selection</h3>
                  <p>B&amp;H maintains ample stock of many manufacturers' full product lines, from highly popular brands to obscure, hard-to-find accessories. Our only concern is having the item <i>you</i> need when <i>you</i> need it. And thanks to our precise inventory tracking, if a product is listed as being in stock, you can be sure we have it available for you.</p>
                  
                </div>
              </div>
              
              <h2 class="section-title">Our Roots</h2>
              <div class="content">
              
                <h1 class="history sep-40">B&amp;H opened our original storefront in 1973, and our reputation for extensive inventory and fair, honest advice began with our first customer.</h1>
                
                <div class="history-text">
                  <p>B&amp;H began as a "mom and pop" shop in 1973. After wife-and-husband partners (Blimie and Herman, respectively) opened the doors in Tribeca with one employee, their trademark dedication to candid selling and quality merchandise quickly attracted a loyal following of photo, video and audio professionals.</p>
                  <p>At a time when shysters abounded, we developed a reputation for honesty and ethical business practices, and the word spread.</p>
                  <p>Today, as the USA's largest non-chain specialty electronics retailer, we deliver that same pioneering integrity via specialized showrooms, classes and tutorials, and as always, unparalleled inventory and service on a daily basis. We continue to expand to meet your needs with showrooms, classes, helpful educational and social media content, serving customers worldwide from our highly rated website, award-winning mobile Apps, catalogs and our 34th Street "SuperStore."</p>
                  <h3>Our Pledge to You</h3>
                  <p>Online, through our call centers, or at our SuperStore in New York City, our goal is to support you and provide you with the best solutions for your specific professional or personal needs. Whether you are a first-time buyer or a seasoned professional customer, we are here to serve you. B&amp;H Photo strives continually to give you unbiased, honest, and accurate information to help you make the right decision when purchasing from us.</p>
                  <h3>Come See for Yourself</h3>
                  <p>Shop at B&amp;H in the way that is most convenient for you: in our store, by phone, by mail, by fax or through our website. Whichever way you choose, no matter the size of the sale, we're here to help you!</p>
                
                </div>
                
                <div>
                  <img title="" alt="" src="assets/images/index.gif" width="111" height="102">
                </div>
                
              </div>
              
              
            </div>
            
            <div id="careers" style="display: none;">
                
              <h2 class="section-title">Career Opportunities</h2>
              
              <div class="content">
                
                <p>Want a rewarding career? You go to B&amp;H.</p> 
                <p>Since 1973, B&amp;H has built a reputation as a New York retail institution as well as an online resource catering to photo and video enthusiasts-professionals and amateurs alike. Long known as "The Professional's Source", consumers worldwide look to B&amp;H for knowledgeable guidance when purchasing cameras and related accessories.</p>
                <p>B&amp;H offers competitive salaries, medical benefits, a 401K plan, employee discounts, and equally important, an opportunity to advance within a high-energy company that continues to grow by leaps and bounds.</p>
                <p>B&amp;H takes pride in being named one of 'America's Best Mid-Size Employers' for 2018 by Forbes magazine. The award is a testament to our care and concern for employees and their families.</p>
                <a href="https://www.dayforcehcm.com/CandidatePortal/en-US/bav/Posting" target="_blank" rel="nofollow" class="button dark">Search for Jobs</a>
              
                
                <h3>Work Benefits</h3>
                <p>Here at B&amp;H Photo, we firmly believe that employees are our most precious assets. That's why our benefits package is so comprehensive. Our dedicated Benefits Team aims to help our staff find the peace of mind and fitness of body necessary to be happy and productive both in and out of work, so we offer many products and services to maintain a healthy lifestyle. As proponents of preventative healthcare and wellness programs, we are constantly on the lookout for creative perks which can improve our employees quality of life. Here are some of the benefits that we currently offer to eligible associates:</p>
                <p><b>Health Insurance:</b> With multiple levels of coverage, plus a personalized website and dedicated toll-free telephone number for easy access to health insurance representatives, our health insurance plan can be tailored to each employee's unique needs.</p>
                <p><b>Dental Insurance:</b> Since dental care is such an important part of your overall health, subscribers to our dental plan are covered for biannual checkups and routine dental care.</p>
                <p><b>Vision Insurance:</b> Through our vision carrier, employees have access to periodic eye exams, lenses and contact lenses.</p>
                <p><b>Paid Vacation/Time Off</b>: We offer a generous paid-time-off accrual plan on top of 17 paid holidays.</p>
                <p><b>401(k) Plan:</b> B&amp;H is committed to our employees financial success and provides a 401(k) plan to help them invest for retirement. We encourage all of our employees to plan for the future by taking advantage of our 401(k) plan. We offer 100% contribution matching after the first year of employment. We also host frequent educational meetings to help staff more wisely plan their pre-tax retirement savings.</p>
                <p><b>Life Insurance:</b> B&amp;H provides a company-paid life insurance benefit to qualifying employees, as well as the opportunity to purchase additional life insurance for themselves and their families.</p> 
                <p>This benefit provides you and your family with the peace of mind that comes with knowing financial support will be available to protect your loved ones.</p> 
                <p><b>Pre-Tax Transportation Benefits:</b> We realize that commuting to New York City can be an expensive proposition; to defray some of the cost, we provide a commuter discount program that lets you pay for eligible transportation expenses with money deducted from your paycheck pre-tax.</p>
                <p><b>Employee Discounts:</b> Hundreds of thousands of products in our vast inventory are available to employees at steeply discounted prices, and with subsidized shipping and same day pick up, it's never been easier to save big.</p>
                <p><b>Vendor Discounts:</b> B&amp;H employees have access to discounts and offers from a variety of vendors, merchants and providers. Included in these discounts is an extensive list from some of the world's biggest names in photo, video, audio and many other categories.</p>
                <p>Discover why so many savvy professionals go to B&amp;H for a rewarding, far-from-everyday work experience. Search opportunities and apply today! .</p>
                
                <div class="sep"></div>
                <h3>Career Questions</h3>
                
                <p><b>What is B&amp;H's mission?</b></p>
                <p>To be the worldwide leader in the sale of products and services under our umbrella by combining exceptional service, extremely knowledgeable employees, the widest possible range of products, and competitive prices. We are committed to building relationships and to conducting every aspect of our business with the utmost ethical integrity and honesty.</p>
                <br>
                <p><b>How do I submit or change my resume? </b></p>
                <p>Choose the position you are interested in from our job bank and complete your application and profile. Our staff of recruiters carefully reviews all applications and forwards qualified candidates to the proper hiring manager. Note: Due to the high volume of applications only qualified candidates will be contacted.</p>
                <p>You can change your resume by simply logging into your account and review/update. Our database allows us to keep your resume on file indefinitely. We search our database as new positions open.</p>
                <br>
                <p><b>Is B&amp;H an equal opportunity employer? </b></p>
                <p>Yes. B&amp;H is committed to hiring and promoting without regard to religion, race, sex, national origin or ethnicity, age, disability, sexual orientation, and/or any other protected status.</p>
                                  
              </div>
              
            </div>
          
            






<div class="quick-links js-quick-links box-shadow" style="display: none;">
  <p>CUSTOMER SERVICE</p>
  <h2 class="sep">800.221.5743</h2>

  <p>SALES &amp; EXPERT ADVICE</p>
  <h2 class="sep">800.606.6969</h2>

  <a class="c31 fs18 bold" href="https://www.bhphotovideo.com/find/liveChat.jsp" data-selenium="liveChat" onclick="window.open(this.href, this.target, 'height=353,width=553,resizable=yes,scrollbars=yes');" target="livechat">
    <svg><use xlink:href="#chat-square"></use></svg>Live Chat
  </a>
  
  <a class="c31 fs18 bold" href="https://www.bhphotovideo.com/find/contactForm.jsp" manual_cm_sp="Footer-_-Help-_-ContactUs" data-selenium="contactUs" target="_self">
    <svg><use xlink:href="#envelope-light"></use></svg>Email Us
  </a>
  
  
</div>

            
          </div>
          <div class="clearfix"></div>
          
        </div>
      </div>
      
      



<div class="help-center-footer">
<div class="new-page-width"> 


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp" data-selenium="storeInfoFooter">Store Info</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#hoursOfOperation" data-selenium="hoursOperationFooter">Hours of Operation</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#storePickup" data-selenium="storePickupFooter">Store Pickup</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#nycSuperstore" data-selenium="nycSuperstore">NYC SuperStore</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/StoreInfo.jsp#nycSuperstore" data-selenium="mapDirections">Map &amp; Directions</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp" data-selenium="paymentFooter">Payment</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#paymentOptions" data-selenium="paymentOptionsFooter">Payment Options </a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#bhGiftCard" data-selenium="bhGiftCardFooter">B&amp;H Gift Card</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#bhRewardsProgram" data-selenium="rewardsProgramFooter">Rewards Program</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="studentDiscount">Student Discounts</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#businessLeasing" data-selenium="businessLeasing">Business Leasing</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp" data-selenium="shippingFooter">Shipping</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#freeShipping" data-selenium="freeShipping">Free Shipping</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#orderStatus" data-selenium="orderStatusFooter">Order Status</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#shippingOptions" data-selenium="shipOptionsFooter">Shipping Options</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#deliveryTimes" data-selenium="DeliveryTimes">Delivery Times</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Shipping.jsp#storePickup" data-selenium="storePickup2Footer">Store Pickup</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp" data-selenium="policiesFooter">Policies</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#warranties" data-selenium="warrantiesManufactureFooter">Warranties &amp; Manufacturers</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#pricingPolicy" data-selenium="pricingPolicy">Pricing Policy</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#greyMarket" data-selenium="usaGreyMarket">USA Grey Market Products</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#privacySecurity" data-selenium="privacySecurity">Privacy &amp; Security</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#userAgreementDisclaimer" data-selenium="userAgreement">User Agreement &amp; Disclaimer</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/ReturnExchange.jsp" data-selenium="returnsFooter">Returns</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/ReturnExchange.jsp#returnPolicy" data-selenium="returnExchangeFooter">Returns &amp; Exchanges Policy</a>
</div>

<p class="clearfix sep-40"></p>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/AboutUs.jsp" data-selenium="aboutBH">About B&amp;H</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/AboutUs.jsp#BhProfile" data-selenium="bhProfilesFooter">B&amp;H Profile</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/AboutUs.jsp#careers" data-selenium="careerOpportunites">Career Opportunities</a>
<a href="https://www.bhphotovideo.com/find/partners.jsp" data-selenium="imagingPartners">Imaging Partners</a>
<a href="https://www.bhphotovideo.com/find/Events.jsp" data-selenium="sponsoredEvents">Sponsored Events</a>
<a href="https://itunes.apple.com/us/podcast/b-h-photography-podcast/id1052860428" data-selenium="bhPodcast">B&amp;H Podcast</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Used.jsp" data-selenium="usedCollectibles">Used Department</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/Used.jsp#returnWarranty" data-selenium="returnWarrantyFooter">Return &amp; Warranty</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Used.jsp#sellYourGear" data-selenium="sellGearFooter">Sell Your Gear</a>
</div>


<div>
<p>Resources</p>
<a href="/explora" data-selenium="exploraFooter">Explora</a>	
<a href="https://www.bhphotovideo.com/find/eduAdvantage.jsp" data-selenium="eduAdvantage">EDU Advantage</a>
<a href="https://www.bhphotovideo.com/find/federal-gsa-contracts-gov-corporate-edu-sales.jsp" data-selenium="fedGov">Corporate Sales</a>
<a href="https://www.bhphotovideo.com/find/EventSpace.jsp" data-selenium="eventSpace">Event Space</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Policies.jsp#warranties" data-selenium="contactManufacture" v="">Contact the Manufacturer</a>
</div>


<div>
<a data-selenium="internationalFooter" href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp">International</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#whereWeShip" data-selenium="whereWeShip">Where We Ship</a>	
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#policiesPricing" data-selenium="policiesPricingFooter">Policies &amp; Pricing</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#dutiesTaxes" data-selenium="customsTaxesFooter">Customs, Taxes &amp; Other Fees</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#payment" data-selenium="foreignCurrency">Foreign Currency</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#canada" data-selenium="canadaFooter">Canada</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/International.jsp#shipping" data-selenium="shippingFooter">Shipping</a>
</div>


<div>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="eduAdvantageFooter">Students &amp; EDU Advantage</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="approvalProcess">Approval Process</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="eligibilityReuirements">Eligibility Requirements</a>
<a href="https://www.bhphotovideo.com/find/HelpCenter/Payments.jsp#studentDiscounts" data-selenium="becomeMember">Becoming a Member</a>
</div>

</div>
</div>
    </div>
      
    

    </div>
