<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/optics/ci/978/N/4294541872" property="item" typeof="WebPage">
                        <span property="name">
                            Optics
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Telescopes-Astronomy/ci/3389/N/4100994442" property="item" typeof="WebPage">
                        <span property="name">
                            Telescopes
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Telescopes &amp; Astronomy</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Optics Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/jacob-k_bw.png" alt="Jacob K., B&amp;H Optics Expert" title="Jacob K., B&amp;H Optics Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/david-s_bw_0.png" alt="David S., B&amp;H Optics Expert" title="David S., B&amp;H Optics Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/patrick_f_bw.png" alt="Patrick F., B&amp;H Optics Expert" title="Patrick F., B&amp;H Optics Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Optics/-/ci/978"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div class="clp-subCatPage" data-selenium="subCategories">
                        <ul class="clp-sectionContainer">

                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/browse/Telescope-Optical-Tube-Assemblies/ci/3384/N/4100994429" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/3384.jpg" alt="Telescopes">
                                    </div>

                                    <h2 class="clp-sectionTitle">Telescopes</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Refractor/ci/3391/N/4100994427">Refractors</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Reflector-Newtonian-Dobsonian/ci/3390/N/4100994428">Reflectors</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Catadioptrics-Cassegrain/ci/3392/N/4100994426">Catadioptrics (Cassegrains)</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Solar-Viewing-Scopes/ci/8963/N/4100994424">Solar Telescopes</a></li>

                                </ul>
                            </li>
                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/browse/Eyepieces-Accessories/ci/3385/N/4100994423" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/3385.jpg" alt="Eyepieces &amp; Accessories">
                                    </div>

                                    <h2 class="clp-sectionTitle">Eyepieces &amp; Accessories</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Eyepieces/ci/3394/N/4100994421">Eyepieces</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Diagonals-Prisms-Mirrors-Holders/ci/3396/N/4100994419">Diagonals &amp; Prisms</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Barlow-Lenses/ci/3395/N/4100994420">Barlow Lenses</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Eyepiece-Side-Adapters/ci/3398/N/4100994418">Eyepiece Adapters</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Filters/ci/3400/N/4069497392">Eyepiece Filters</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Other-Eyepiece-Accessories/ci/3421/N/4100994417">Other Eyepiece Accessories</a></li>

                                </ul>
                            </li>
                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/browse/Mounts-Tripods/ci/20215/N/4069497399" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/20215.jpg" alt="Mounts &amp; Tripods">
                                    </div>

                                    <h2 class="clp-sectionTitle">Mounts &amp; Tripods</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Mounts/ci/3401/N/4069497398">Mounts</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Accessories-for-Mounts/ci/3402/N/4069497397">Mount Accessories</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Computerized-Accessories/ci/3405/N/4069497395">Drives &amp; Computerized Accessories</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Tripods-Piers/ci/3406/N/4069497394">Tripods &amp; Piers</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/tripod-pier-accessories/ci/39904">Tripod &amp; Pier Accessories</a></li>

                                </ul>
                            </li>
                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/browse/Accessories/ci/12506/N/4100994441" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/12506.jpg" alt="Accessories">
                                    </div>

                                    <h2 class="clp-sectionTitle">Accessories</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Astrophotography/ci/3387/N/4100994440">Astrophotography</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/imaging-cameras/ci/39697">Imaging Cameras</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/t-mount-adapters/ci/24706/cp/978+3389+12506+24706">T-Mount Adapters</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/smartphone-digiscoping-adapters/ci/39704">Smartphone Digiscoping Adapters</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Finderscopes-Accessories/ci/3399/N/4100994438">Finderscopes &amp; Accessories</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Focusers/ci/3424/N/4100994430">Focusers</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Telescope-Cases/ci/3412/N/3548961597">Telescope Cases</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Other-Telescope-Accessories/ci/3388/N/4100994439">Other Telescope Accessories</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/books-tutorials/ci/27612/N/3804390540">Astronomy Books &amp; Tutorials</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Lens-Optics-Cleaning/ci/18804/N/3804390541">Lens &amp; Optics Cleaning</a></li>

                                </ul>
                            </li>
                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/browse/solar-observing/ci/35625/N/3537148339" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/35625.jpg" alt="Solar Observing">
                                    </div>

                                    <h2 class="clp-sectionTitle">Solar Observing</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/solar-eclipse-glasses-accessories/ci/32948/N/3537148337">Solar Eclipse Glasses</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/solar-viewing-binoculars/ci/31714/N/3537148338">Solar Binoculars</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Solar-Viewing-Scopes/ci/8963/N/3537148333">Solar Telescopes</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/solar-filters-for-astronomical-telscopes/ci/33821/N/3537148335">Solar Filters for Astronomical Telescopes</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/solar-telescope-accessories/ci/33820/N/3537148336">Solar Telescope Accessories</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/solar-photography-filters/ci/34576/N/3537148334">Solar Photography Filters</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/solar-eclipse-software/ci/36246/N/3521045755">Solar Eclipse Software</a></li>

                                </ul>
                            </li>


                        </ul>
                    </div>



                    <!--moreIn mainBodySection -->





                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;3389&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;3389&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar"></div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/outdoors/news/celebrate-the-50th-anniversary-of-apollo-11-with-bh" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-celebrate-the-50th-anniversary-of-apollo-11-with-bandh.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-celebrate-the-50th-anniversary-of-apollo-11-with-bandh.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>News</h6>
                                    <div class="ellipsizer">
                                        <p>Celebrate the 50th Anniversary of Apollo 11 with B&amp;H</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/outdoors/features/8-cool-moon-facts" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs_an-earthlings-guide-to-the-moon_0.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs_an-earthlings-guide-to-the-moon_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Features</h6>
                                    <div class="ellipsizer">
                                        <p>8 Cool Moon Facts</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/outdoors/buying-guide/telescope" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cstele.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cstele.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Everything You Need to Know Before Buying a Telescope</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/photography/tips-and-solutions/22-tips-for-photographing-a-lunar-eclipse" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/cs-how-to-photograph-a-lunar-eclipse.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/cs-how-to-photograph-a-lunar-eclipse.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>22 Tips for Photographing a Lunar Eclipse</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/outdoors/buying-guide/sky-watcher-peeking-stars" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="https://static.bhphotovideo.com/explora/sites/default/files/CS-Star.jpg" data-src="https://static.bhphotovideo.com/explora/sites/default/files/CS-Star.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Sky-Watcher: Peeking at the Stars</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





    </div>
</div>