<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-darkBreadcrumbs clp-darkPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Mac" class="clp-pageImage js-pageImage" style="background-image: url('assets/bimages/apple_desktop_814.jpg')"></div>





    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Computers-Solutions/ci/9581/N/4294542559" property="item" typeof="WebPage">
                        <span property="name">
                            Computers
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/mac/ci/37094" property="item" typeof="WebPage">
                        <span property="name">
                            Mac
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Mac</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Computer Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/boruch-berman.png" alt="Boruch Berman, B&amp;H Expert" title="Boruch Berman, B&amp;H Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/sherman-bryce.png" alt="Sherman Bryce, B&amp;H Computer Expert" title="Sherman Bryce, B&amp;H Computer Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/akiva-munnell.png" alt="Akiva Munnell, B&amp;H Computer Expert" title="Akiva Munnell, B&amp;H Computer Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Computers/-/ci/9581"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/macbook-pro/ci/29069/cp/9581+37094+29069" id="MacBook Pro" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1481045.jpg" alt="MacBook Pro">

                                        <div class="clp-categoryName">MacBook Pro</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/macbook-air/ci/29066/cp/9581+37094+29066" id="MacBook Air" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1441821.jpg" alt="MacBook Air">

                                        <div class="clp-categoryName">MacBook Air</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/iMac/ci/6490/cp/9581+37094+6490" id="iMac" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1151657.jpg" alt="iMac">

                                        <div class="clp-categoryName">iMac</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Mac-mini/ci/10009/cp/9581+37094+10009" id="Mac mini" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1441919.jpg" alt="Mac mini">

                                        <div class="clp-categoryName">Mac mini</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Mac-Pro/ci/12517/cp/9581+37094+12517" id="Mac Pro" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1021114.jpg" alt="Mac Pro">

                                        <div class="clp-categoryName">Mac Pro</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->





                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name="Mac Accessories"></a>
                            <h2 class="clp-sectionTitle">Mac Accessories</h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/cases-screen-protectors/ci/29697/cp/9581+37094+29697" id="Cases   Screen Protectors" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/998046.jpg" data-src="assets/images/images150x150/998046.jpg" alt="Cases &amp; Screen Protectors">


                                        <div class="clp-categoryName">Cases &amp; Screen Protectors</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/macbook-accessories/ci/29702/cp/9581+37094+29702" id="MacBook Accessories" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/493181.jpg" data-src="assets/images/images150x150/493181.jpg" alt="MacBook Accessories">


                                        <div class="clp-categoryName">MacBook Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/monitors-and-displays/ci/25766/cp/9581+37094+25766" id="Monitors   Displays" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1254756.jpg" data-src="assets/images/images150x150/1254756.jpg" alt="Monitors &amp; Displays">


                                        <div class="clp-categoryName">Monitors &amp; Displays</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/peripherals/ci/29706/cp/9581+37094+29706" id="Peripherals" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1359222.jpg" data-src="assets/images/images150x150/1359222.jpg" alt="Peripherals">


                                        <div class="clp-categoryName">Peripherals</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/storage-and-memory/ci/29698/cp/9581+37094+29698" id="Storage and Memory" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1273853.jpg" data-src="assets/images/images150x150/1273853.jpg" alt="Storage and Memory">


                                        <div class="clp-categoryName">Storage and Memory</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/wireless-networking/ci/29701/cp/9581+37094+29701" id="Wireless Networking" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1117107.jpg" data-src="assets/images/images150x150/1117107.jpg" alt="Wireless Networking">


                                        <div class="clp-categoryName">Wireless Networking</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/cables-adapters/ci/29700/cp/9581+37094+29700" id="Cables   Adapters" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1139478.jpg" data-src="assets/images/images150x150/1139478.jpg" alt="Cables &amp; Adapters">


                                        <div class="clp-categoryName">Cables &amp; Adapters</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Software/ci/15626/cp/9581+37094+15626" id="Software   Tutorials" data-selenium="categoryLink">

                                        <img class="clp-150CatImg js-clp-unveil" src="assets/images/images150x150/1433830.jpg" data-src="assets/images/images150x150/1433830.jpg" alt="Software &amp; Tutorials">


                                        <div class="clp-categoryName">Software &amp; Tutorials</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;37094&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;37094&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=40ccde29-72b6-43f9-852b-c2c1021094e1&amp;x=bHkMi99u37nvo4x28f7nzctr9J0lq-VnUwtQD-SFIhpw9l4wN2-vjvyYnMmwQocPjKoxPSv9VAPRjchRPo36NWFZAB_kOa2__rooRf15bt4RSNetRuU8lJro5a8Tip94l5ofydc9tC-fraO-XeK91pCQqmhVZEkd0oZQqrpS2pK2qVosaG0mwmfLhRXszUCcsi29sR7Bky4VJXSIcn9oyFHNLzMu0dz5ss2fF3h7QeVKKIQuuY3jErgbAk_rttUvAUazYpWiBDqDwvqJYS7Smw%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/promotion/14527/wacom-for-post-production.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="43894"> <img src="assets/prmt/40d681e3e20a95073ec693c8a8c09151.jpg" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=40ccde29-72b6-43f9-852b-c2c1021094e1&amp;x=bHkMi99u37nvo4x28f7nzctr9J0lq-VnUwtQD-SFIhpw9l4wN2-vjvyYnMmwQocPjKoxPSv9VAPRjchRPo36NWFZAB_kOa2__rooRf15bt4RSNetRuU8lJro5a8Tip94l5ofydc9tC-fraO-XeK91pCQqmhVZEkd0oZQqrpS2pK2qVosaG0mwmfLhRXszUCcsi29sR7Bky4VJXSIcn9oyFHNLzMu0dz5ss2fF3h7QeVKKIQuuY3jErgbAk_rttUvAUazYpWiBDqDwvqJYS7Smw%3D%3D"></div>
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=aa338ef9-a052-479f-9aa1-ae04f4bf8171&amp;x=NFoV4Qo5UQSiriTcwpaodmdwwzREhVOMbknbMZGYPdU5I2oe7mVmGrshaNvCDyON9uz_VxDjHRFBoH43YW97eP48nmHMhjkQSNt6znF73drgUEzS-tayS0V0pxUotFPY5vJaXWPMVUdNZ7CkRfEvUuneYczsPOaWXpaScxgQ_cWGWdnYqgyZN7kyhsaEJySzae2jVglQqNwwHOAfgZqvPCvVQ9Je1hefGOAgtILh1lI_wBsFnSibPF3GhkMIB3iCUfqeWYbvGO51vB-3Tjp-Ng%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/promotion/15207/g-technology-storage-solutions.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="40864"> <img src="assets/prmt/dfe15a8946d86ba72db9e14f8d021cf6.jpg" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=aa338ef9-a052-479f-9aa1-ae04f4bf8171&amp;x=NFoV4Qo5UQSiriTcwpaodmdwwzREhVOMbknbMZGYPdU5I2oe7mVmGrshaNvCDyON9uz_VxDjHRFBoH43YW97eP48nmHMhjkQSNt6znF73drgUEzS-tayS0V0pxUotFPY5vJaXWPMVUdNZ7CkRfEvUuneYczsPOaWXpaScxgQ_cWGWdnYqgyZN7kyhsaEJySzae2jVglQqNwwHOAfgZqvPCvVQ9Je1hefGOAgtILh1lI_wBsFnSibPF3GhkMIB3iCUfqeWYbvGO51vB-3Tjp-Ng%3D%3D"></div>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Choosing a Mac Computer</h2>
                <p>The Apple ecosystem covers everything from slim, lightweight laptops for casual browsing to high-powered desktop solutions that cater to demanding applications. Apple products stand out for their quality and style. There are several distinct Mac product lines, and within each, an excellent choice of processor, memory, and storage options.</p>
                <br>
                <h3>Apple Mac Laptops</h3>
                <p>The <a href="https://www.bhphotovideo.com/c/buy/MacBook-MacBook-Pro/ci/13223/N/4110474291" title="MacBook">MacBook</a> is the smallest laptop, with a 12-inch screen. It has an IPS Retina screen with a pixel density of 2304 x 1440 for a quality media viewing experience. The <a href="https://www.bhphotovideo.com/c/buy/macbook-air/ci/29066/N/3709772172" title="Apple MacBook Air">Apple MacBook Air</a> has a slightly larger 13.3-inch, high-resolution screen. There are several processor, SSD storage, and RAM options. Despite their slim size and light weight, both offer generous battery life and USB-C charging and connectivity.</p>
                <br>
                <h3>Desktop Solutions</h3>
                <p>The re-engineered Apple Mac mini is a full-fledged desktop computer. Despite its compact size, it has numerous connectivity options, powerful processors, and class-leading RAM memory storage. It's also configurable to allow for extra storage, and it has the ability to drive three concurrent displays.</p>
                <p>The <a href="https://www.bhphotovideo.com/c/buy/iMac/ci/6490/N/4110474295" title="Apple iMac">Apple iMac</a> takes desktop computing to a new level with its slim design that combines powerful processing capabilities inside the monitor housing to create an all-in-one solution. It's available in two screen sizes, and it offers multiple core processors. With its generous hard drive or SSD storage, the iMac is an ideal office workhorse.</p>
                <br>
                <h3>Professional Mac Computers</h3>
                <p>Apple Pro models offer higher specification processors, increased storage capacity, and generous RAM for better overall performance. The MacBook Pro laptop is available with a 13 or 15-inch high-definition Retina display, graphics card, and powerful processors.</p>
                <p>The iMac Pro is possibly the most powerful Apple computer, able to handle heavy-duty graphics work, such as HD video editing and graphics design tasks. Additionally, you can specify even more powerful processors, graphics cards, RAM memory, and SSD storage.</p>
                <p>The cylindrical Mac Pro offers similar processing capabilities to the iMac. Like the Mac mini, it's a stand-alone desktop computer solution offering users freedom to choose their own monitors and other peripherals.</p>
                <br>
                <h3>Peripherals and Accessories from the Mac Store</h3>
                <p>Integrate Apple laptops into your office network using docking stations that provide Gigabit Ethernet connectivity along with additional ports for larger monitors and other peripherals. Also available are a full range of keyboards, mice, and cable adapters. Keep laptop storage free with a full range of external hard drives, flash storage, and SSDs. Choose the right software for your home and office, including graphics design, accounting, word processing, photo editing, and video production software solutions.</p>
            </div>
        </div>


    </div>
</div>