<div id="categoryLandingContent" class="clp-hasCategoryImage
		clp-lightBreadcrumbs clp-lightPageTitle
		 clp-condensableTopBanner clp-ExpertsWidget">
    <div class="clp-topBannerArea">


        <div data-name="Optics" class="clp-pageImage js-pageImage" style="background-image: url('assets/bimages/BHJ-45358_OpticsHero1.jpg')"></div>





    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/optics/ci/978/N/4294541872" property="item" typeof="WebPage">
                        <span property="name">
                            Optics
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Optics</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Optics Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/david-s_bw.png" alt="David S., B&amp;H Optics Expert" title="David S., B&amp;H Optics Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/jacob-katz_bw_0.png" alt="Jacob Katz, B&amp;H Optics Expert" title="Jacob Katz, B&amp;H Optics Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="assets/explora/sites/default/files/exp/patrick_flynn_bw.png" alt="Patrick Flynn, B&amp;H Optics Expert" title="Patrick Flynn, B&amp;H Optics Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Optics/-/ci/978"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div data-selenium="mainCategories">
                        <!-- markdown -->

                        <!-- end markdown -->


                        <div class="clp-sectionContainer js-category-wrapper" data-selenium="categoriesSection">
                            <a style="position:absolute;" name=""></a>
                            <h2 class="clp-sectionTitle"></h2>
                            <ul class="clp-gridItemsContainer">
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Binoculars-Monoculars/ci/979/N/4294541838" id="Binoculars" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/910856.jpg" alt="Binoculars">

                                        <div class="clp-categoryName">Binoculars</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Telescopes-Astronomy/ci/3389/N/4100994442" id="Telescopes" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/681812.jpg" alt="Telescopes">

                                        <div class="clp-categoryName">Telescopes</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Scopes/ci/980/N/4294541818" id="Spotting Scopes" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/917620.jpg" alt="Spotting Scopes">

                                        <div class="clp-categoryName">Spotting Scopes</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Riflescopes-Accessories/ci/13521/N/4100994459" id="Riflescopes   Sights" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1032425.jpg" alt="Riflescopes &amp; Sights">

                                        <div class="clp-categoryName">Riflescopes &amp; Sights</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Nightvision/ci/14430/N/4040858860" id="Night   Thermal Vision" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1073079.jpg" alt="Night &amp; Thermal Vision">

                                        <div class="clp-categoryName">Night &amp; Thermal Vision</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/field-accessories/ci/25909/N/3808211486" id="Field Accessories" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/887760.jpg" alt="Field Accessories">

                                        <div class="clp-categoryName">Field Accessories</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/Monoculars-Rangefinders/ci/17400/N/4223241073" id="Monoculars" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/851643.jpg" alt="Monoculars">

                                        <div class="clp-categoryName">Monoculars</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/buy/laser-rangefinders/ci/37565" id="Laser Rangefinders" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1076885.jpg" alt="Laser Rangefinders">

                                        <div class="clp-categoryName">Laser Rangefinders</div>
                                    </a>
                                </li>
                                <li class="clp-category" data-selenium="category">

                                    <a class="overlay-on-hover" href="https://www.bhphotovideo.com/c/browse/Microscopes/ci/12412/N/4220238042" id="Microscopes" data-selenium="categoryLink">


                                        <img class="clp-150CatImg" src="assets/images/images150x150/1103305.jpg" alt="Microscopes">

                                        <div class="clp-categoryName">Microscopes</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--end.categoriesSection-->


                        <section id="shop-by-application">
                            <h2>What I'd like to view</h2>
                            <div class="categories-container">
                                <ul>

                                    <li>
                                        <a href="https://www.bhphotovideo.com/c/birding/ci/40151/sba">
                                            <span>Birding</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="https://www.bhphotovideo.com/c/lunar-eclipse/ci/41610/sba">
                                            <span>Lunar Eclipse</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="view-more-container">
                                <a href="javascript:void(0);" class="view-more-link">VIEW MORE <svg>
                                        <use xlink:href="#right-arrow"></use>
                                    </svg></a>
                            </div>
                        </section><!--  /shop-by-application-section -->




                    </div>
                    <!--end#pageBody-->




                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div data-selenium="htmlSectionAd">
                            <div> <a href="https://www.bhphotovideo.com/c/birding/ci/40151/sba" target="_self" style="text-align: center"> <img src="assets/bimages/49152_Birding_180px.jpg" alt="Birding photography" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                        </div>





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;978&quot;}" data-count="3" data-slot="1165"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;978&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=b389cbc3-62ba-44fb-9a92-6639a43237a8&amp;x=pcXrjXZfX_GUvKAIrIOabdStN-7RfaweNn-kmbGBNdbJYYEPnxoWop743NP6Xbv_n1Xv7_WS6RkOw0TS2_ShiyInoYvgzdpjOOknwIa9a1TZm9oFzkeBxD4YdAAN527feYUgjAEH5SxQH1vOUUt9vc4XxCoQYvqKBupYj86wAg4rpXGw4-wznNE_rLIHxH0_yciDaQHAyRkhMjCybYaLzfOJ6pezJ2PxaU5_NmLM01bDjyGtl-9ApaO5wITkEbQe3IpG08ltexQtZGfgUUywOQ%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/product/1447193-REG/coast_21593_hx5r_rechargeable_focusing_pocket.html" class="overlay-on-hover" style="text-align: center" data-campaign-id="43588"> <img src="assets/prmt/a56bfd810bc6f1c69a108aeaf8f89382" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=b389cbc3-62ba-44fb-9a92-6639a43237a8&amp;x=pcXrjXZfX_GUvKAIrIOabdStN-7RfaweNn-kmbGBNdbJYYEPnxoWop743NP6Xbv_n1Xv7_WS6RkOw0TS2_ShiyInoYvgzdpjOOknwIa9a1TZm9oFzkeBxD4YdAAN527feYUgjAEH5SxQH1vOUUt9vc4XxCoQYvqKBupYj86wAg4rpXGw4-wznNE_rLIHxH0_yciDaQHAyRkhMjCybYaLzfOJ6pezJ2PxaU5_NmLM01bDjyGtl-9ApaO5wITkEbQe3IpG08ltexQtZGfgUUywOQ%3D%3D"></div>
                        </div>





                        <span class="clp-sidebarItemDivider"></span>



                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/photography/features/cameras-on-30-interplanetary-spacecraft" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/cs_parker-solar-prob-2018-08-13_0.jpg" data-src="assets/explora/sites/default/files/cs_parker-solar-prob-2018-08-13_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Features</h6>
                                    <div class="ellipsizer">
                                        <p>Cameras on 30 Interplanetary Spacecraft</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/outdoors/buying-guide/spotting-scopes-vs-telescopes-for-beginner-astronomers" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/27205-covershot-aug-1-19.png" data-src="assets/explora/sites/default/files/27205-covershot-aug-1-19.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Spotting Scopes vs. Telescopes for Beginner Astronomers</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/outdoors/buying-guide/eyepiece-imagers-capture-the-universe-and-share-tweet-or-whatever-it" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/24618-covershot2.png" data-src="assets/explora/sites/default/files/24618-covershot2.png">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Eyepiece Imagers: Capture the Universe and Share, Tweet, or Whatever It</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link" style="display: block;">
                            <a href="https://www.bhphotovideo.com/explora/photography/buying-guide/gifts-for-bird-photographers" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/24542-cs_0.jpg" data-src="assets/explora/sites/default/files/24542-cs_0.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Buying Guide</h6>
                                    <div class="ellipsizer">
                                        <p>Gifts for Bird Photographers</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="clp-sidebar-explora-link js-clp-sidebar-explora-link">
                            <a href="https://www.bhphotovideo.com/explora/outdoors/tips-and-solutions/the-perseid-meteor-shower-what-is-it-and-how-do-i-view-it" class="clp-textSidebarBanner overlay-on-hover js-exploraLink">
                                <div class="clp-sidebarImgHelper">
                                    <img class="clp-sidebarBannerImg js-clp-unveil" src="assets/explora/sites/default/files/23979-cs.jpg" data-src="assets/explora/sites/default/files/23979-cs.jpg">
                                </div>
                                <div class="clp-sidebarBanner-text clp-sidebarBanner-textWithHeading">
                                    <h6>Tips and Solutions</h6>
                                    <div class="ellipsizer">
                                        <p>The Perseid Meteor Shower—What Is It and How Do I View It?</p>
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <p></p>
                <h2>Optics</h2>
                <p>There’s so much to see out there! It would be a shame to miss out on that special optical moment—no matter how far away! Luckily, with the range of affordable optical sights, scopes and visual aids offered here at B&amp;H, you can view, zoom in on, and capture every single spectacle.</p>
                <p>Whether you have your eye on photographing distant vistas, mapping the night sky, bird spotting, or tracking elusive prey, you can choose from thousands of optical items for sale—from <a href="https://www.bhphotovideo.com/c/browse/Binoculars-Monoculars/ci/979/N/4294541838">binoculars</a>&nbsp; and sights to thermal vision goggles and riflescopes… even opera glasses! We also carry binoculars and telescopes especially designed to safely observe the sun.</p>
                <p>Wondering where to begin?Not to worry. Our rigorously trained product specialists know our inventory inside and out, so if you have a question (or four), we’re ready with the answers! Call or Live Chat today—we dare you to stump us. And if you’re in the neighborhood, our NYC SuperStore stocks loads of display models that you can test out for yourself.</p>
                <p></p>
                <p>&nbsp;</p>
            </div>
        </div>


    </div>
</div>