<div id="categoryLandingContent" class="
		 clp-condensableTopBanner">
    <div class="clp-topBannerArea">

    </div>

    <div class="clp-content clearfix">
        <div class="new-page-width">





            <ul id="breadcrumbs" class="page-width" vocab="http://schema.org/" typeof="BreadcrumbList">
                <li class="first" property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com" property="item" typeof="WebPage">
                        <span property="name">
                            Home
                        </span>
                    </a>
                    <meta property="position" content="1">
                </li>



                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/optics/ci/978/N/4294541872" property="item" typeof="WebPage">
                        <span property="name">
                            Optics
                        </span>
                    </a>
                    <meta property="position" content="2">
                </li>


                <li property="itemListElement" typeof="ListItem">
                    <a href="https://www.bhphotovideo.com/c/browse/Riflescopes-Accessories/ci/13521/N/4100994459" property="item" typeof="WebPage">
                        <span property="name">
                            Riflescopes &amp; Sights
                        </span>
                    </a>
                    <meta property="position" content="3">
                </li>

            </ul>





            <h1 class="clp-pageTitle">Riflescopes &amp; Accessories</h1>



            <section id="expertsWidget">
                <div class="experts-widget styled-async">
                    <div class="experts-widget-title left">
                        <div>True</div>
                        <div>Know-How</div>
                    </div>
                    <div class="experts-widget-profile left">
                        <div class="experts-widget-gettoknow">
                            <div class="experts-widget-gettoknowlabel">Get to know our</div>
                            <div class="experts-widget-category-experts">Optics Experts</div>
                        </div>
                    </div>
                    <div class="expert-imgs-links left">
                        <div class="experts-widget-headshots">
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/patrick_f_bw.png" alt="Patrick F., B&amp;H Optics Expert" title="Patrick F., B&amp;H Optics Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/david-s_bw_0.png" alt="David S., B&amp;H Optics Expert" title="David S., B&amp;H Optics Expert"> </div>
                            <div class="experts-widget-img-circle"> <img class="experts-widget-headshot" src="https://static.bhphotovideo.com/explora/sites/default/files/exp/jacob-k_bw.png" alt="Jacob K., B&amp;H Optics Expert" title="Jacob K., B&amp;H Optics Expert"> </div>
                        </div> <a class="experts-widget-page-link underline-on-hover" href="https://www.bhphotovideo.com/find/experts-profiles.jsp/Optics/-/ci/978"><span>See All</span><span><svg class="experts-list-svg">
                                    <use xlink:href="#right-arrow"></use>
                                </svg></span></a>
                    </div>
                    <div class="experts-widget-contact">
                        <div class="expert-widget-title-wrapper">
                            <div class="contact-expert-title">Contact an expert:</div>
                        </div>
                        <div class="expert-widgets-contact-wrapper"> <a class="contact-expert-livechat" href="https://www.bhphotovideo.com/find/liveChat.jsp" target="livechat"><span><svg class="experts-list-svg">
                                        <use xlink:href="#chat-square"></use>
                                    </svg></span><span class="underline-on-hover">Live Chat</span></a> <span class="contact-expert-telephone"><span><svg class="experts-list-svg">
                                        <use xlink:href="#phone-light"></use>
                                    </svg></span>800.606.6969</span> <a class="contact-expert-email js-openSlideInTray underline-on-hover" href="https://www.bhphotovideo.com/find/contactForm.jsp?destination=sales"><span><svg class="experts-list-svg">
                                        <use xlink:href="#envelope-light"></use>
                                    </svg></span>Email</a> </div>
                    </div>
                </div>
            </section>


        </div><!-- /new-page-width -->

        <div class="clp-sectionWrapper">
            <div class="new-page-width clearfix ">

                <div class="clp-categoryGroups">





                    <div class="clp-subCatPage" data-selenium="subCategories">
                        <ul class="clp-sectionContainer">

                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/buy/Riflescopes/ci/13522/N/4100994458" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/13522.jpg" alt="Scopes, Reflex &amp; Laser Sights">
                                    </div>

                                    <h2 class="clp-sectionTitle">Scopes, Reflex &amp; Laser Sights</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Riflescopes/ci/13525/N/4100994457">Riflescopes</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Red-Dot-Holographic-Sights/ci/16009/N/4100994455">Red Dot/Holographic Sights</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Maginfiers/ci/19098/N/3890694438">Multipliers (Magnifiers)</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Night-Sights/ci/13946/N/4100994456">Iron &amp; Night Sights</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Laser-Designators/ci/9809/N/4100994454">Laser Sights</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/archery-sights/ci/25603/N/3887599959">Archery Sights</a></li>

                                </ul>
                            </li>
                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/buy/Accessories/ci/13523/N/4100994453" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/13523.jpg" alt="Scope &amp; Sight Accessories">
                                    </div>

                                    <h2 class="clp-sectionTitle">Scope &amp; Sight Accessories</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Lens-Shades/ci/9263/N/4100994447">Lens Shades &amp; Filters</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Lens-Covers/ci/12375/N/4100994452">Scope Caps</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Scope-Covers/ci/12376/N/4100994451">Riflescope Cases</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Sight-Accessories/ci/17471/N/4100994449">Scope Parts &amp; Add-Ons</a></li>

                                </ul>
                            </li>
                            <li class="clp-category" data-selenium="category">
                                <a class="overlay-on-hover clp-gridItemsContainer" href="https://www.bhphotovideo.com/c/buy/Scope-Mounting/ci/19212/N/4100994446" data-selenium="categoryLink">

                                    <div class="clp-subcatImageContainer">
                                        <img src="/images/categoryTemplate/19212.jpg" alt="Scope Mounting">
                                    </div>

                                    <h2 class="clp-sectionTitle">Scope Mounting</h2>
                                </a>
                                <ul class="clp-gridItemsContainer clp-subCatLinks">

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Mounting-Rings/ci/9261/N/4100994445">Scope Rings</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Mounting-Base-Adapter/ci/9262/N/4100994444">Bases &amp; Mounts</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/tool-kits/ci/38262">Tool Kits</a></li>

                                    <li><a href="https://www.bhphotovideo.com/c/buy/Bore-Sights-Mounting-Tools-Accessories/ci/9264/N/4100994443">Zeroing Instruments</a></li>

                                </ul>
                            </li>


                        </ul>
                    </div>



                    <!--moreIn mainBodySection -->





                </div>





                <div class="clp-sidebar has-item" data-selenium="sideContent">
                    <div class="clp-sectionContainer">





                        <div class="js-externalAdContainer relative js-pla-container clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;13521&quot;}" data-count="3" data-slot="1155"></div>





                        <div class="js-externalAdContainer relative js-externalImageAdContainer clp-sidebarAdsContainer clp-gridItemsContainer" data-targets="{&quot;category&quot;:&quot;13521&quot;}" data-count="2" data-slot="1130" data-size="category_sidebar">
                            <div class="externalAd"> <a href="https://ad.tagdelivery.com/click?id=41ccb573-360d-4937-9dc2-8089b7490de2&amp;x=EcyuAEWITEIgdWsIjf0flH0NATfcLSzyyZ25ZZmeZG1iw7pbLqDOmRur6QTlpbLxsAdLxJtQtUoiUkWT9eSl_FetizVKjP5PLep7WqSjPTAYZv64uK_Ly1HI5p92HXoVFYGsFJVyDt_MIEllr4eHxcJrbfPoGOjDWniIZxXLQN-sFQ40pC5tvIgdguqAihfEPmVIo4fzQHLkebqQQuU6H4xtwGX-Z_nbNN6YvvIxQhz5PJW5SrrxjX8gherm2fkvEY5O2qVLaGqjNQDUm6Jkjg%3D%3D&amp;redirect=https://www.bhphotovideo.com/c/buy/items/ci/43000" class="overlay-on-hover" style="text-align: center" data-campaign-id="39803"> <img src="https://pubsaf.global.ssl.fastly.net/prmt/161fa6deae00fdeac7d1df964bd2019b" alt="ad" style="vertical-align: bottom; max-width: 100%"> </a> </div>
                            <div style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://ad.tagdelivery.com/impression?id=41ccb573-360d-4937-9dc2-8089b7490de2&amp;x=EcyuAEWITEIgdWsIjf0flH0NATfcLSzyyZ25ZZmeZG1iw7pbLqDOmRur6QTlpbLxsAdLxJtQtUoiUkWT9eSl_FetizVKjP5PLep7WqSjPTAYZv64uK_Ly1HI5p92HXoVFYGsFJVyDt_MIEllr4eHxcJrbfPoGOjDWniIZxXLQN-sFQ40pC5tvIgdguqAihfEPmVIo4fzQHLkebqQQuU6H4xtwGX-Z_nbNN6YvvIxQhz5PJW5SrrxjX8gherm2fkvEY5O2qVLaGqjNQDUm6Jkjg%3D%3D"></div>
                        </div>





                    </div>
                </div> <!-- end clp-sidebar -->


            </div>




        </div>





        <div class="ld-long-description-wrapper">
            <div class="ld-long-description new-page-width">
                <h2>Learn About Weapon Scopes and Sights</h2>
                <p>Weapon scopes and sights provide shooters with an easier way to bring targets into sharp focus. They give you an extra edge when hitting targets, especially if you?re in motion. This makes a scope an important accessory for competitive shooters and hunters.</p>
                <br>
                <h3>Types of Rifle Scopes</h3>
                <p>With so many types of rifle sights available, you need to know which one is right for your needs.</p>
                <p><strong>1. Reflex sights</strong></p>
                <p>Also called reflector sights, reflex sights use an aiming point marking to bring the target into sharp focus. The aiming point is usually superimposed on your field of view with a reflecting glass, helping you focus on the target.</p>
                <p><strong>2. Laser sights</strong></p>
                <p>Laser sights emit lasers that bounce off the targets, helping you to know where you?re aiming. These <a href="https://www.bhphotovideo.com/c/buy/Laser-Designators/ci/9809/N/4100994454">laser aiming devices</a> are powerful enough to appear over long distances, making them a good choice for long-range shooters.</p>
                <p><strong>3. Telescopic sights</strong></p>
                <p>There are two types of telescopic sights: fixed scopes and adjustable scopes. Fixed scopes offer little adjustability, but they provide you with a simple, easy-to-use optic for occasional shooting. Adjustable scopes offer different powers of magnification, allowing you to focus on close-, mid- and long-range targets with simple adjustments. They?re ideal for avid shooters.</p>
                <p><strong>4. Holographic sights</strong></p>
                <p>Holographic sights use advanced photography to superimpose a reticle onto your field of view. Unlike reflex sights, holographic sights don?t have reflective coatings. This means that the path of light doesn't distort or curve.</p>
                <br>
                <h3>Types of Bow Sights</h3>
                <p>Bow sights are gadgets mounted on the bow riser to help archers and bow hunters aim better. They give a better view of the arrow?s direction. There are two main types of bow sights<strong>:</strong> fixed pin and adjustable pin sights. Adjustable pin sights allow you to set a movable pin for the correct shooting distance before you draw your arrow. Fixed pin sights have multiple fixed pins for predetermined distances.</p>
                <br>
                <h3>Choosing the Right Weapon Scope and Sights</h3>
                <p>It?s important to ensure that your scope matches your weapon, application, and <a href="https://www.bhphotovideo.com/c/browse/Scope-Mounting/ci/19212/N/4100994446">rifle scope mounting</a> type. A rifle scope?s power is expressed in a series of numbers, such as 4x32 or 3.5-10x50. These numbers represent their magnification and objective diameter. For instance, a 4x32 scope means that the magnification of an object is up to four times in a 32mm field of view. Also, choose the right size <a href="https://www.bhphotovideo.com/c/buy/Mounting-Rings/ci/9261/N/4100994445">rifle scope mounting rings</a> for your scopes. Most of them have ring diameters of 30mm and 1 inch, but you can also shop for accessory-specific rings.</p>
                <br>
                <p>Whether you?re a hunter or a competitive sports shooter, having the right scope on your weapon will take your shooting accuracy a notch higher. Check out B&amp;H Photo and Video?s wide variety of rifle scope accessories and sights to find something that?ll work for you.</p>
            </div>
        </div>


    </div>
</div>
